<style type="text/css">
dd {
	margin-bottom: 1em;
}
</style>

<div class="group group-xs">
	<ul>
		<li>
			<button id="stab20" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab20', 'step20', 'shtabcontent', 'shtablinks');">
			Árbol de menús</button>
		</li>
		<li>
			<button id="stab21" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab21', 'step21', 'shtabcontent', 'shtablinks');">
			Preguntas frecuentes</button>
		</li>
		<li>
			<button id="stab22" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab22', 'step22', 'shtabcontent', 'shtablinks');">
			Operatoria</button>
		</li>
		<li>
			<button id="stab23" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab23', 'step23', 'shtabcontent', 'shtablinks');">
			¿Cómo&hellip;?</button>
		</li>
	</ul>
</div>


<div id="step20" class="shtabcontent visible">
	<h3>Árbol de menús</h3>
	<div id="mh-tree" class="mtree"></div>
</div>

<div id="step21" class="shtabcontent hide">
	<h3>Preguntas frecuentes</h3>
	<dl>
		<dt>¿Qué pasos esenciales debo seguir para comenzar a utilizar PATHFINDER?</dt>
		<dd>
			Son muy pocos, y bastante sencillos de seguir:
			<ol style="margin-top: 0; margin-bottom: 0;">
				<li>
					Asegúrese de que dispone de un nombre de una identificación válida en 
					<a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a>. Puede conseguir una 
					contactando con el equipo de desarrollo.
				</li>
				<li>
					Descargue el archivo desde el servidor de datos y guárdelo en un lugar conocido de su ordenador. 
					recuerde que ES MUY IMPORTANTE recordar el PIN suministrado: sin él no podrá decodificar el archivo JSON.
				</li>
				<li>
					Abra el archivo guardado. PATHFINDER le preguntará el correspondiente PIN.
				</li>
				<li>
					Consulte la <a href="javascript:toolkit.goto('documents');">documentación</a> para saber cuáles son las operaciones que 
					puede realizar con PATHFINDER y cómo debe hacerlas.
				</li>
			</ol>
		</dd>
		<dt>¿Es necesaria una conexión con Internet activa para utilizar PATHFINDER?</dt>
		<dd>
			Solamente para descargar o renovar el archivo JSON que se utiliza para preparar la base de datos, que debe 
			haber sido generado por <a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a>.
		</dd>
		<dt>¿Es preciso disponer de un equipo muy potente para trabajar con PATHFINDER?</dt>
		<dd>
			En absoluto. De hecho no es un "programa" al uso, que sea necesario "instalar" en el ordenador cliente, sino 
			que utiliza el navegador que en él haya y funciona mediante <em>scripts</em>. Hemos tratado de ceñirnos al paradigma de 
			<em>Poor Man Computing</em>, preconizado, entre otros, por Alexander Shchepetkin, I.G.P.P. UCLA, en su conferencia de 
			Venecia en octubre de 2004. Se trata de hacer lo máximo posible con las herramientas más simples y al alcance de la 
			mano de cualquiera. De hecho, no es necesario adquirir <em>hard</em> o <em>soft</em> adicional para usarlo.
			<br /><br />
			PATHFINDER ha sido probado en condiciones duras, con poca memoria RAM disponible, con diversos sistemas 
			operativos (Windows, macOS, Linux) y con un amplio conjunto de navegadores (Chrome, Firefox, Opera, Safari). 
			Visite la página de requisitos para averiguarlo. Lo único realmente imprescindible es disponer de una versión 
			actualizada del <em>browser</em> que se vaya a emplear. PATHFINDER utiliza tecnologías punteras 
			(ECMAScript 5, 6 y algunas cosas de 7) que aprovechan las características más avanzadas de programación. 
			Un navegador obsoleto no funcionará bien, causará errores y no permitirá obtener el rendimiento adecuado.
		</dd>
		<dt>
			¿Puedo usar los datos procedentes de <a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a> 
			para mi investigación y publicarlos?
		</dt>
		<dd>
			Los términos legales de PATHFINDER así lo establecen. Su propósito principal es ser una <em>herramienta</em> 
			para ayuda a la investigación en el entorno de la Historia del Arte Digital y las Humanidades Digitales. Sin 
			embargo, necesitará disponer de un permiso para ello, entre otras cosas porque no tendrá acceso a datos actualizados si 
			no cuenta con un juego de credenciales de <a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a>. 
			En la página <a href="javascript:toolkit.goto('legal');">legal</a> puede localizar la información que precise.
		</dd>
		<dt>¿Qué puedo hacer si he perdido u olvidado el PIN de acceso al archivo JSON?</dt>
		<dd>
			PATHFINDER utiliza los datos de <a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a> en un 
			archivo que es cifrado con un algoritmo simétrico, sencillo pero eficiente, antes de ser almacenado en el 
			disco del ordenador cliente. No podrá descifrarlo si no dispone de dicha clave. En ese caso deberá volver a realizar 
			una nueva <a href="javascript:toolkit.goto('data');">descarga</a>.
		</dd>
		<dt>¿Qué puedo hacer si me aparece un error al tratar de realizar una operación?</dt>
		<dd>
			En primer lugar tome nota del mensaje sobre el mismo que se muestra en pantalla. Normalmente ls información sobre 
			el error es escueta, pero es posible hacerla más detallada. Para ello, vaya a la página de 
			<a href="javascript:toolkit.goto('settings');">ajustes</a> y en el apartado <em>Ajustes</em> &rarr; <em>Control de errores</em> &rarr; 
			<em>Mensajes de error detallados</em> marque <em>sí</em>. Cuando obtenga la "trayectoria" del error, 
			anótela y envíe copia al equipo de desarrollo de PATHFINDER empleando para ello la 
			<a href="javascript:toolkit.goto('legal');">página de contacto</a>.
		</dd>
		<dt>
			Al abrir el archivo JSON descargado desde <a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a> 
			me da un error diciendo que el registro no es correcto ¿A qué se puede deber?
		</dt>
		<dd>
			Fundamentalmente a cuatro causas:
			<ol style="margin-top: 0; margin-bottom: 0;">
				<li>
					En ocasiones, durante la descarga de datos desde el servidor, cabe la posibilidad de que un error de red 
					inadvertido cause un desajuste en algún carácter. En ese caso, el archivo se guardará con dicho error y 
					no podrá ser utilizado. Deberá volver a descargar uno nuevo.
				</li>
				<li>
					Si se especifica un juego incorrecto de credenciales 
					<a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a> 
					para identificarse en el servidor de datos, PATHFINDER "falla silenciosamente", con ánimo de no alertar 
					al respecto a cualquier intruso, y simplemente descarga un archivo con contenido incorrecto. Al tratar de acceder 
					a él para cargarlo en la base de datos se produce un error.
				</li>
				<li>
					El PIN que ha especificado a la hora de abrir el archivo no es correcto. Al hacerlo, PATHFINDER obtiene 
					una decodificación errónea y los valores que busca el sistema no son correctos. Vuelva a intentar la operación y 
					cerciórese de que el PIN es el adecuado.
				</li>
				<li>
					Ha intentado abrir un archivo que no ha sido descargado del servidor 
					<a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a>, y, lógicamente, no contiene 
					la información pertinente. Vuelva a realizar una descarga.
				</li>
			</ol>
		</dd>
		<dt>
			¿Tarda mucho PATHFINDER en cargar la base de datos?
		</dt>
		<dd>
			Durante el proceso de carga, la aplicación realiza numerosas operaciones, entre ellas "limpiar" los registros erróneos 
			y calcular edades de los registros pertinentes. En líneas generales, aunque estas cifras dependen del microprocesador del 
			ordenador cliente, PATHFINDER procesa entre 37.000 y 45.000 registros por segundo, por lo que 500.000 los procesa en 
			un lapso que oscila entre los 11 y los 13,5 segundos. Las operaciones de filtrado, paginación y búsqueda están por 
			debajo de 1 segundo para ses volumen de datos, aunque depende de la complejidad de condiciones del filtro. 
		</dd>
	</dl>
</div>

<div id="step22" class="shtabcontent hide">
	<h3>Operatoria</h3>
	<p>
		El modelo normal de operación con PATHFINDER está representado en el siguiente diagrama. Las tareas situadas más arriba 
		son necesariamente precedentes de las situadas más abajo.
	</p>
	<img src="./assets/img/illustrations/operation_es.svg" />
	<p class="margin-top-s">
		LEYENDA: 
		<span style="color:#b6d7a8">&#9608;</span> Proceso. 
		<span style="color:#ffd966">&#9608;</span> Proceso predefinido. 
		<span style="color:#d9d2e9">&#9608;</span> Decisión. 
	</p>
</div>
<div id="step23" class="shtabcontent hide">
	<h3>¿Cómo&hellip;?</h3>
	<p>
		¿Qué debo hacer para realizar ciertas operaciones? Aunque no es una lista exhaustiva, complementa el manual con pequeños "atajos" y 
		vías directas a soluciones rápidas. Si no halla aquí la respuesta a lo que busca, consúltelo con el 
		<a href="javascript:toolkit.goto('legal');">equipo de desarrollo</a>. La solución se añadirá aquí, de manera que este apartado se convierta 
		en un repositorio de ayuda cada vez más extenso.
	</p>
	<h4>¿Cómo puedo&hellip;</h4>
	<dl>
		<dt>&hellip;acotar los límites de la investigación?</dt>
		<dd>
			La mejor manera es usar un <em>filtro</em>. Para ello deberá acceder a la página de 
			<a href="javascript:toolkit.goto('legal');">datos</a>, cerciorarse de que dispone de un archivo JSON válido, 
			cargarlo en la base de datos y abrir el <em>listado</em>. En la cabecera de la tabla paginada se muestran dos símbolos: 
			<span class="no-data">[+]</span> para <em>añadir condiciones al filtro</em> y 
			<span class="no-data">[-]</span> para <em>quitar todas las condiciones del filtro</em>. Si hace eso último, PATHFINDER 
			volverá al estado inicial, en el que <em>todos los registros son considerados</em> y no se ha delimitado el 
			campo de trabajo mediante la creación de un subconjunto de datos o <em>dataset</em>.
			<br /><br />
			Recuerde que las condiciones son <em>lógicas</em> y se aplican realizando operaciones de 
			<a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/Intersección_de_conjuntos"><em>intersección</em></a>, 
			<a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/Unión_de_conjuntos"><em>unión</em></a> o 
			<a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/Diferencia_de_conjuntos"><em>diferencia</em></a> 
			de conjuntos ("datasets"). Consulte el apartado de <em>ayuda</em> específica en la ventana de filtro para 
			obtener instrucciones concretas de cómo realizarlos.
		</dd>
	</dl>
</div>
