<h3 id="title-basemaps">Proveedores de cartografía base</h3>
<p>
	PATHFINDER utiliza proveedores gratuitos de cartografía base de tipo 
	<a rel="nofollow" target="_blank" href="https://mappinggis.com/2015/12/los-formatos-gis-raster-mas-populares/"><em>raster</em></a>. 
	La lista de los mismos de muestra a continuación.
</p>
<div class="table-responsive">
	<table>
		<tbody>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/1920px-CARTO-logo.svg.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/CARTO">CartoDB</a>
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/esri-logo-black.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/Esri">Esri</a>
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/openstreetmap-2.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" href="https://github.com/karlwettin/tilemill-style-hydda">Hydda</a>
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/09-opentopomap-logo-sidebar.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" href="https://opentopomap.org/about">OpenTopoMap</a>
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/openstreetmap-2.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" href="https://opentopomap.org/about">OpenStreetMap (OSM)</a>
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/stamendesign.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Stamen">Stamen</a>
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/Wikimedia-logo-V.svg.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" href="https://www.wikimedia.es/wiki/Portada">Wikimedia</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>