<h3 id="title-basemaps">Proveedores de cartografía base</h3>
<p>
	PATHFINDER utiliza proveedores gratuitos de cartografía base de tipo 
	<a rel="nofollow" target="_blank" href="https://mappinggis.com/2015/12/los-formatos-gis-raster-mas-populares/"><em>raster</em></a>. 
	La lista de los mismos de muestra a continuación.
</p>
<div class="table-responsive">
	<table>
		<tbody>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/1920px-CARTO-logo.svg.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://es.wikipedia.org/wiki/CARTO">CartoDB</a>. 
					Plataforma <em>Software as a Service</em> (SaaS) de computación en nube que proporciona 
					herramientas SIG y de mapeo web para visualizar en un navegador web.
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/esri-logo-black.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://es.wikipedia.org/wiki/Esri">Esri</a>. 
					Fundado por Jack Dangermond en 1969 para trabajos de consultoría del territorio, 
					<em>Environmental Systems Research Institute</em> (Esri) desarrolla y comercializa 
					software para Sistemas de Información Geográfica y es una de las compañías líderes 
					en el sector a nivel mundial.
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/openstreetmap-2.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://github.com/karlwettin/tilemill-style-hydda">Hydda</a>, 
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://opentopomap.org/about">OpenStreetMap (OSM)</a>, 
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://opentopomap.org/about">OpenTopoMap</a>, 
					derivaciones del mismo proyecto (OSM) crean y gestionan mapas editables de libre acceso. 
					El tamaño de la base de datos (llamada planet.osm) se situaba en julio de 2017 por encima de los 800 gigabytes.
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/stamendesign.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://en.wikipedia.org/wiki/Stamen">Stamen</a>. 
					Con la base cartográfica y funcional de 
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://opentopomap.org/about">OSM</a>, dan 
					formato, en ocasiones visualmente muy sugerente, atractivo y útil, a mapas de acceso público.
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/Wikimedia-logo-V.svg.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://www.wikimedia.es/wiki/Portada">Wikimedia</a>. 
					Repositorio de archivos de medios que pone a disposición pública, en numerosos idiomas, 
					contenido de finalidad educativa de dominio público, incluyendo mapas.
				</td>
			</tr>
		</tbody>
	</table>
</div>