<h4 class="margin-top margin-bottom" id="help-subtitle">Tema</h4>

<p>
	PATHFINDER permite configurar ciertas características del interfaz para comodidad del usuario. Elija 
	los valores que desee; la selección será permanente y se almacenará en el ordenador cliente.
</p>


<form class="pure-form">
	<fieldset>
		<legend for="theme-color">Colores</legend>
		<label class="margin-right" for="theme-bgcolor">Primer plano
		<input id="theme-color" type="color" onchange="screen.theme('color', this.value);" value="#777777">
		</label>
		<label for="theme-bgcolor">Fondo
		<input id="theme-bgcolor" type="color" onchange="screen.theme('background-color', this.value);" value="#ffffff">
		</label>
		<br />
		<small class="text-grey">Afecta al fondo de pantalla principal. Tenga en cuenta que debe elegir un color que 
	no entre en conflicto con el del tipo de letra empleado en la aplicación.</small>
	</fieldset>
	
	<fieldset>
		<legend for="theme-color">Tipos de letra</legend>
		<label>Principal</label>
		<a href="javascript:screen.theme('font-family-main', 'Helvetica,Arial,sans-serif');" 
			style="font-family:Helvetica,Arial,sans-serif">
			sin serif</a>, 
		<a href="javascript:screen.theme('font-family-main', '\'Georgia\',serif');" 
			style="font-family:Georgia,serif">
			serif</a> o 
		<a href="javascript:screen.theme('font-family-main', 'Courier,monospace');" 
			style="font-family:Courier,monospace">
			monoespaciada</a>
		<br />
		<label>Alternativa</label>
		<a href="javascript:screen.theme('font-family-alternate', 'Helvetica,Arial,sans-serif');" 
			style="font-family:Helvetica,Arial,sans-serif">
			sin serif</a>, 
		<a href="javascript:screen.theme('font-family-alternate', '\'Georgia\',serif');" 
			style="font-family:Georgia,serif">
			serif</a> o 
		<a href="javascript:screen.theme('font-family-alternate', 'Courier,monospace');" 
			style="font-family:Courier,monospace">
			monoespaciada</a>
		<br />
		<small class="text-grey">Los textos principales del interfaz se mostrarán con el tipo de letra seleccionado</small>
	</fieldset>
	
	<fieldset>
		<legend for="theme-color">Tamaño de letra</legend>
		<a href="javascript:screen.theme('font-size', '.8em');" style="font-size:.8em">pequeño</a>, 
		<a href="javascript:screen.theme('font-size', '1em');" style="font-size:1em">normal</a> o 
		<a href="javascript:screen.theme('font-size', '1.25em');" style="font-size:1.25em">grande</a>
		<br />
		<small class="text-grey">Todos los textos del interfaz se mostrarán con el tamaño de letra seleccionado</small>
	</fieldset>
</form>


