<h4 class="margin-vertical-s" id="help-subtitle">Cambio de idioma</h4>

<p class="margin-vertical-s">
	Al cambiar el idioma a <span class="no-data" id="cl-newl"></span> PATHFINDER se inicializará. En estos momentos la base de datos está 
	<span class="no-data" id="cl-dbstatus"></span>, y en caso de efectuar la operación solicitada los datos se descargarán y será necesario 
	volver a cargarlos para continuar con el funcionamiento normal del sistema.
</p>
<p class="margin-vertical-s" style="margin-bottom:1em">
	¿Desea realmente proceder a realizar la operación de cambio de idioma?
</p>
