<div class="group group-m group-center">
	<ul>
		<li>
			<a onclick="d.chartselectedtheme='vintage';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<img src="./assets/img/chartthemes/vintage.jpg" class="max-width-xxs" />
			</a>
			<a onclick="d.chartselectedtheme='vintage';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<p class="color-grey">vintage</p>
			</a>
		</li>
		<li>
			<a onclick="d.chartselectedtheme='dark';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<img src="./assets/img/chartthemes/dark.jpg" class="max-width-xxs" />
			</a>
			<a onclick="d.chartselectedtheme='dark';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<p class="color-grey">dark</p>
			</a>
		</li>
		<li>
			<a onclick="d.chartselectedtheme='infographic';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<img src="./assets/img/chartthemes/infographic.png" class="max-width-xxs" />
			</a>
			<a onclick="d.chartselectedtheme='infographic';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<p class="color-grey">infographic</p>
			</a>
		</li>
		<li>
			<a onclick="d.chartselectedtheme='roma';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<img src="./assets/img/chartthemes/roma.png" class="max-width-xxs" />
			</a>
			<a onclick="d.chartselectedtheme='roma';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<p class="color-grey">roma</p>
			</a>
		</li>
		<li>
			<a onclick="d.chartselectedtheme='macarons';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<img src="./assets/img/chartthemes/macarons.png" class="max-width-xxs" />
			</a>
			<a onclick="d.chartselectedtheme='macarons';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<p class="color-grey">macarons</p>
			</a>
		</li>
		<li>
			<a onclick="d.chartselectedtheme='shine';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<img src="./assets/img/chartthemes/shine.png" class="max-width-xxs" />
			</a>
			<a onclick="d.chartselectedtheme='shine';charts.#f#();if(gscreen.alert){gscreen.alert.remove();gscreen.alert=undefined;}">
				<p class="color-grey">shine</p>
			</a>
		</li>
	</ul>
</div>