<h4 class="padding-vertical-s">Códigos de colores</h4>

<p>
	PATHFINDER utiliza un sistema codificado de colores para identificar diferentes tipos de elementos. 
	Los <a href="#documents">tipos de registro primarios</a> se identifican de acuerdo a la siguiente 
	tabla.
</p>	

<div class="table-responsive no-margin">
	<table>
		<tbody>
			<tr>
				<th class="text-align-center">
					<button class="button button-square button-success">P</button>
				</th>
				<th>
					Actor
				</th>
				<td>
					Persona o entidad que interactúa con <em>catálogos</em> o 
					<em>exposiciones</em> a título de autoría, edición, ilustración, comisariado, 
					préstamo u otras circunstancias.				
				</td>
			</tr>
			<tr>
				<th class="text-align-center">
					<button class="button button-square button-tertiary">B</button>
				</th>
				<th>
					Catálogo
				</th>
				<td>
					Cualquier artículo, libro, página web o texto en general que se 
					emplee para ilustrar al visitante acerca de una determinada exposición. Su uso "natural" 
					es para almacenar información sobre los "<em>catálogos</em>" de la misma. 
					Puede tener existencia física o ser <em>virtual</em>, representando, 
					en ese caso, el grupo de <em>obras de arte</em> que figuran en una 
					determinada exposición.			
				</td>
			</tr>
			<tr>
				<th class="text-align-center">
					<button class="button button-square button-secondary">C</button>
				</th>
				<th>
					Empresa
				</th>
				<td>
					Cualquier organismo cuya relación con las entidades,las exposiciones, 
					las publicaciones o las personas pueda definirse EXCLUSIVAMENTE en términos mercantiles, 
					comerciales o de negocio. La distinción, pues, 
					no se basa en el <em>carácter</em> público, privado o mixto de la misma ni en el hecho de 
					que sus fines incluyan o no ánimo de lucro, 
					sino en que la RELACIÓN sea lucrativa.				
				</td>
			</tr>
			<tr>
				<th class="text-align-center">
					<button class="button button-square button-error">E</button>
				</th>
				<th>
					Entidad
				</th>
				<td>
					Cualquier organismo con entidad legal que se utiliza en el contexto de 
					<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a>
					bien como un <em>origen de datos RSS/Atom o HTML</em>, 
					a partir de cuyos resultados el sistema explora la Red en búsqueda de información 
					sobre exposiciones temporales, bien como cualquier otro organismo que actúe como 
					soporte organizador o financiero de una exposición, 
					de su catálogo o al que se vincule una <em>persona</em> de forma laboral, 
					investigadora o académica.				
				</td>
			</tr>
			<tr>
				<th class="text-align-center">
					<button class="button button-square button-warning">X</button>
				</th>
				<th>
					Exposición
				</th>
				<td>
					Cualquier evento en el que se exhiba ante el público un conjunto de obras 
					de carácter artístico o cuya intencionalidad sea la de difundir conocimientos propios 
					de la disciplina académica de Historia del Arte.				
				</td>
			</tr>
			<tr>
				<th class="text-align-center">
					<button class="button button-square button-info">A</button>
				</th>
				<th>
					Obra de arte
				</th>
				<td>
					Cualquier manifestación de la actividad humana mediante la cual se 
					interpreta lo real o se plasma lo imaginado con recursos plásticos, lingüísticos o sonoros. 
					A efectos de PF, debe figurar vinculada a <em>actor/actores</em> o 
					<em>catálogo/catálogos</em>.
				</td>
			</tr>
		</tbody>
	</table>
</div>

<p>
	Cada tipo de enlace o botón dispone de un código de colores mostrado como una línea gruesa a la 
	izquierda, que indica el tipo de <em>actividad</em> que realizará. Dicho código se corresponde con la siguiente 
	tabla.
</p>

<div class="table-responsive">
	<table>
		<tbody>
			<tr>
				<td class="text-align-center">
					<button class="button button-square button-tertiary">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<circle cx="8" cy="8" r="8"></circle>
						</svg>
					</button>
				</td>
				<td>
					Generación de archivos y descarga a disco. PATHFINDER crea un archivo que contiene 
					la información solicitada y lo descarga en un disco del ordenador cliente que deberá 
					disponer de espacio libre suficiente.
				</td>
			</tr>
			<tr>
				<td class="text-align-center">
					<button class="button button-square button-secondary">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<circle cx="8" cy="8" r="8"></circle>
						</svg>
					</button>
				</td>
				<td>
					Descarga de archivos o información desde el servidor. Necesita que el ordenador cliente 
					esté conectado a Internet. En el caso de la descarga de archivos dicho ordenador deberá disponer 
					de espacio libre suficiente.
				</td>
			</tr>
			<tr>
				<td class="text-align-center">
					<button class="button button-square button-primary">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<circle cx="8" cy="8" r="8"></circle>
						</svg>
					</button>
				</td>
				<td>
					Presentación de información elaborada o calculada por PATHFINDER. Puede mostrarse en una 
					ventana emergente (en ocasiones a pantalla completa). Implica habitualmente un tiempo 
					variable de procesamiento.
				</td>
			</tr>
			<tr>
				<td class="text-align-center">
					<button class="button button-square button-warning">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<circle cx="8" cy="8" r="8"></circle>
						</svg>
					</button>
				</td>
				<td>
					Carga de archivo desde disco del ordenador cliente. Normalmente los archivos consumidos 
					por PATHFINDER suelen estar en formato 
					<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/JSON">JSON</a>.
				</td>
			</tr>
			<tr>
				<td class="text-align-center">
					<button class="button button-square button-success">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<circle cx="8" cy="8" r="8"></circle>
						</svg>
					</button>
				</td>
				<td>
					Información de ayuda. Generalmente se presenta en forma de ventana emergente.
				</td>
			</tr>
			<tr>
				<td class="text-align-center">
					<button class="button button-square button-grey">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<circle cx="8" cy="8" r="8"></circle>
						</svg>
					</button>
				</td>
				<td>
					Impresión o descarga de archivo de imagen o Adobe&trade; Acrobat&reg; (PDF).
				</td>
			</tr>
			<tr>
				<td class="text-align-center">
					<button class="button button-square button-info">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<circle cx="8" cy="8" r="8"></circle>
						</svg>
					</button>
				</td>
				<td>
					Operaciones del sistema.
				</td>
			</tr>
		</tbody>
	</table>
</div>