<h4 class="margin-top margin-bottom" id="help-subtitle">Leyenda de la tabla. Estadística descriptiva</h4>

<p class="margin-bottom">
	En PATHFINDER, el apartado <em>Estadísticas</em> dentro de las operaciones con datos muestra una selección 
	de valores estadísticos que pueden ayudar a comprender mejor las condiciones de distribución de la muestra 
	analizada. Las abreviaturas de las tablas empleadas se corresponden con los siguientes elementos.
</p>
<p>
	Si desea más información sobre los parámetros contemplados en el análisis estadístico, consulte la 
	<a href="#documents">documentación</a>.
</p>
<div class="table-responsive">
	<table class="mq-table pure-table-bordered pure-table table-smaller">
		<tbody>
			<tr>
				<td class="highlight is-text-center"><strong>FLD</strong></td>
				<td>
					Campo al que se refieren los datos.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>TYP</strong></td>
				<td>
					Tipo de contenido del campo: numérico, cadena de texto, fecha,&hellip;
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>FRQ</strong></td>
				<td>
					Indicadores referentes a la frecuencia de los datos.
					<ul>
						<li><strong>VAL</strong>: valores totales (número de filas totales recuperadas).</li>
						<li><strong>DST</strong>: valores distintos (número de filas con valores no repetidos).</li>
						<li><strong>MIS</strong>: valores ausentes (número de filas que no contienen un valor).</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>RNG</strong></td>
				<td>
					Indicadores referentes al rango de valores abarcado por los datos.
					<ul>
						<li><strong>MIN</strong>: valor mínimo.</li>
						<li><strong>DST</strong>: valor máximo.</li>
						<li><strong>(N)</strong>: rango total comprendido entre el valor mínimo y máximo.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>AVG</strong></td>
				<td>
					Indicadores referentes los valores que indican tendencia central en el conjunto de datos.
					<ul>
						<li><strong>MEA</strong>: media aritmética.</li>
						<li><strong>MED</strong>: mediana.</li>
						<li><strong>STD</strong>: desviación típica.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>QRT</strong></td>
				<td>
					Indicadores referentes a los extremos que determinan la presencia de valores significativos.
					<ul>
						<li><strong>Q1</strong>: límite de primer cuartil.</li>
						<li><strong>Q3</strong>: límite del tercer cuartil.</li>
						<li><strong>MSK</strong>: asimetría de moda.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>Entropía</strong></td>
				<td>
					Referente de interés a la hora de juzgar la importancia y significación de los datos contenidos en 
					un campo. Consulte al respecto la <a href="#documents">documentación</a>.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>D</strong> y <strong>J</strong></td>
				<td>
					Distancia mutua e índice Jaccard. Miden el grado de afinidad o semejanza entre las 
					frecuencias para un campo determinado. Consulte la <a href="#documents">documentación</a> 
					al respecto.
				</td>
			</tr>
		</tbody>
	</table>
</div>