<header class="margin-bottom-l">
	<div class="container">
	    	<img class="margin-right-s" src="./assets/img/logos/IMGLOGOPF.svg" alt="PATHFINDER" 
	    		style="height:100px;width:100px;float:left" />
		<h1 class="display-title display-title-xxl margin-top-s">
			<span class="margin-vertical-auto color-error">ERROR</span>
		</h1>
		<p class="lead lead-s margin-vertical-m">
			Si se muestra esta página es porque la aplicación 
			<strong>PATHFINDER</strong> ha sufrido un error recuperable.
		</p>
	</div>
</header>
<main>
	<section class="padding-vertical-l logo-background">
		<div class="container">
			<h2 id="title-error" class="color-error">Error 404.</h2>
	
			<p>
				La descripción del error es la siguiente: 
				<strong><span id="err-description"></span>.</strong>
			</p>
	
			<p>
				Si el error se ha producido al tratar de acceder a una página de PATHFINDER 
				es posible que se deba a haber escrito 
				de forma incorrecta su dirección. Utilice el menú para acceder a la 
				<a href="#home">página principal</a> o a cualquier 
				otra que desee. En caso de que el problema siga ocurriendo consulte con la 
				<a href="#legal">administración del sistema</a> para tratar de solucionarlo.
			</p>
		</div>
	</div>
</div>