<div class="group group-xs margin-bottom-l no-print">
	<ul>
		<li>
			<button id="xstab0" 
				class="xstablinks button button-grey button-border" 
				onclick="javascript:toolkit.generictab('xstab0', 'xc-atab-zero', 'xstabcontent', 'xstablinks');">
			Definición</button>
		</li>
		<li>
			<button id="xstab1" 
				class="xstablinks button button-grey button-border" 
				onclick="javascript:toolkit.generictab('xstab1', 'xc-atab-one', 'xstabcontent', 'xstablinks');">
			Recuento</button>
		</li>
		<li>
			<button id="xstab2" 
				class="xstablinks button button-grey button-border" 
				onclick="javascript:toolkit.generictab('xstab2', 'xc-atab-two', 'xstabcontent', 'xstablinks');">
			Términos</button>
		</li>
		<li>
			<button id="xstab3" 
				class="xstablinks button button-grey button-border" 
				onclick="javascript:toolkit.generictab('xstab3', 'xc-atab-three', 'xstabcontent', 'xstablinks');">
			Instrucciones</button>
		</li>
	</ul>
</div>

<div id="xc-atab-zero" class="xstabcontent visible active">

<div id="flt-incsubf" class="no-margin"></div>

<p class="margin-top">
	Condiciones: <strong id="flt-filterlength">1</strong>
	<button onclick="javascript:ui.addcondition();" 
		class="button button-square button-info button-s button-border margin-left-s" 
		data-tooltip="añadir condición">
		<svg width="24" height="18" viewBox="0 0 24 24" class="svgicon">
			<path class="plus" d=""></path>
		</svg>
	</button>
	<span class="form-message color-light margin-left-s">
		Fórmula: faceta + campo + operador + valor (lista de valores) = calcular o eliminar
	</span>
</p>

<div id="flt-main"></div>
</div>

<div id="xc-atab-one" class="xstabcontent hide">
<div class="margin-top-s" id="filter-info-stats" style="width: 100%; min-height: 4em;">Trabajando&hellip;</div>
</div>


<div id="xc-atab-two" class="xstabcontent hide">
<div id="flt-terms"></div>
</div>

<div id="xc-atab-three" class="xstabcontent hide">
	<p>
		PATHFINDER utiliza el paradigma de 
		<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/Filtro_(matemáticas)">
			filtro</a>, propio de la 
		<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/Teor%C3%ADa_de_conjuntos">
			teoría de conjuntos</a>.
		Básicamente trata de seleccionar un subconjunto de registros primarios 
		mediante inclusión o exclusión de determinadas características que afecten a sus títulos, 
		metadatos o taxonomías.
	</p>
	
	<p class="aside background-warning-50">
		<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
			<path class="bell" d=""></path>
		</svg>
		IMPORTANTE. Una vez aplicado un filtro a los datos, permanecerá activo 
		hasta que no se establezca un nuevo filtro o se elimine el que está presente.
	</p>
	
	<p class="aside background-info-50">
		<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
			<path class="info" d=""></path>
		</svg>
		A TENER EN CUENTA. La presencia de un filtro afecta a TODAS las operaciones 
		realizadas por PATHFINDER.
	</p>
	
	<h4 class="margin-vertical-s">Definición de filtro</h4>
	<p>
		Permite establecer condiciones que acotan el conjunto de registros primarios. El orden en que 
		añada las condiciones no afecta al resultado final.
	</p>
	<p>
		Puede añadir cualquier número de condiciones pulsando sucesivamente sobre el botón 
		<mark class="background-info-100">
			<svg width="14" height="14" viewBox="0 0 24 24" class="svgicon">
				<path class="plus" d=""></path>
			</svg>
		</mark>
	</p>
	<p>
		En cada condición los únicos campos obligatorios son <em>operador</em> y <em>valor</em>. 
		Cada condición consta de los siguientes elementos:
	</p>

	<ol>
		<li>
			<em>modificador</em>: extrae un aspecto determinado de ciertas 
			metainformaciones; por ejemplo, <em>año</em> o <em>día de la semana</em> de una fecha.
		</li>
		<li>
			<em>metainformación</em>: también denominado <em>faceta</em>; determina sobre 
			qué tipo de información se realizará la búsqueda; 
			por ejemplo, <em>lugar donde se celebra</em> una exposición.
		</li>
		<li>
			<em>operador</em>: determina cómo ha de cumplirse una condición; 
			por ejemplo, que un registro <em>contenga</em> o 
			<em>no sea igual</em> a un <em>valor</em> dado; 
			tenga en cuenta que dicho cumplimiento, si no se 
			especifica <em>modificador</em> o <em>metainformación</em>, 
			se verificará sobre <em>todos los registros</em>.
		</li>
		<li>
			<em>valor</em>: texto a buscar (puede ser una cifra, una fecha,&hellip;). 
			<p class="aside background-warning-50">
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
					<path class="bell" d=""></path>
				</svg>
				IMPORTANTE. Si utiliza el operador <em>entre</em> 
				separe los valores con el símbolo "/" (barra) Es decir, 
				si desea buscar un valor comprendido entre 2010 y 2011 escriba "2010/2011".
			</p>
			<p class="aside background-info-50">
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
					<path class="info" d=""></path>
				</svg>
				A TENER EN CUENTA. El uso de los operadores "contenga" y "no contenga" implica que 
				la búsqueda se realizará sin tener en cuenta mayúsculas, minúsculas o tildes (caracteres 
				acentuados).
			</p>
		</li>
		<li>
			búsqueda de coincidencias: el botón 
			<mark class="background-light-200 margin-right-xxs">
				<svg width="14" height="14" viewBox="0 0 24 24" class="svgicon">
					<path class="search" d=""></path>
				</svg>
			</mark>
			muestra una lista de valores presentes en los registros primarios, 
			taxonomías o metainformaciones que coincidan con lo que figura en <em>valor</em>. La 
			búsqueda se realizará utilizando el operador "contenga".
		</li>
		<li>
			resultado parcial: se muestra como una cifra con fondo 
			<mark class="background-error-50">rojo claro</mark> si es 0 y 
			<mark class="background-success-50">verde claro</mark> si es superior. Expresa el  
			número de registros primarios que cumplen la condición.
		</li>
		<li>
			quitar: borrar la condición.
		</li>
	</ol>

	<h4 class="margin-vertical-s">Inclusión y restricción</h4>
	<p>
		PATHFINDER realiza la operación de cálculo del filtro por pasos sucesivos:
	</p>
	<ol type="A">
		<li>
			Calcula los registros primarios que cumplen SIMULTÁNEAMENTE TODAS las condiciones expresadas 
			(intersección entre los subconjuntos).
		</li>
		<li>
			Calcula TODOS los registros primarios <em>relacionados</em> con los seleccionados en el paso A 
			que se hayan marcado en el botón 
			<mark class="background-light-200">Incluir</mark>.
		</li>
		<li>
			Incluirá en el resultado final los registros primarios seleccionados en el paso A más 
			los seleccionados en el paso B. Pero si se marca cualquier <em>campo relacional</em> 
			de los que se muestran al pulsar el botón 
			<mark class="background-light-200">Restricciones</mark>, solo se incluirán 
			de los seleccionados en el paso B aquellos que estén relacionados con los seleccionados 
			en el paso A por los campos marcados. Por ejemplo, si se incluyen 
			registros de tipo <em>actor</em> y se marcan como restricciones los campos relacionales 
			<em>actor comisario</em> y <em>coleccionista prestatario</em> PATHFINDER no seleccionará 
			ningún <em>actor artista</em> a menos que esté incluido en las condiciones 
			especificadas en el paso A; en ese caso, si se incluyen en las condiciones todas las exposiciones 
			en las que participe Goya como artista pero se restringen de la manera expresada, PF 
			filtrará las exposiciones del pintor aragonés con sus comisarios y prestatarios.
		</li>
	</ol>

	<h4 class="margin-vertical-s">Operaciones</h4>
	<p>
		PATHFINDER realiza las siguientes operaciones de filtro con los botones que figuran al 
		pie de la página.
	</p>	
	<ol>
		<li>
			Colecciones. Un grupo de condiciones, inclusiones y restricciones se denomina <emZ>colección</em>. 
			Una vez definido tal grupo puede guardarse en el disco local del ordenador cliente, y ser 
			recupero cuando se desee.
		</li>
		<li>
			Calcular. Revisa una por una todas las condiciones y calcula sus resultados parciales.
		</li>
		<li>
			Filtrar y limpiar. Establecer o borrar una colección como filtro.
		</li>
		<li>
			Vínculos de filtro. Botón que aparece una vez establecido 
			un filtro y que muestra un grafo dirigido con los distintos tipos de registros primarios 
			y la forma en que la colección de filtro los relaciona entre sí.
		</li>
	</ol>
	
	<h4 class="margin-vertical-s">Diagrama de un proceso de filtrado</h4>
	<img src="./assets/img/illustrations/filter_es.svg" class="margin-bottom-l">
</div>
