<div data-demo="footer" class="container">
	<p>
		<a href="javascript:info.app();">
			<span id="footer-application"></span>
		</a>
		&nbsp;|&nbsp;
		<a rel="noopener" target="_blank" href="https://hdplus.es">HD+</a>
		&nbsp;|&nbsp;
		<a id="doi-link" rel="noopener" target="_blank" href="">DOI</a>
		&nbsp;|&nbsp;
		<a id="github-link" rel="noopener" target="_blank" href="">GitHub</a>
		&nbsp;|&nbsp;
		&copy; 2019 
		<a rel="noopener" target="_blank" href="http://iarthislab.es">iArtHis_LAB</a>. All rights reserved. 
		<a rel="noopener" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES">
			CC BY-SA 4.0 
			<img src="./assets/img/logos/cc.svg" width="12" height="12" alt="cc creative commons" />
			<img src="./assets/img/logos/by.svg" width="12" height="12" alt="cc atribución" />
			<img src="./assets/img/logos/sa.svg" width="12" height="12" alt="cc compartir igual" />
		</a>
		<br />
		<a href="javascript:window.scrollTo(0,0);" title="ir al comienzo de la página">
			&#8613;
		</a>
		&nbsp;|&nbsp;
		<span data-demo="lang" id="nav-lang"></span>
		&nbsp;|&nbsp;
		<a data-demo="footerright" href="#legal">Información legal</a>
		&nbsp;|&nbsp;
		<a data-demo="footerright" href="javascript:info.help('colorscode');">Colores</a>
		&nbsp;|&nbsp;
		<a data-demo="footerright" href="javascript:info.loader();">Bibliotecas</a>
		&nbsp;|&nbsp;
		<a data-demo="footerright" href="javascript:location.reload(true);">Recargar</a>
		&nbsp;|&nbsp;
		<a data-demo="footerright" href="javascript:toolkit.printdiv(null);">Imprimir</a>
		&nbsp;|&nbsp;
		<span id="app-timer" title="última operación (s)">
			<svg width="24" height="18" viewBox="0 0 24 24" class="svgicon">
				<path class="watch" d=""></path>
			</svg> 0s
		</span>
		&nbsp;|&nbsp;
		<span id="app-memory" title="memoria disponible (GiB)">
			<svg width="24" height="18" viewBox="0 0 24 24" class="svgicon">
				<path class="cpu" d=""></path>
			</svg> 0MB
		</span>
	</p>
</div>
