<header class="padding-vertical-l text-align-center">
	<div class="container">
	    	<img class="logo" src="./assets/img/logos/ANIMATEDLOGOPF.svg" alt="PATHFINDER" style="min-height:95px;">
		<h1 id="app-home-info" class="display-title display-title-xxl margin-top-s">PATHFINDER</h1>
		<p class="lead lead-s margin-vertical-m">
			Herramienta para el análisis gráfico y textual de datos procedentes de 
			<a rel="noopener" href="http://expofinder.uma.es" target="_blank">ExpoFinder</a>.
		</p>
		<p class="text-align-center line-height-xxxl">
			<a class="button button-success button-icon" 
				href="#data">
				<span>Comience a trabajar</span>
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
					<path class="arrowright" d=""></path>
				</svg>
			</a>
			<a class="button button-info button-icon" 
				href="#starting">
				<span>Aprenda a usarlo</span>
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
					<path class="arrowright" d=""></path>
				</svg>
			</a>
			<a class="button button-info button-icon" 
				href="#documents">
				<span>Conozca más</span>
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
					<path class="arrowright" d=""></path>
				</svg>
			</a>
			<a rel="noopener" target="_blank" 
				class="button button-grey button-icon" 
				href="https://github.com/antoniocruces/pathfinder">
				<span>Github</span>
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
					<path class="github" d=""></path>
				</svg>
			</a>
		</p>
	</div>
</header>

<main>
	<section class="padding-vertical-l border-top border-color-primary-100">
		<div class="container">
			<h2 class="display-title display-title-xxl margin-top-xxl">Una herramienta para la Historia del Arte Digital.</h2>
			<p class="lead lead-s margin-vertical-m">
				PATHFINDER es un desarrollo software realizado por el grupo de investigación 
				<a href="http://iarthislab.es" rel="noopener" target="_blank">iArtHis_LAB</a>, del 
				<a href="http://www.uma.es/departamento-de-historia-del-arte" rel="noopener" target="_blank">
				Departamento de Historia del Arte</a> 
				de la <a href="http://www.uma.es" rel="noopener" target="_blank">Universidad de Málaga</a> 
				(España), como parte 
				de los proyectos 
				<a rel="noopener" href="http://www.exhibitium.com" target="_blank">Exhibitium FBBVA 2014</a> y 
				<a rel="noopener" href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf" target="_blank">
				ArtCatalogs</a> 
				(HAR2014-51915-P) para poner a disposición de los investigadores interesados en la 
				aplicación del paradigma digital al estudio de 
				las Humanidades (en especial de la Historia del Arte) una herramienta versátil 
				que permita realizar análisis cuantitativos 
				de la información cualitativa propia de la disciplina.
			</p>
			<p class="aside color-white background-info-500 font-weight-semibold">
				<svg width="40" height="40" viewBox="0 0 24 24" class="svgicon" style="float:left;margin-right:1em;margin-top:.2em">
					<path class="alertcircle" d=""></path>
				</svg>
				
				Para poder utilizar PATHFINDER debe utilizar un archivo de datos con un formato específico. 
				Si no dispone de uno <a href="#legal" class="text-decoration-none color-light">contacte</a> con 
				<a href="http://iarthislab.es" rel="noopener" target="_blank" class="text-decoration-none color-light">
				iArtHis_LAB</a> para 
				obtener acceso a 
				<a rel="noopener" href="http://expofinder.uma.es" target="_blank" class="text-decoration-none color-light">
				ExpoFinder</a>.
			</p>

			<div class="boxes margin-top-l">
				<div class="padding-m border-radius background-light-100 color-dark">
					<a href="#starting" class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						Primeros pasos
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="arrowright" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<img src="./assets/img/photos/learn.png" class="media" alt="learn">
						<figcaption class="font-size-xs">
						Foto: <a rel="noopener" class="text-decoration-none" 
						target="_blank" href="https://www.pexels.com">Pexels</a>
						</figcaption>
					</figure>
					<p class="color-grey">
						Aprenda cómo obtener los resultados que desea de la manera más 
						sencilla y rápida. 
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<a href="#documents" class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						Sala de máquinas
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="arrowright" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<img src="./assets/img/photos/code.png" class="media" alt="code">
						<figcaption class="font-size-xs">
						Foto: <a rel="noopener" class="text-decoration-none" 
						target="_blank" href="https://www.pexels.com">Pexels</a>
						</figcaption>
					</figure>
					<p class="color-grey">
						Descubra cuáles son los fundamentos técnicos 
						que confieren solidez y fiabilidad al sistema. 
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<a href="#projects" class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						Red de trabajo
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="arrowright" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<img src="./assets/img/photos/achievement.png" class="media" alt="achievement">
						<figcaption class="font-size-xs">
						Foto: <a rel="noopener" class="text-decoration-none" 
						target="_blank" href="https://www.pexels.com/@rawpixel">Rawpixel / Pexels</a>
						</figcaption>
					</figure>
					<p class="color-grey">
						Conozca en qué proyectos PATHFINDER se utiliza como parte de su metodología de trabajo.
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<a href="#institutions" class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						Apoyos
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="arrowright" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<img src="./assets/img/photos/book.png" class="media" alt="book">
						<figcaption class="font-size-xs">
						Foto: <a rel="noopener" class="text-decoration-none" 
						target="_blank" href="https://www.pexels.com">Pexels</a>
						</figcaption>
					</figure>
					<p class="color-grey">
						Sepa quién está detrás y cuál es el respaldo académico y científico de PATHFINDER.
					</p>
				</div>
			</div>
	
			<div class="boxes margin-top-l">
				<div class="padding-m border-radius background-light-100 color-dark">
					<h3 class="margin-top-m">La Universidad de Málaga.</h3>
					<a rel="noopener" target="_blank" href="https://www.uma.es" 
						class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						UMA
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<a rel="noopener" target="_blank" href="https://www.uma.es" class="text-decoration-none">
							<img src="./assets/img/pictures/UMA.jpg" class="media" alt="Rectorado. Universidad de Málaga">
							<figcaption class="font-size-xs">
							Foto: elaboración propia
							</figcaption>
						</a>
					</figure>
					<p class="color-grey">
						Desde 1972, un referente en TICs, humanidades, ciencias de la salud e ingenierías. 
						Referente de innovación y desarrollo científico en el sur de España. 
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<h3 class="margin-top-m">El Departamento de Historia del Arte.</h3>
					<a rel="noopener" target="_blank" href="https://www.uma.es/departamento-de-historia-del-arte/" 
						class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						DHA-UMA
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<a rel="noopener" target="_blank" href="https://www.uma.es/departamento-de-historia-del-arte/" 
						class="text-decoration-none">
							<img src="./assets/img/pictures/UMAFYL.jpg" class="media" 
							alt="Facultad de Filosofía y Letras. Universidad de Málaga">
							<figcaption class="font-size-xs">
							Foto: elaboración propia
							</figcaption>
						</a>
					</figure>
					<p class="color-grey">
						Prestigio internacional e investigación puntera. Especializado en arte hispano-musulmán, 
						barroco, urbanismo, arte contemporáneo y Humanidades digitales. 
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<h3 class="margin-top-m">iArtHis_LAB Research Group.</h3>
					<a rel="noopener" target="_blank" href="https://iarthislab.es/" 
						class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						iArtHis_LAB
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<a rel="noopener" target="_blank" href="https://iarthislab.es/" 
						class="text-decoration-none">
							<img src="./assets/img/pictures/iarthislab.jpg" class="media" 
							alt="Grupo de investigación iArtHis_LAB">
							<figcaption class="font-size-xs">
							Foto: elaboración propia
							</figcaption>
						</a>
					</figure>
					<p class="color-grey">
						Laboratorio de investigación, innovación y formación para el desarrollo de 
						los estudios digitales sobre la cultura artística y de la Historia del Arte Digital en España
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<h3 class="margin-top-m">Plataforma tecnológica abierta.</h3>
					<a rel="noopener" target="_blank" href="http://expofinder.es/" 
						class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						ExpoFinder
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<a rel="noopener" target="_blank" href="http://expofinder.es/" 
						class="text-decoration-none">
							<img src="./assets/img/pictures/expofinder.png" class="media" 
							alt="Pantalla de acceso a ExpoFinder">
							<figcaption class="font-size-xs">
							Foto: elaboración propia
							</figcaption>
						</a>
					</figure>
					<p class="color-grey">
						Código libre, mecanismos simples, empleo de recursos mínimos,&hellip; 
						Gestión y generación de conocimiento al alcance de todos.
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="padding-vertical-l border-top border-color-primary-100">
		<div class="container">
			<div class="flexbox-images">
					<a rel="noopener" target="_blank" href="https://www.uma.es">
						<img src="./assets/img/logos/logo-uma-180x180.png" class="media" 
						alt="Universidad de Málaga.">
					</a>
					<a rel="noopener" target="_blank" href="https://www.uma.es/departamento-de-historia-del-arte/">
						<img src="./assets/img/logos/logo-dha-180x180.png" class="media" 
						alt="Departamento de Historia del Arte. Universidad de Málaga.">
					</a>
					<a rel="noopener" target="_blank" href="https://iarthislab.es/">
						<img src="./assets/img/logos/logo-iarthis_lab-180x180.png" class="media" 
						alt="Grupo de investigación iArtHis_LAB.">
					</a>
					<a rel="noopener" target="_blank" href="http://www.mineco.gob.es/portal/site/mineco/">
						<img src="./assets/img/logos/logo-mineco-180x180.png" class="media" 
						alt="Ministerio de Economía y Competitividad. Gobierno de España.">
					</a>
					<a rel="noopener" target="_blank" href="https://www.fbbva.es/">
						<img src="./assets/img/logos/logo-fbbva-180x180.png" class="media" 
						alt="Fundación BBVA.">
					</a>
					<a rel="noopener" target="_blank" href="https://www.centrodeestudiosandaluces.es/">
						<img src="./assets/img/logos/logo-cea-180x180.jpg" class="media" 
						alt="Centro de Estudios Andaluces. Junta de Andalucía.">
					</a>
			</div>
		</div>
	</section>
</main>
