<header class="margin-bottom-l">
	<div class="container">
	    	<img class="margin-right-s" src="./assets/img/logos/IMGLOGOPF.svg" alt="PATHFINDER" 
	    		style="height:100px;width:100px;float:left" />
		<h1 class="display-title display-title-xxl margin-top-s">
			<span class="margin-vertical-auto">Instituciones</span>
		</h1>
		<p class="lead lead-s margin-vertical-m">
			PATHFINDER ha recibido apoyo y respaldo, tanto científico como económico, de numerosas instituciones. Su 
			vocación de herramienta de uso generalizado ha sido valorada de forma muy notable por relevantes 
			instancias del mundo académico. Aquí se recogen las referencias de ellas.
		</p>
	</div>
</header>

<main>
	<section>
		<div class="container">
			<div class="content margin-bottom-l logo-background">
				<div class="group group-xs margin-bottom-l">
					<ul>
						<li>
							<button id="stab0" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab0', 'step0', 'stabcontent', 'stablinks');">
							UMA</button>
						</li>
						<li>
							<button id="stab1" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab1', 'step1', 'stabcontent', 'stablinks');">
							DHA-UMA</button>
						</li>
						<li>
							<button id="stab2" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab2', 'step2', 'stabcontent', 'stablinks');">
							iArtHis_LAB</button>
						</li>

						<li>
							<button id="stab3" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab3', 'step3', 'stabcontent', 'stablinks');">
							MinEco_LAB</button>
						</li>
						<li>
							<button id="stab4" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab4', 'step4', 'stabcontent', 'stablinks');">
							FBBVA</button>
						</li>
						<li>
							<button id="stab5" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab5', 'step5', 'stabcontent', 'stablinks');">
							CEA</button>
						</li>
					</ul>
				</div>
				<div id="step0" class="stabcontent visible">
					<h2 id="title-uma">Universidad de Málaga</h2>
					<blockquote class="quotes">
						<figure class="pull-right margin-left-s text-align-center padding-s border">
							<img src="./assets/img/logos/logo-uma-180x180.png" 
								class="pure-img-responsive" width="150" height="150" />
							<figcaption>
								Fuente: elaboración propia
							</figcaption>
						</figure>
						<p class="dropcap">			
							La historia de la UMA no se entiende sin Málaga: el impulso de la provincia en todos sus frentes (ciudadanos, personalidades y medios de comunicación) resultaría clave en la consecución de nuestra Universidad. El proceso comienza en 1968 con la creación de la “Asociación de Amigos de la Universidad de Málaga”: organizada para conseguir que la provincia tuviera su universidad,  logró concienciar a la sociedad malagueña sobre su importancia y movilizar a la misma hasta su fundación.
						</p>
						<p>
							A partir de ahí, comenzó un largo proceso de avance en el que destacaron la creación del Colegio Universitario de Málaga en 1971, y la agrupación de las ya existentes Escuela de Ingenieros Técnicos, Escuela Normal, Facultad de Ciencias Económicas y Empresariales (dependiente en aquel entonces de la Universidad de Granada) y Seminario. 
						</p>
						<p>
							Finalmente, el 18 de agosto de 1972, mediante decreto, se aprobó la fundación de la Universidad de Málaga. La Facultad de Ciencias Económicas y Empresariales y la Facultad de Medicina serían las primeras en formar parte de la universidad global que es hoy la Universidad de Málaga.
						</p>
						<p>
							Con el objetivo de convertirse en una institución completa y de máximo nivel, la UMA desarrolló un plan de expansión en cuanto a ramas de conocimiento e infraestructuras se refiere. De esta manera, una vez asentada en el Campus de El Ejido, se desarrolló en la ciudad universitaria de Teatinos, área que en un primer momento albergaría las Facultades de Medicina, Filosofía y Letras y Ciencias para poco a poco crecer y convertirse en un campus cada vez más completo tanto en oferta académica como en servicios universitarios. 
						<p>
						<p>
							A la vez que la UMA crecía físicamente, también lo hacía cualitativamente: desde finales de los años 90, destaca la fuerte apuesta por las nuevas tecnologías y la investigación. 
						</p>
						<p>
							En este sentido, la Universidad de Málaga inicia una estrategia para convertirse en referente  de innovación y desarrollo científico en del sur de España. Como resultado diseña un extenso marco de colaboración con el Parque Tecnológico de Andalucía, multiplica sus proyectos de investigación de carácter nacional e internacional y en 2007 entra en la Red Española de Supercomputación con el Supercomputador Picasso. 
						</p>
						<p>
							Toda esta línea de progreso científico y académico, unida al esfuerzo de investigadores, alumnos, profesores y personal de administración, llevaría a la Universidad de Málaga (junto a la Universidad de Sevilla), a ser reconocida en 2010 como Campus de Excelencia Internacional, bajo la marca Andalucía Tech. 
						</p>
						<p>
							En la actualidad, la Universidad de Málaga sigue apostando por el desarrollo científico y la innovación como vía para aportar progreso al conjunto de la sociedad. Destaca en estos años el fomento de la movilidad y el esfuerzo por atraer talento internacional, logrando una universidad abierta, cosmopolita y capaz de integrarse en proyectos científicos de máximo nivel. 
						</p>
						<p>			
							40 años después, cuenta con más de 35.000 estudiantes, 58 títulos de Grado, 53 títulos de Máster, 278 grupos de investigación y 45 patentes registradas en 2011.
						</p>
						<p>
							Innovación, dinamismo e internacionalización son los principios que marcan la historia de la UMA y a su vez, la base establecida por la universidad para superar las dificultades actuales y reforzar su servicio por el conocimiento, por la sociedad y por el futuro.
						</p>
					</blockquote>
					<a rel="noopener" target="_blank" href="http://www.uma.es/conoce-la-uma/info/5576/" 
						class="button button-primary button-icon">
						<span>Consultar</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
				</div>
				<div id="step1" class="stabcontent visible">
					<h2 id="title-dhauma">Departamento de Historia del Arte</h2>
					<blockquote class="quotes">
						<figure class="pull-right margin-left-s text-align-center padding-s border">
							<img src="./assets/img/logos/logo-dha-180x180.png" 
								class="pure-img-responsive" width="150" height="150" />
							<figcaption>
								Fuente: elaboración propia
							</figcaption>
						</figure>
						<p class="dropcap">			
							El Departamento de Historia del Arte de la Universidad de Málaga arranca de 1970 al inaugurarse en Málaga un Colegio Universitario dependiente de la Universidad de Granada que funcionó cuatro años, siendo profesores Dª Rosario Camacho, Dª Rosa Mª Valladares y Dª Aurora Miró. En 1974 se creó la Universidad de Málaga y el profesor D. Domingo Sánchez-Mesa ocupó la Cátedra de Historia del Arte de nuestra Universidad, arrancando también de esa fecha un cambio de planes de estudio que integraba la Historia del Arte en los tres cursos comunes de Diplomatura, siguiendo el plan de Granada; con ello, la docencia se diversificó y fue necesario ampliar la plantilla incorporándose primero Dª Mª Dolores Aguilar, y después D. José Miguel Morales Folguera y D. Agustín Clavijo. 
						</p>
						<p>
							Ya en aquellos años se fueron definiendo las líneas de investigación del Departamento: arte hispano-musulmán, barroco, urbanismo y arte contemporáneo. Además, la planificación del Vicerrectorado de Extensión Universitaria contó con el Departamento especialmente en relación al Laboratorio Fotográfico y la organización de exposiciones, a través de las cuales se incorporó al Departamento D. Isidoro Coloma, quien introdujo líneas que marcaron otra orientación: la historia de los medios de masas así como la museología y la museografía.
						</p>
						<p>
							En 1978 planteó el profesor Sánchez-Mesa la necesidad de crear una publicación propia, un Boletín de Arte, cuyo primer número salió en 1980. El  Boletín de Arte continúa actualmente su labor bajo la dirección de la profesora Dña. Mª Teresa Méndez Baiges, quien sustituyó a Dña. Rosario Camacho tras su jubilación.
						</p>
						<p>
							En 1978 el profesor Sánchez-Mesa volvió a Granada y en 1979 se incorporó a Málaga el profesor D. Juan Antonio Ramírez, quien dio nueva actividad al Departamento, impulsó la publicación del Boletín de Arte y creó la colección 2A Libros de Arte y Arquitectura, cuya responsabilidad se comparte con el Colegio de Arquitectos de Málaga y donde se han publicado interesantes títulos.
						</p>
						<p>
							Desde esa fecha empezaron a doctorarse los profesores del Departamento, y a partir de 1980, contando ya con especialidad de Historia del Arte dentro de la Sección de Historia, se incrementó el número de profesores.
						</p>
						<p>
							En 1994 se implantó un nuevo Plan de Estudios y con él se inició la licenciatura de Historia del Arte en la Universidad de Málaga que desbordó todas las previsiones de alumnos, y que actualmente se continúa con el Grado de Historia del Arte.
						</p>
						<p>
							Durante estos largos años el Departamento se ha consolidado y ha logrado un sólido prestigio patente no sólo en las aulas sino en la actividad de debate y estímulo en la ciudad. En este sentido se ha implicado, especialmente, a través de los temas de Patrimonio y organización de exposiciones (muchas de ellas fuera del ámbito local, a través del comisariado de los profesores), así como en la organización de cursos y congresos, actividad que se ve potenciada desde la propia universidad, o en colaboración con otras entidades.
						</p>
					</blockquote>
					<a rel="noopener" target="_blank" 
						href="https://www.uma.es/departamento-de-historia-del-arte/info/70959/historia/" 
						class="button button-primary button-icon">
						<span>Consultar</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
				</div>
				<div id="step2" class="stabcontent visible">
					<h2 id="title-iarthislab">Grupo de investigación iArtHis_LAB</h2>
					<blockquote class="quotes">
						<figure class="pull-right margin-left-s text-align-center padding-s border">
							<img src="./assets/img/logos/logo-iarthis_lab-180x180.png" 
								class="pure-img-responsive" width="150" height="150" />
							<figcaption>
								Fuente: elaboración propia
							</figcaption>
						</figure>
						<p class="dropcap">			
							iArtHis_Lab es un laboratorio de investigación, innovación y formación para el desarrollo de los estudios digitales sobre la cultura artística, y en particular para el progreso y consolidación de la Historia del Arte Digital en España.		
						</p> 
						<p>
							iArtHis_Lab nace como la expresión de la voluntad de un grupo de profesores e investigadores vinculados del Departamento de Historia del Arte de la Universidad de Málaga de potenciar el desarrollo de la disciplina inscribiéndola por razones de metodología, formato de trabajo, enfoque y docencia en el panorama científico y técnico especializado de los albores del tercer milenio.
						</p>
						<p>
							iArtHis_Lab asume como propio el nuevo paradigma social, epistemológico, cultural y crítico en el que nos encontramos. Somos conscientes de los cambios operados en la economía del conocimiento (procesos de producción, distribución, consumo y reutilización), en las interacciones sociales, los regímenes de formación y aprendizaje (expandido, extra-académico), y en los nuevos ecosistemas y flujos de investigación (colaborativos, abiertos, procesuales), donde las barreras entre lo científico-técnico, las artes y las humanidades se difuminan.
						</p>
						<p>
							iArtHis_Lab aspira a convertirse en un punto de referencia y en un lugar de encuentro en la tarea de contribuir al desarrollo de infraestructuras tecnológicas, a la implantación de nuevas metodologías de análisis, la elaboración de modelos críticos, y a la promoción de nuevas modalidades de investigación que sean susceptibles de propiciar una refundación de los estudios sobre la cultura artística de acuerdo con las necesidades de las sociedades del siglo XXI y acorde con sus nuevos formas de pensamiento, comunicación y comprensión.
						</p>
					</blockquote>
					<a rel="noopener" target="_blank" 
						href="https://iarthislab.es/mision-y-vision/" 
						class="button button-primary button-icon">
						<span>Consultar</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
				</div>
				<div id="step3" class="stabcontent visible">
					<h2 id="title-mineco">Ministerio de Economía y Compretitividad</h2>
					<blockquote class="quotes">
						<figure class="pull-right margin-left-s text-align-center padding-s border">
							<img src="./assets/img/logos/logo-mineco-180x180.png" 
								class="pure-img-responsive" width="150" height="150" />
							<figcaption>
								Fuente: elaboración propia
							</figcaption>
						</figure>
						<p class="dropcap">			
							Corresponde al Ministerio de Economía y Empresa la propuesta y ejecución de la política del Gobierno en materia económica y de reformas para la mejora de la competitividad, de desarrollo industrial, de telecomunicaciones y sociedad de la información, de desarrollo de la Agenda Digital así como la política de apoyo a la empresa, y el resto de competencias y atribuciones que le confiere el ordenamiento jurídico.
						</p>
						<p>
							Este Ministerio se estructura en los siguientes órganos superiores: 
							<ol>
								<li>La Secretaría de Estado de Economía y Apoyo a la Empresa, de la que dependen los siguientes órganos directivos:</li>
								<ol>
									<li>La Secretaría General del Tesoro y Financiación Internacional, con rango de Subsecretaría, 
									de la que depende la Dirección General del Tesoro y Política Financiera.</li>
									<li>La Dirección General de Política Económica.</li>
									<li>La Dirección General de Análisis Macroeconómico.</li>
									<li>La Dirección General de Seguros y Fondos de Pensiones.</li>
								</ol>
								<li>La Secretaría de Estado para el Avance Digital, de la que depende la Dirección General de Telecomunicaciones 
								y Tecnologías de la Información.</li>
								<li>La Subsecretaría de Economía y Empresa, de la que depende la Secretaría General Técnica.</li>
							</ol>
						</p>
					</blockquote>
					<a rel="noopener" target="_blank" 
						href="http://www.mineco.gob.es/portal/site/mineco/menuitem.c4c89bb7919bf31a91b0240e026041a0/?vgnextoid=309a154527515310VgnVCM1000001d04140aRCRD" 
						class="button button-primary button-icon">
						<span>Consultar</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
				</div>
				<div id="step4" class="stabcontent visible">
					<h2 id="title-fbbva">Fundación BBVA</h2>
					<blockquote class="quotes">
						<figure class="pull-right margin-left-s text-align-center padding-s border">
							<img src="./assets/img/logos/logo-fbbva-180x180.png" 
								class="pure-img-responsive" width="150" height="150" />
							<figcaption>
								Fuente: elaboración propia
							</figcaption>
						</figure>
						<p class="dropcap">			
							La Fundación BBVA es expresión de la vocación de responsabilidad social corporativa del Grupo BBVA y, en particular, de su compromiso con la mejora de las sociedades en las que desarrolla su actividad empresarial. Responsabilidad y compromiso que cuentan con una dilatada trayectoria de generación de bienes públicos en el plano del conocimiento.
						</p>
						<p>
							El impulso y fomento del conocimiento basado en la investigación y la creación artística y cultural, así como la interacción entre ambos dominios, constituyen el núcleo del programa de trabajo de la Fundación BBVA. Expandir y repensar de continuo la envolvente cultural y las fronteras del conocimiento heredado son la vía más eficaz para dotar de mayores grados de libertad a los individuos, ampliando también las oportunidades colectivas. Las tres modalidades principales de actuación son el apoyo a la investigación científica y la creación cultural (a través de ayudas individuales y a equipos), la difusión del conocimiento y la cultura, y el reconocimiento del talento y la innovación a través de distintas familias de premios.
						</p>
						<p>
							La Fundación centra su actividad en el análisis de cuestiones emergentes en cinco áreas estratégicas: Medio Ambiente, Biomedicina y Salud, Economía y Sociedad, Ciencias Básicas y Tecnología, y Cultura. En estas áreas, la Fundación BBVA diseña, desarrolla y financia proyectos de investigación; facilita la formación avanzada y especializada mediante becas, cursos, seminarios y workshops; concede premios a investigadores y profesionales que hayan contribuido significativamente al avance del conocimiento; y comunica y difunde dicho conocimiento mediante publicaciones, debates y conferencias.
						</p>
					</blockquote>
					<a rel="noopener" target="_blank" 
						href="https://www.fbbva.es/sobre-fundacion-bbva/" 
						class="button button-primary button-icon">
						<span>Consultar</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
				</div>
				<div id="step5" class="stabcontent visible">
					<h2 id="title-cea">Centro de Estudios Andaluces</h2>
					<blockquote class="quotes">
						<figure class="pull-right margin-left-s text-align-center padding-s border">
							<img src="./assets/img/logos/logo-cea-180x180.jpg" 
								class="pure-img-responsive" width="150" height="150" />
							<figcaption>
								Fuente: elaboración propia
							</figcaption>
						</figure>
						<p class="dropcap">			
							El Centro de Estudios Andaluces es una entidad de carácter científico y cultural, sin ánimo de lucro, constituida por la Administración de la Junta de Andalucía el 26 de marzo de 2001. Como objetivos fundacionales se establecen el fomento de la investigación científica, la generación de conocimiento sobre la realidad social, económica y cultural de Andalucía y la difusión de sus resultados en beneficio de toda la sociedad.
						</p>
						<p>
							Adscrito a la Consejería de la Presidencia y Adminstración Local y Memoria Democrática, el Centro de Estudios Andaluces se rige por un Patronato, que ejerce como órgano de representación, gobierno y administración, una presidencia y una dirección. Cuenta, además, con un Comité Científico que actúa como órgano asesor y que está compuesto por reconocidas personalidades del mundo de la ciencia y la cultura.
						</p>
						<p>
							La misión del Centro de Estudio Andaluces es convertirse en un centro de excelencia en la investigación sobre Andalucía y punto de referencia para la toma de decisiones de las instituciones públicas y privadas que influyen en el desarrollo de la Comunidad Autónoma.
						</p>
						<p>
							Bajo el lema, Cultura del Saber, el Centro de Estudios Andaluces genera un amplio programa de actividades anuales abiertas a la comunidad científica y a la sociedad en general, entre las que se encuentran la organización de jornadas, seminarios y talleres, exposiciones, cursos de formación y edición de publicaciones, entre otras iniciativas. Asimismo, uno de los grandes proyectos de la Fundación es el desarrollo y consolidación del Museo de la Autonomía de Andalucía y la Casa de Blas Infante.
						</p>
						<p>
							En el Patronato celebrado el 14 de enero de 2013 se ratificó el nombramiento de la Sra. Dª. Mercedes de Pablos Candón como directora gerente del Centro de Estudios Andaluces.
						</p>
					</blockquote>
					<a rel="noopener" target="_blank" 
						href="https://www.centrodeestudiosandaluces.es/index.php?mod=paginas&cat=0&id=100&idm=470&cod=2&" 
						class="button button-primary button-icon">
						<span>Consultar</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>
