<h4>Bibliotecas de código</h4>
<p>
	Según <a href="https://es.wikipedia.org/wiki/Biblioteca_(inform%C3%A1tica)" target="_blank" rel="noopener">Wikipedia</a>, una 
	biblioteca &mdash;en el sentido informático de la palabra&mdash; es "un conjunto de implementaciones funcionales, codificadas 
	en un lenguaje de programación, que ofrece una interfaz bien definida para la funcionalidad que se invoca".
</p>
<p>
	PATHFINDER utiliza las siguientes bibliotecas para optimizar el rendimiento del sistema, dependiendo de la página o sección 
	con la que se esté trabajando en cada momento:
	<ul>
		<li>
			<a href="https://github.com/vega/datalib" target="_blank" rel="noopener">Datalib v1.8.0 [dl]</a>. 
			<span id="infolib-dl"></span>. 
			Es una biblioteca de utilidad de datos de JavaScript que proporciona instalaciones para la carga de datos, 
			inferencia de tipos, estadísticas comunes y plantillas de cadenas. Licencia(s): 
			<a href="https://github.com/vega/datalib/blob/master/LICENSE"  target="_blank" rel="noopener">BSD 3-Clause "New" or "Revised"</a>			
		</li>
		<li>
			<a href="https://github.com/Leaflet/Leaflet" target="_blank" rel="noopener">Leaflet v1.3.1 [lj]</a>. 
			<span id="infolib-lj"></span>. 
			Es una biblioteca de JavaScript de código abierto líder para mapas interactivos optimizados. Licencia(s): 
			<a href="https://github.com/Leaflet/Leaflet/blob/master/LICENSE"  target="_blank" rel="noopener">BSD 2-Clause</a>
		</li>
		<li>
			<a href="https://github.com/lodash/lodash/" target="_blank" rel="noopener">Lodash v4.17.10 [lo]</a>. 
			<span id="infolib-lo"></span>. 
			Es una biblioteca moderna de utilidades de JavaScript que ofrece modularidad, rendimiento y extras. Licencia(s): 
			<a href="https://github.com/lodash/lodash/blob/master/LICENSE"  target="_blank" rel="noopener">MIT</a>
		</li>
		<li>
			<a href="https://github.com/apache/incubator-echarts" target="_blank" rel="noopener">ECharts v4.1.0 rc2 [ec]</a>. 
			<span id="infolib-ec"></span>. 
			Es una potente biblioteca de gráficos y visualización de código libre que ofrece una forma fácil de 
			agregar gráficos intuitivos, interactivos y altamente personalizables a cualquier aplicación. 
			Licencia(s): 
			<a href="https://github.com/apache/incubator-echarts/blob/master/LICENSE"  target="_blank" rel="noopener">Apache 2.0</a>
		</li>
	</ul>
</p>
