<header class="margin-bottom-l">
	<div class="container">
	    	<img class="margin-right-s" src="./assets/img/logos/IMGLOGOPF.svg" alt="PATHFINDER" 
	    		style="height:100px;width:100px;float:left" />
		<h1 class="display-title display-title-xxl margin-top-s">
			<span class="margin-vertical-auto">Proyectos</span>
		</h1>
		<p class="lead lead-s margin-vertical-m">
			PATHFINDER forma parte de tres grandes proyectos, liderados y desarrollados por el grupo de investigación 
			<a href="http://iarthislab.es" rel="noopener" target="_blank">iArtHis_LAB</a>, del 
			<a href="http://www.uma.es/departamento-de-historia-del-arte" rel="noopener" target="_blank">Departamento de Historia del Arte</a> de la
			<a href="http://www.uma.es" rel="noopener" target="_blank">Universidad de Málaga</a>.
		</p>
	</div>
</header>

<main>
	<section>
		<div class="container">
			<div class="content margin-bottom-l logo-background">
				<div class="group group-xs margin-bottom-l">
					<ul>
						<li>
							<button id="stab0" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab0', 'step0', 'stabcontent', 'stablinks');">
							Exhibitium</button>
						</li>
						<li>
							<button id="stab1" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab1', 'step1', 'stabcontent', 'stablinks');">
							ArtCatalog</button>
						</li>
						<li>
							<button id="stab2" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab2', 'step2', 'stabcontent', 'stablinks');">
							ExpoFinder</button>
						</li>
					</ul>
				</div>
				<div id="step0" class="stabcontent visible">
					<h2 id="title-exhibitium">Exhibitium</h2>
					<figure class="pull-right margin-left-s text-align-center padding-s border">
						<img src="./assets/img/logos/logo-exhibitium-180x180.jpg" 
							class="pure-img-responsive" width="150" height="150" />
						<figcaption>
							Fuente: elaboración propia
						</figcaption>
					</figure>
					<p class="dropcap">
						“La función dinamizadora de la cultura artística desarrollada por los museos y las galerías mediante las exposiciones temporales, 
						entendidas estas como fenómenos complejos de actores en relación dinámica”. Con esa definición se presentó <strong>EXHIBITIUM</strong>, 
						un proyecto que también se enfoca a mejorar la sociedad facilitando el acceso y la reutilización de contenidos culturales digitales, 
						y en este sentido plantea como uno de sus resultados desarrollar una plataforma web que proporciona información de interés al usuario, 
						sea aficionado al arte, agente de viajes, hotelero, galerista, conservador de museos, comisario de exposiciones o investigador.
					</p>
					<p>
						De fuerte componente tecnológico, se basa en conocimiento, es decir, se propone la creación de una <em>knowledge base</em> 
						escalable sobre exposiciones temporales que, estudiada con técnicas de análisis y de visualización de grandes redes y con técnicas 
						de minería de datos, proporcionará nuevo conocimiento, de carácter estratégico y de alta relevancia, tanto para la toma de decisiones 
						por parte de las entidades implicadas en la organización de exposiciones; como para el desarrollo de nuevos estudios 
						interpretativo-críticos relacionado con las exposiciones artísticas.
					</p>
					<p>
						El proyecto se enmarca dentro del área de actuación preferente de <strong>Programa Fundación BBVA de impulso a las Humanidades Digitales</strong> 
						y, en concreto, en la línea de trabajo que se podría definir como de impulso a la promoción y desarrollo en España de la internacionalmente 
						denominada Digital Art History. Esta línea de investigación sobre Historia del Arte y Cultura Visual en el ámbito de las Humanidades Digitales 
						es objeto de trabajo y estudio por el equipo multidisciplinar y de proyección nacional e internacional que presenta el proyecto, 
						formado por miembros del grupo de investigación iArtHis_Lab de la Universidad de Málaga y de ReArte.Dix, la primera red internacional 
						sobre estudios digitales sobre la cultura artística en español, impulsada y financiada por la Universidad de Málaga en el marco 
						del Campus de Excelencia.
					</p>
					<p>
						Presentado en la Fundación BBVA por el grupo de investigación iArtHis_LAB, del Departamento de Historia del Arte de la Universidad de Málaga, 
						fue premiado con una subvención de 60.000 euros, al considerar que tiene “un importante impacto social y desarrolla un papel trascendental 
						como generador de conocimiento en el ámbito de la historia del arte”.
					</p>
					<p>
						La investigación fue elegida por la comisión evaluadora de entre un total de 253 propuestas. El premio forma parte de la primera edición 
						de las ‘Ayudas Fundación BBVA a Proyectos de Investigación’. El grupo iArtHis_Lab de la Universidad de Málaga ha sido uno de los cinco 
						galardonados y desarrollará su trabajo en un plazo de dos años.
					</p>
					<p>
						Como asegura la responsable del proyecto, la doctora Nuria Rodríguez Ortega, el ámbito de aplicación de este trabajo es “muy amplio”. 
						En este sentido, se pueden elaborar teorías e interpretaciones críticas y tomar decisiones estratégicas sobre el diseño de programas 
						expositivos. Todo ello gracias a un sistema basado en una serie de tecnologías computacionales y de metodologías de análisis derivadas 
						de la vigilancia tecnológica, el análisis de redes y las estrategias de KDD (Knowledge Discovery in Databases).
					</p>
					<p>
						Estas permiten capturar, registrar, estructurar y procesar de una manera significativa los datos y extraer conocimiento 
						inédito basado en parámetros cuantitativos y cualitativos (redes, clusters y patrones) para hacerlos útiles y reutilizables, 
						mediante sistemas de datos abiertos y operables entre sí.
					</p>
					<p>
						Según sus palabras, el proyecto supone un laboratorio de investigación, innovación y formación para el desarrollo de los estudios digitales 
						sobre la cultura artística, y en particular para el progreso y consolidación de la Historia del Arte Digital en España.
					</p>
					<p>
						En la preselección concursaban 1.056 solicitudes, participadas por más de 7.600 investigadores, que han optado a las 21 ayudas que la 
						Fundación ha puesto en marcha. Con ellas, se intenta responder desde esta entidad al compromiso con la investigación científica y la creación cultural, 
						así como con su proyección a la sociedad.
					</p>
				</div>
				<div id="step1" class="stabcontent visible">
					<h2 id="title-artcatalog">ArtCatalog</h2>
					<figure class="pull-right margin-left-s text-align-center padding-s border">
						<img src="./assets/img/logos/logo-artcatalog-300x300.jpg" 
							class="pure-img-responsive" width="150" height="150" />
						<figcaption>
							Fuente: elaboración propia
						</figcaption>
					</figure>
					<p class="dropcap">
						El catálogo constituye uno de las estructuras texto-narrativas que de un modo más determinante 
						han intervenido en la construcción y modelación del conocimiento artístico, y en la elaboración de sus relatos y discursos
						 (legitimándolos o deslegitimándolos). De hecho, la construcción de la historia del arte está basada en un proceso de 
						 categorización de los productos culturales, y en una dinámica de inclusiones y exclusiones, de jerarquizaciones y de 
						 silencios, de los que el catálogo constituye un instrumento cardinal. Por ello, consideramos que el objetivo de este proyecto: 
						 desentrañar los mecanismos que subyacen a los procesos de producción de catálogos en cuanto generadores y mediadores de conocimientos, 
						 materializados en relatos y discursos diversos; e indagar en el modelo de conocimiento que implica –esto es, en su gnoseología– es de vital 
						 importancia para entender, en primer lugar, el porqué conocemos –y, por tanto, estudiamos– los hechos artísticos de una determinada manera; 
						 y en segundo lugar, cómo se ha construido el complejo y variable entramado epistemológico y discursivo de la Historia del Arte a 
						 lo largo de los siglos XIX y XX. Dado que, pese a este carácter vertebral, no se ha emprendido hasta la fecha una investigación sistemática 
						 del catálogo en estos términos, consideramos que este proyecto viene a cubrir un hueco importante en los estudios dedicados al mejor 
						 conocimiento de la construcción moderna de la Historia del Arte.</p>
					<p>
						Dentro de este marco general, proponemos centrar el análisis en los catálogos relacionados con el arte español o con artistas españoles, producidos en España y fuera de España, a lo largo de los siglos XIX y XX. Esta definición del campo de actuación nos permitirá verificar los presupuestos de partida en torno al catálogo en virtud de un determinado eje argumental y desde una perspectiva transnacional.
					</p>
					<p>
						Objetivo fundamental de este proyecto es también contribuir a la puesta en práctica de nuevas metodologías y al desarrollo de nuevos modelos interpretativos. En este sentido, el análisis incorpora, por una parte, el marco intelectual asociado a la teoría del Actor-Red de Bruno Latour, que describe la producción de conocimiento como el resultado de las relaciones establecidas entre una serie de actores que se van reconfigurando en redes diversas a lo largo del tiempo. Así, junto a su naturaleza texto-narrativa, este proyecto se propone explorar el catálogo como espacio de mediación de estas interacciones.
					</p>
					<p>
						Por otra parte, integra una serie de estrategias de análisis vinculadas al procesamiento computacional y visualización de grandes conjuntos de datos (network analysis, mapping, técnicas KDD, etc). Estas estrategias nos permitirán plantear preguntas inéditas en torno a la producción y circulación de conocimientos asociados al catálogo al hacer posible un análisis multiescala –de lo macro-global a lo micro-local-, y permitirnos indagar en las lógicas (patrones) que definen estos procesos.
					</p>
					<p>
						En consecuencia, uno de los objetivos cruciales de este proyecto es la construcción de un repositorio estructurado de datos sobre catálogos artísticos que haga factible su procesamiento de acuerdo con las estrategias propuestas. Dado el alcance de las informaciones que aportará este repositorio, se diseñará como un sistema de datos abiertos y enlazados, esto es, quedará disponible para uso y aprovechamiento de todos aquellos (especialistas, profesionales, ciudadanos en general) que encuentren valor en sus datos.
					</p>
				</div>
				<div id="step2" class="stabcontent visible">
					<h2 id="title-artcatalog">ExpoFinder</h2>
					<figure class="pull-right margin-left-s text-align-center padding-s border">
						<img src="./assets/img/logos/logo-expofinder-300x300.jpg" 
							class="pure-img-responsive" width="150" height="150" />
						<figcaption>
							Fuente: elaboración propia
						</figcaption>
					</figure>
					<p class="dropcap">
						El proyecto de investigación y desarrollo <strong><a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a></strong> 
						nace como una iniciativa de <a href="http://iarthis.hdplus.es" rel="noopener" target="_blank"><strong>iArtHis_LAB</strong></a>, del 
						<a href="http://www.uma.es/departamento-de-historia-del-arte" rel="noopener" target="_blank">Departamento de Historia del Arte</a> de la 
						<a href="http://www.uma.es">Universidad de Málaga</a> (España). La estructura del conjunto de profesores, alumnos y egresados que 
						forman parte de grupo de investigación, la formación híbrida de algunos de sus miembros (junto con las Humanidades y la 
						disciplina histórico-artística, también la ciencia documentalista y la ingeniería de telecomunicaciones, además de la restauración 
						de elementos del patrimonio cultural) y el reconocimiento internacional al que, en su aún breve andadura, el colectivo se ha hecho acreedor, le prestan un carácter singular y contribuyen 
						a que los augurios de éxito para la compleja y apasionante tarea acometida sean muy prometedores.		
					</p> 
					<p>
						<strong>Generación de conocimiento sobre exposiciones artísticas temporales para su reutilización y aprovechamiento 
						multivalente</strong> fue el lema de la propuesta presentada en 2014 al concurso convocado por la Fundación BBVA, en el que  
						obtuvo una ayuda a la investigación que, dada el alto número de proyectos presentados en la categoría de <em>Humanidades Digitales</em> 
						(más de doscientos cincuenta), posiciona estratégicamente a la Universidad de Málaga junto a otras cuatro instituciones españolas en el 
						grupo "motor de investigación" en esta novedosa disciplina científica. El proyecto, asímismo, forma parte de las líneas de trabajo 
						emprendidas por <a href="http://iarthis.hdplus.es" rel="noopener" target="_blank"><strong>iArtHis_LAB</strong></a>, cuyo objetivo específico es la promoción, 
						desarrollo y consolidación en España de los estudios sobre <strong>Historia del Arte Digital</strong> (<em>Digital Art History</em>), 
						los cuales se inscriben, como vertiente específica y diferenciada, en al amplio campo que actualmente constituyen las 
						<em>Humanidades Digitales</em> (Baca, Helmreich and Rodríguez Ortega, 2013). Asimismo, este proyecto forma parte de las iniciativas 
						promovidas por la <strong>Red Internacional de Estudios Digitales sobre la Cultura Artística</strong>, 
						<a href="http://reartedix.hdplus.es" rel="noopener" target="_blank">ReArte.Dix</a>, la primera organización internacional dedicada a este fin en el contexto hispanohablante, 
						financiada por la Universidad de Málaga como parte de su plan propio de investigación y como parte de los proyectos asociados al 
						<a href="http://www.andaluciatech.org" rel="noopener" target="_blank"><em>Campus de Excelencia Internacional Andalucía Tech</em></a>.		
					</p>
					<p>
						El nombre definitivo que ha recibido el proyecto es <strong><a href="http://exhibitium.com/" rel="noopener" target="_blank">EXHIBITIUM</a></strong>.
						<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> es 
						la aplicación <em>on line</em> desarrollada sobre plataforma <a href="https://es.wordpress.org/" rel="noopener" target="_blank">WPAF</a>, en su versión 4.2.3 al 
						momento de escribir estas líneas, cuyo propósito es facilitar el la creación y el almacenamiento de registros de exposiciones artísticas temporales 
						de forma que sea posible <em>a posteriori</em> su explotación mediante técnicas de <em>cowording</em>, análisis de redes y mecanismos similares 
						para descubrir y poner en valor las relaciones entre los diversos organismos (en el contexto de 
						<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> se 
						denominan <em>entidades</em>) generadores de tal tipo de eventos, y ello no solo teniendo en cuenta consideraciones geográficas o zonales, sino 
						también particularidades referentes a temáticas, tipología de obras expuestas, comisariados, publicidad, etc.  
					</p>
					<p>
						Basado en sólidos cimientos tecnológicos de probada eficacia, el sistema gestionado por 
						<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> trata 
						de facilitar, esencialmente, el proceso de grabación, revisión y puesta en valor de los diferentes registros relativos a las exposiciones artísticas 
						temporales y a las fuentes de las noticias sobre ellas recogidas. Por ello, da mucha mayor importancia al respaldo de trabajo o "back end" que a la 
						"cara pública" (<em>front end</em>) de la sede en Internet, entre otras muchas razones porque, de momento, sus resultados no son públicos y no 
						sería admisible permitir el acceso de cualquier internauta al conocimiento generado.
					</p>
				</div>
			</div>
		</div>
	</section>
</main>
