<p class="no-print margin-top margin-bottom">
	<span><a href="javascript:toolkit.selecttab('atab', 'zero')">Exhibitium</a></span>
	<span class="margin-left"><a href="javascript:toolkit.selecttab('atab', 'one')">ArtCatalog</a></span>
	<span class="margin-left"><a href="javascript:toolkit.selecttab('atab', 'two')">ExpoFinder</a></span>
	<span class="pull-right"><a href="javascript:toolkit.printdiv('alert-content', 'Ayuda. Proyectos');">Imprimir</a></span>
</p>
<hr />

<article id="c-atab-zero" class="tabcontent is-visible">
	<h2 class="h1">Exhibitium</h2>
	<p>
		<span style="color:red;">DOCUMENTACIÓN EN DESARROLLO</span>. Exhibitium
	</p>
</article>

<article id="c-atab-one" class="tabcontent is-hidden">
	<h2 class="h1">ArtCatalog</h2>
	<p>
		<span style="color:red;">DOCUMENTACIÓN EN DESARROLLO</span>. ArtCatalog
	</p>
</article>

<article id="c-atab-two" class="tabcontent is-hidden">
	<h2 class="h1">ExpoFinder</h2>
	<p>
		<span style="color:red;">DOCUMENTACIÓN EN DESARROLLO</span>. ExpoFinder
	</p>
</article>
