<div class="group group-xs">
	<ul>
		<li>
			<button id="stab40" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab40', 'step40', 'shtabcontent', 'shtablinks');">
			Requisitos</button>
		</li>
		<li>
			<button id="stab41" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab41', 'step41', 'shtabcontent', 'shtablinks');">
			Ajustes</button>
		</li>
		<li>
			<button id="stab42" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab42', 'step42', 'shtabcontent', 'shtablinks');">
			Idioma</button>
		</li>
		<li>
			<button id="stab44" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab44', 'step44', 'shtabcontent', 'shtablinks');">
			Aplicación</button>
		</li>
	</ul>
</div>

<div id="step40" class="shtabcontent visible">
	<h3 id="title-helprequirements">Requisitos</h3>
	<p>
		Esta página muestra información relevante sobre el <em>software</em> y el <em>hardware</em> del ordenador 
		cliente y realiza ciertas recomendaciones sobre lo requisitos mínimos deseables para optimizar la 
		experiencia del usuario con la aplicación.
	</p>
	<p class="aside background-info-50">
		<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
			<path class="info" d=""></path>
		</svg>
		A TENER EN CUENTA. Considere que PATHFINDER es una aplicación que utiliza al máximo la potencia del 
		ordenador desde el que el usuario accede, y apenas si hace uso de los recursos de los servidores 
		(de datos y de aplicación). Para ello emplea un navegador. Con Firefox y Chrome como recomendados, 
		no obstante disponer de uno de ellos pero <em>desactualizado</em> no es buena idea. PF emplea en 
		su estructura interna las más recientes tecnologías 
		<a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/JavaScript"><em>JavaScript</em></a> y 
		<a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/ECMAScript"><em>ECMAScript</em></a>, 
		y por ello debe asegurarse de disponer de navegadores que que las ofrezcan.
	</p>	
	<p class="aside background-info-50">
		<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
			<path class="info" d=""></path>
		</svg>
		A TENER EN CUENTA. Se ha comprobado mediante pruebas exhaustivas que PF puede trabajar correctamente y 
		sin especiales dificultades con solamente 4GB de memoria RAM; aún así, es preferible disponer al menos 
		de 8GB, lo que en la actualidad no supone un dispendio de recursos o dinero.
	</p>
	
	<h4>Navegadores recomendados</h4>
	<div class="boxes boxes-four-cols">
		<div class="padding-m border-radius background-white color-dark">
			<h5 class="margin-top-m">Google Chrome &ge; 51</h5>
          	<p class="color-grey">
          		Navegador web de software privativo o código cerrado​​ desarrollado por Google. 
          		Usa el motor  de renderizado Blink. Gratuito.
          	</p>
			<img src="./assets/img/logos/chrome.svg" alt="Chrome." style="max-width:5em">
			<p>
				<a rel="nofollow" target="_blank" href="https://www.google.com/chrome/" 
				class="button button-primary button-icon button-text">
					<span>Obtener</span>
					<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
						<path class="arrowright" d=""></path>
					</svg>
				</a>
			</p>
		</div>
		<div class="padding-m border-radius background-white color-dark">
			<h5 class="margin-top-m">Mozilla Firefox &ge; 50</h5>
          	<p class="color-grey">
          		Navegador web libre y de código abierto​ desarrollado por la Corporación Mozilla y la Fundación Mozilla. 
          		Usa el motor de renderizado Gecko. Gratuito.
          	</p>
			<img src="./assets/img/logos/firefox.svg" alt="Firefox." style="max-width:5em">
			<p>
				<a rel="nofollow" target="_blank" href="https://www.mozilla.org/es-ES/firefox/new/" 
				class="button button-primary button-icon button-text">
					<span>Obtener</span>
					<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
						<path class="arrowright" d=""></path>
					</svg>
				</a>
			</p>
		</div>
		<div class="padding-m border-radius background-white color-dark">
			<h5 class="margin-top-m">Opera Software Opera &ge; 40</h5>
          	<p class="color-grey">
          		Navegador web creado por la empresa noruega Opera Software para varias plataformas. 
          		Usa el motor de renderizado Blink. Gratuito.
          	</p>
			<img src="./assets/img/logos/opera.svg" alt="Firefox." style="max-width:5em">
			<p>
				<a rel="nofollow" target="_blank" href="https://www.opera.com/es"  
				class="button button-primary button-icon button-text">
					<span>Obtener</span>
					<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
						<path class="arrowright" d=""></path>
					</svg>
				</a>
			</p>
		</div>
		<div class="padding-m border-radius background-white color-dark">
			<h5 class="margin-top-m">Apple Safari &ge; 10</h5>
          	<p class="color-grey">
          		Navegador web de código cerrado desarrollado por Apple Inc. Está disponible para macOS e iOS. 
          		Usa el motor de renderizado WebKit. Gratuito.
          	</p>
			<img src="./assets/img/logos/safari.svg" alt="Firefox." style="max-width:5em">
			<p>
				<a rel="nofollow" target="_blank" href="https://www.apple.com/es/safari/"  
				class="button button-primary button-icon button-text">
					<span>Obtener</span>
					<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
						<path class="arrowright" d=""></path>
					</svg>
				</a>
			</p>
		</div>
	</div>
</div>
<div id="step41" class="shtabcontent hide">
	<h3 id="title-helpsettings">Ajustes</h3>
	<p>
		Permite configurar los parámetros básicos de funcionamiento de PATHFINDER. Pueden ser 
		modificados pulsando sobre la opción deseada. Una vez cambiados, PF los almacenará en el 
		navegador cliente, y se utilizarán en las siguientes sesiones de trabajo.
	</p>
	<p>
		La pantalla contiene los siguientes elementos.
	</p>
	<ol type="1">
		<li>
			<p>
				Control de errores.
			</p>
			<ol type="a">
				<li>
					<p>
						Captura de errores. PF mostrará una ventana emergente cuando se produzca un error.
					</p>
				</li>
				<li>
					<p>
						Mensajes de error detallados. PF incluirá información de depuración en el mensaje de error. Sólo 
						tendrá efecto si la opción <em>Captura de errores</em> está activada.
					</p>
				</li>
				<li>
					<p>
						Mostrar error en consola de desarrollo. PF mostrará el error en la consola del navegador. Sólo 
						tendrá efecto si la opción <em>Captura de errores</em> está activada.
					</p>
				</li>
				<li>
					<p>
						Aviso antes de recargar la página. PF advertirá antes de ejecutar una solicitud de recarga de 
						la página en el navegador, para prevenir pérdidas de datos. La recarga puede ser así cancelada.
					</p>
				</li>
			</ol>
		</li>
		<li>
			<p>
				Límites.
			</p>
			<ol type="a">
				<li>
					<p>
						Tiempo máximo de carga de bibliotecas (para conexiones lentas; en s). PF advertirá 
						al usuario si, al tratar de cargar una biblioteca de código, supera el límite establecido.
					</p>
				</li>
				<li>
					<p>
						Valores máximos a mostrar en estadística descriptiva. En las páginas de análisis, apartado 
						<em>Estadísticas</em>, PF muestra una lista de los valores más destacados ("top N values"). 
						Este parámetro controla el número de los que se mostrarán.
					</p>
				</li>
				<li>
					<p>
						Límites máximos (filas en una tabla, vértices y aristas en un grafo). Si bien la 
						única limitación de PF viene determinada por la cantidad de memoria disponible en el 
						ordenador cliente, puede mejorar la experiencia del usuario si se establecen, en 
						ciertas circunstancias, límites más restrictivos a los datos recuperados. En sentido 
						estricto no son necesarios.
					</p>
				</li>
			</ol>
		</li>
		<li>
			<p>
				Listados y tablas.
			</p>
			<ol type="a">
				<li>
					<p>
						Registros por página. Tamaño de las páginas (número de filas)) en las tablas que se muestren 
						en pantalla.
					</p>
				</li>
				<li>
					<p>
						Formato z-score. En las 
						tablas, cuando procede, PF muestra el valor normalizado o <em>z-score</em> de cada frecuencia. 
						Para más información acerca del valor normalizado o unidad tipificada, 
						<a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/Unidad_tipificada">pulse aquí</a>. 
						Dicho valor puede mostrarse en formato numérico o gráfico.
					</p>
				</li>
			</ol>
		</li>
		<li>
			<p>
				Escala cromática. PF añade a las tablas que muestren frecuencias un indicador visual de la relevancia 
				de cada fila con respecto al total. Dicho indicador se muestra mediante colores graduados.
			</p>			
		</li>
	</ol>
</div>
<div id="step42" class="shtabcontent hide">
	<h3 id="title-helplanguage">Idioma</h3>
	<p>
		PATHFINDER está diseñado como aplicación multiidiomática en cuanto a su interfaz se refiere (los datos, en este 
		momento, se encuentran únicamente en idioma español). Desde esta opción (o desde el enlace que aparece en el 
		<a href="javascript:toolkit.markdemo('footer');">pie de página</a>) es posible alternar entre los dos 
		idiomas actualmente disponibles: español e inglés.
	</p>
	<p class="aside background-warning-50">			
		<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
			<path class="bell" d=""></path>
		</svg>
		IMPORTANTE. Tenga en cuenta que al cambiar de idioma PF se reinicia. Si se ha cargado una base de datos 
		(archivo <a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/JSON"><em>JSON</em></a>), 
		cualquier operación realizada con ella se perderá, aunque no el archivo en sí mismo. PF avisa sobre 
		el estado de la base de datos cuando se solicita un cambio de idioma.
	</p>
</div>
<div id="step44" class="shtabcontent hide">
	<h3 id="title-helpapp">Aplicación</h3>
	<p>
		Ventana emergente que muestra el estado de la aplicación (velocidad del navegador, código fuente,&hellip;) y 
		otras informaciones de interés.
	</p>
</div>
