<h4>Trazado de grafos. Límites sugeridos</h4>

<p>
PATHFINDER no tiene un límite (salvo la memoria física) para el trazado de grafos. Sin embargo, y con el fin de no degradar la experiencia del 
usuario, se recomienda <em>no solicitar trazados que involucren a un excesivo número de 
<a target="_blank" rel="nofollow" href="https://es.wikipedia.org/wiki/Arista_(teor%C3%ADa_de_grafos)">aristas</a> o 
<a target="_blank" rel="nofollow" href="https://es.wikipedia.org/wiki/V%C3%A9rtice_(teor%C3%ADa_de_grafos)">vértices</a></em>. 
</p>

<p>
Tras diversas pruebas realizadas, las prestaciones de trazado se aproximan a las siguientes:
</p>

<ul>
	<li>Microprocesador: Intel Core i3-3240 CPU 3.40GHz x 4</li>
	<li>Gráficos: Intel Ivybridge Desktop</li>
	<li>Disco: 488,0 GB</li>
	<li>Memoria: 3,7 GiB</li>
	<li>Sistema operativo: Ubuntu 16.04 LTS</li>
	<li>Navegador: Chrome 67</li>
	<li>Vértices/segundo: 150</li>
	<li>Aristas/segundo: 4.500</li>
	<li>Consumo de memoria (aprox.): 0,125 KiB/vértice, 0,045 KiB/arista</li>
</ul>
