<p class="no-print no-margin-bottom">
	<select class="no-print" onchange="toolkit.selecttab('atab', this.value)">
		<option value="zero">Qué es</option>
		<option value="one">Recuento estadístico</option>
		<option value="two">Tendencias centrales</option>
		<option value="three">Estadística inferencial</option>
		<option value="four">Visualización gráfica</option>
		<option value="five">Vínculos y redes</option>
		<option value="six">Geoanálisis</option>
	</select>
	<a class="no-print float-right" href="javascript:toolkit.printdiv('alert-content', 'Ayuda. Análisis');">Imprimir</a>
</p>

<article id="c-atab-zero" class="tabcontent atab-zero is-visible">
	<p>
		Qué es
	</p>
</article>

<article id="c-atab-one" class="tabcontent atab-one is-hidden">
	<p>
		Recuento
	</p>
</article>

<article id="c-atab-two" class="tabcontent atab-two is-hidden">
	<p>
		Utilice estas herramientas de  
		<a href="https://es.wikipedia.org/wiki/Estad%C3%ADstica_descriptiva" target="_blank" rel="nofollow">estadística descriptiva</a> 
		para realizar cálculos sobre el conjunto total de datos a algún subconjunto. Podrá obtener medidas de 
		<a href="https://es.wikipedia.org/wiki/Medidas_de_dispersión" rel="nofollow" target="_blank">dispersión</a>, 
		<a href="https://es.wikipedia.org/wiki/Frecuencia_estad%C3%ADstica" target="_blank" rel="nofollow">frecuencia</a>, 
		<a href="https://es.wikipedia.org/wiki/Coeficiente_de_variación" target="_blank" rel="nofollow">variación</a> y otros valores 
		que permitirán estudiar la representatividad y comparar la muestra y el universo estudiado.
	</p>
</article>

<article id="c-atab-three" class="tabcontent atab-three is-hidden">
	<p>
		Utilice estas herramientas para realizar cálculos de 
		<a href="https://es.wikipedia.org/wiki/Estad%C3%ADstica_inferencial" target="_blank" rel="nofollow">estadística inferencial</a> 
		sobre el conjunto de datos gestionado por PATHFINDER. Podrá realizar, entre otras operaciones&hellip;
		<ul class="desc">
			<li> 
				<a href="https://es.wikipedia.org/wiki/Muestreo_(estad%C3%ADstica)" target="_blank" rel="nofollow">muestreos</a> 
				que permita obtener conclusiones estadísticamente válidas y significativas
			</li>
			<li> 
				identificación de
				<a href="https://es.wikipedia.org/wiki/Variable_estad%C3%ADstica" target="_blank" rel="nofollow"> 
				variables estadísticas</a> 
				que permitan estimar valores poblacionales a partir de muestras de mucho menor tamaño
			</li>
			<li> 
				<a href="https://es.wikipedia.org/wiki/Contraste_de_hipótesis" target="_blank" rel="nofollow">contraste de hipótesis</a> 
				para decidir si dos muestras son estadísticamente diferentes o si un determinado procedimiento 
				tiene un efecto estadístico significativo
			</li>
		</ul>
	</p>
</article>

<article id="c-atab-four" class="tabcontent atab-four is-hidden">
	<p>
		Gráficos
	</p>
</article>

<article id="c-atab-five" class="tabcontent atab-five is-hidden">
	<p>
		Redes
	</p>
</article>

<article id="c-atab-six" class="tabcontent atab-six is-hidden">
	<p>
		Mapas
	</p>
</article>
