<div class="margin-bottom-l">
	<p class="aside background-info color-white">
		IMPORTANTE: en el listado, PATHFINDER siempre muestra los <a href="#documents">registros primarios</a> 
		seleccionados por el filtro activo. Téngalo en cuenta si no aparecen los datos deseados y rectifique 
		el filtro en consecuencia.
	</p>
	
	<h4 class="margin-vertical" id="titlestep100">1. BÚSQUEDA Y NAVEGACIÓN.</h4>
	
	<p>
		Zona superior de la tabla que permite desplazarse por el conjunto de datos mediante un control deslizante 
		o página a página. También permite exportar los datos en formato 
		<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/Valores_separados_por_comas">CSV</a>, 
		imprimir la tabla y realizar búsquedas filtradas sobre ella.
	</p>
	<p>
		Cuando muestra una tabla que es resultado de una operación analítica, sobre esta zona se presentan 
		los datos elementales de estadística descriptiva, además de información sobre 
		<a rel="nofollow" target="_blank" href="https://es.wikipedia.org/wiki/Valor_at%C3%ADpico">valores atípicos</a> 
		(<em>outliers</em>), muy importantes en el proceso de descubrimiento de nuevo conocimiento de PF. 
	</p>
	
	<h4 class="margin-vertical" id="titlestep101">2. TABLA.</h4>
	
	<p>
		Lista ordenada de datos filtrados. Puede alterar el orden de presentación pulsando alternativamente 
		sobre el encabezamiento de cada columna (cambiará de menor a mayor, A &rarr; Z, y viceversa).
	</p>
	
	<h4 class="margin-vertical" id="titlestep102">3. REGISTRO INDIVIDUAL.</h4>
	
	<p>
		Al pulsar sobre el <em>título</em> de un <a href="#documents">registro primario</a> se mostrará la 
		correspondiente ficha de registro individual.
	</p>
</div>
