<div class="margin-bottom-l">
	<h4 class="margin-vertical" id="titlestep100">1. ANÁLISIS RELACIONAL.</h4>
	<p>
		En un menú desplegable se muestran los distintos procedimientos analíticos que pueden ser aplicados 
		a un registro individual.
		<ul>
			<li>
				Cronograma, geograma y taxograma. Generan gráficos comparando las frecuencias de cada 
				aspecto (valores temporales o cronológicos, valores geográficos y taxonomías) correspondientes 
				al registro analizado. Es posible aplicarlos a diferentes facetas de un mismo valor; 
				por ejemplo, año, mes o día en el caso de fechas. Los gráficos son de líneas y, en el 
				caso del taxograma, también de radar.
			</li>
			<li>
				Red. Genera un grafo de las relaciones del registro con otros, diferenciando los vínculos 
				mediante el 
				<a href="javascript:info.help('colorscode');">código de colores</a> 
				asignado a cada tipo de registro primario. Es posible mostrar el grafo en diversos formatos 
				(digrafo, digrafo circular, <em>sankey</em>,&hellip;).
			</li>
			<li>
				Estadística. Muestra una tabla con los datos de frecuencias para cada característica del 
				registro analizado.
			</li>
			<li>
				Mapa. Presenta la ubicación geográfica (si está disponible) del registro analizado, así 
				como de su "vecindario" (registros con los que se relaciona), en forma de 
				<em>clusters</em> (agrupamientos) o de mapa de calor. También representa los 
				flujos relacionales del registro.
			</li>
		</ul>
	</p>
	
	<h4 class="margin-vertical" id="titlestep101">2. DATOS DEL REGISTRO.</h4>
	
	<p>
		Características del registro y sus vínculos organizadas y ordenadas. Las relaciones con otros 
		registros primarios se presentan agrupadas por tipo de registro y campo relacional. Cada una de ellas, 
		al ser pulsada, muestra el registro correspondiente, construyendo así una "cadena" que puede ser recorrida 
		hacia adelante (siguiente relación) o hacia atrás hasta el registro original. 
	</p>
</div>
