<p>
	PATHFINDER ha detectado que su navegador es 
	<strong class="no-data" id="warning-navname"></strong> <strong class="no-data" id="warning-navver"></strong>. 
	La aplicación está pensada para trabajar con las versiones más recientes de estos programas para  
	poder realizar las complejas operaciones necesarias de la manera más eficiente posible. Sin embargo, la que ha sido 
	identificada es anterior y puede provocar errores y problemas durante el funcionamiento.
</p>
<p>
	Los navegadores son gratuitos, y su instalación, siempre y cuando se lleve a cabo de la manera prevista por 
	las empresas que los distribuyen, no comporta riesgos para el equipo que los albergue y se realiza en 
	muy poco tiempo. Pero para que puedan aprovechar la potencia que en la actualidad ofrecen los modernos 
	ordenadores y, al mismo tiempo, prevenir posibles problemas de seguridad, es imprescindible 
	<em>mantenerlos actualizados</em>. La mayor parte de los sistemas operativos (Windows, MacOS, Linux) 
	pueden efectuar esta tarea de forma automática.
</p>
<p>
	Las versiones mínimas recomendadas son las siguientes: 
	<a rel="noopener" target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a> 
	56 ó superior, 
	<a rel="noopener" target="_blank" href="https://www.mozilla.org/firefox/">Firefox</a> 51 ó superior, 
	<a rel="noopener" target="_blank" href="http://www.opera.com/es">Opera</a> 42 ó superior, 
	<a rel="noopener" target="_blank" href="http://www.apple.com/es/safari">Safari</a> 11 ó superior. 
	En general, cualquier navegador que utilice el motor 
	<a rel="noopener" target="_blank" href="https://webkit.org">WebKit</a> o 
	<a rel="noopener" target="_blank" href="https://developers.google.com/v8/intro">Chrome V8</a>. 
</p>
