<p>
	PATHFINDER has detected that your browser is 
	<strong class="no-data" id="warning-navname"></strong> <strong class="no-data" id="warning-navver"></strong>. 
	The application is designed to work with the latest versions of these programs to be able 
	to perform the necessary complex operations in the most efficient way possible. 
	However, the one that has been identified is earlier and may cause errors 
	and problems during operation.
</p>
<p>
	The browsers are free, and their installation, as long as it is carried out as the 
	manufactures companies say, does not entail risks for the equipment 
	where they are installed and is done in a very short time. 
	But so that they can take advantage of the power that modern computers currently 
	offer and, at the same time, prevent possible security problems, it is essential 
	to keep them updated. Most operating systems (Windows, MacOS, Linux) 
	can perform this task automatically.
</p>
<p>
	Minimal recommended versions are listed below: 
	<a rel="noopener" target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a> 
	56 or greater, 
	<a rel="noopener" target="_blank" href="https://www.mozilla.org/firefox/">Firefox</a> 51 or greater, 
	<a rel="noopener" target="_blank" href="http://www.opera.com/es">Opera</a> 42 or greater, 
	<a rel="noopener" target="_blank" href="http://www.apple.com/es/safari">Safari</a> 11 or greater. 
	In general, any browser using 
	<a rel="noopener" target="_blank" href="https://webkit.org">WebKit</a> or 
	<a rel="noopener" target="_blank" href="https://developers.google.com/v8/intro">Chrome V8</a> renderize engine. 
</p>
