<h3 id="title-basemaps">Base mapping providers</h3>
<p>
	PATHFINDER uses free providers of base 
	<a rel="nofollow" target="_blank" href="https://mappinggis.com/2015/12/los-formatos-gis-raster-mas-populares/"><em>raster type</em></a> cartography. 
	List shows below.
</p>
<div class="table-responsive">
	<table>
		<tbody>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/1920px-CARTO-logo.svg.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://en.wikipedia.org/wiki/CARTO">CartoDB</a>. 
					<em>Software as a Service</em> (SaaS) cloud computing platform providing GIS and web mapping 
					tools to view in a web browser.
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/esri-logo-black.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://en.wikipedia.org/wiki/Esri">Esri</a>. 
					Founded by Jack Dangermond as <em>Environmental Systems Research Institute</em> (Esri) 
					in 1969 as a land-use consulting firm, 
					is an international supplier of 
					geographic information system (GIS) software, web GIS and geodatabase management 
					applications. The company is headquartered in Redlands, California..
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/openstreetmap-2.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://github.com/karlwettin/tilemill-style-hydda">Hydda</a>, 
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://opentopomap.org/about">OpenStreetMap (OSM)</a>, 
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://opentopomap.org/about">OpenTopoMap</a>, 
					derivations from the same project (OSM), create and manage freely accessible editable maps. 
					The size of the database (planet.osm) was in July 2017, above 800 gigabytes.
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/stamendesign.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://en.wikipedia.org/wiki/Stamen">Stamen</a>. 
					Using  
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://opentopomap.org/about">OSM</a> 
					as functional and cartographic base, Stamen gives format, sometimes in a visually 
					very suggestive, attractive and useful way, public access maps.
				</td>
			</tr>
			<tr>
				<td style="width:20%!important">
					<img src="./assets/img/logos/Wikimedia-logo-V.svg.png" 
						style="height:40px!important">
				</td>
				<td style="width:80%!important">
					<a rel="nofollow" target="_blank" class="font-weight-bold" href="https://www.wikimedia.es/wiki/Portada">Wikimedia</a>. 
					Repository of media files putting not-only-textual content in public domain, 
					including maps, publicly available in numerous languages.
				</td>
			</tr>
		</tbody>
	</table>
</div>