<h4 class="margin-vertical-s" id="help-subtitle">Change of language</h4>

<p class="margin-vertical-s">
	When you change the language to <span class="no-data" id="cl-newl"></span> PATHFINDER it will initialized. 
	Right now database is <span class="no-data" id="cl-dbstatus"></span>, 
	and if you run this operation, data will be resetted and it will be necessary to 
	reload them in order to be able to use system.
</p>
<p class="margin-vertical-s" style="margin-bottom:1em">
	Do you really want to proceed with the language change operation?
</p>
