<h4 class="margin-top" id="help-subtitle">Change the language</h4>

<p class="margin-top">
	When you change the language to <span class="no-data" id="cl-newl"></span> PATHFINDER it will initialized. 
	Right now the database is <span class="no-data" id="cl-dbstatus"></span>, 
	and in case of executing the requested operation the data will download and it will be necessary to 
	recharge in order to continue with the regular functioning of the system.
</p>
<p class="margin-top margin-bottom">
	Do you really want to proceed with the language change operation?
</p>
