<h4 class="margin-top margin-bottom" id="help-subtitle">Color codes</h4>

<p>
	PATHFINDER uses a color coded system to identify different types of elements.
	PATHFINDER utiliza un sistema codificado de colores para identificar diferentes tipos de elementos. 
	The <a href="#documents">primary record types</a> are identified according to the table below.
</p>	

<div class="table-responsive is-marginless">
	<table class="mq-table pure-table-bordered pure-table">
		<tbody>
			<tr>
				<td class="highlight is-text-center">
					<span class="short-padding-left short-padding-right bg-person" 
						style="color:#fff">P</span>
				</td>
				<td width="99%">
					Actor
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<span class="short-padding-left short-padding-right bg-book" 
						style="color:#fff">B</span>
				</td>
				<td>
					Catalog
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<span class="short-padding-left short-padding-right bg-company" 
						style="color:#fff">C</span>
				</td>
				<td>
					Company
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<span class="short-padding-left short-padding-right bg-entity" 
						style="color:#fff">E</span>
				</td>
				<td>
					Entity
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<span class="short-padding-left short-padding-right bg-exhibition" 
						style="color:#fff">X</span>
				</td>
				<td>
					Exhibition
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<span class="short-padding-left short-padding-right bg-artwork" 
						style="color:#fff">A</span>
				</td>
				<td>
					Artwork
				</td>
			</tr>
		</tbody>
	</table>
</div>

<p>
	In PATHFINDER, each type of link or button has a color code shown as a thick line on the left, 
	indicating the type of <em>activity</em> it will perform. This code corresponds to the following table.
</p>

<div class="table-responsive">
	<table class="mq-table pure-table-bordered pure-table">
		<tbody>
			<tr>
				<td class="highlight is-text-center">
					<a class="pure-button border-left-yellow" href="javascript:;">&nbsp;</a>
				</td>
				<td>
					Generation of files and download to disk. PATHFINDER creates a file containing the 
					requested information and downloads it to a disk on the client’s computer. 
					For proper operation, of course, this computer must have sufficient free space.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<a class="pure-button border-left-purple" href="javascript:;">&nbsp;</a>
				</td>
				<td>
					Downloading files or information from the server. You need the client’s computer 
					to be connected to the Internet. In the case of downloading files, this computer 
					must have sufficient free space.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<a class="pure-button border-left-blue" href="javascript:;">&nbsp;</a>
				</td>
				<td>
					Presentation of information prepared or calculated by PATHFINDER. 
					Can be displayed in a pop-up window (sometimes in full screen). 
					Usually involves a variable processing time.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<a class="pure-button border-left-orange" href="javascript:;">&nbsp;</a>
				</td>
				<td>
					File upload from the client’s computer disk. Normally the files consumed by PATHFINDER are usually in 
					<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> format.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<a class="pure-button border-left-green" href="javascript:;">&nbsp;</a>
				</td>
				<td>
					Help information. This is usually in the form of a pop-up window.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<a class="pure-button border-left-grey" href="javascript:;">&nbsp;</a>
				</td>
				<td>
					Printing or downloadig image or Adobe&trade; Acrobat&reg; (PDF) file.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					<a class="pure-button border-left-cyan" href="javascript:;">&nbsp;</a>
				</td>
				<td>
					[NOT YET SET].
				</td>
			</tr>
		</tbody>
	</table>
</div>