<h4 class="margin-top margin-bottom" id="help-subtitle">Correlations</h4>

<p>
	In PATHFINDER, it is understood as 
	<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Correlation_and_dependence"><em>correlation</em></a> 
	the frequency of two different types of primary record metainfo match in a record set. 
	It allows, for example, to find out how many times a particular actor curates exhibitions showing a concrete work of art. 
	It use <a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Mutual_information">transinformation</a> 
	as measurement method.
</p>

<p class="margin-top">
	True to its name, PATHFINDER "traces" the path of relationships linking non-similar primary record types using a 
	<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Directed_graph">directed graph</a>. 
	Using it and related found metainfo a "path" is created, built as a collection of sucessive steps making the link. 
	You just nedd to specify starting and end points of the route. Elements to be considered are shown below.
</p>

<div class="table-responsive">
	<table class="mq-table pure-table-bordered pure-table">
		<tbody>
			<tr>
				<td class="highlight is-text-center">
					Source
				</td>
				<td>
					Route starting point, as in <em>actor &rarr; artwork author &rarr; artwork</em>. It show 
					the types of primary registry linked to the metainformation acting as relationship between them.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					Target
				</td>
				<td>
					Route end point, as in <em>exhibition &rarr; curator &rarr; actor</em>. It show 
					the types of primary registry linked to the metainformation acting as relationship between them.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					Recalculate
				</td>
				<td>
					Layout of the route. If one or more steps have been removed, rebuild the original route.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					Route graph
				</td>
				<td>
					Diagram of the route. It shows an information window depicting the drawing of the route in a  
					<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Directed_graph">directed graph</a>.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center">
					Route steps
				</td>
				<td>
					When you press one of them, it is deleted and will not be used in the final 
					calculation of correlations. The colors of the elements are as follows:
					<br>
					<span class="short-padding-left short-padding-right bg-person" 
						style="color:#fff">P</span> actor, 
					<span class="short-padding-left short-padding-right bg-book" 
						style="color:#fff">B</span> catalog, 
					<span class="short-padding-left short-padding-right bg-company" 
						style="color:#fff">C</span> company, 
					<span class="short-padding-left short-padding-right bg-entity" 
						style="color:#fff">E</span> entity, 
					<span class="short-padding-left short-padding-right bg-exhibition" 
						style="color:#fff">X</span> exhibition, 
					<span class="short-padding-left short-padding-right bg-artwork" 
						style="color:#fff">A</span> artwork,
					<span class="short-padding-left short-padding-right" 
						style="background:#e6e6e6;color:#777">?</span> relation between records. 
					Relationship fields are in gray and can not be deleted.
				</td>
			</tr>
		</tbody>
	</table>
</div>