<h4 class="margin-top margin-bottom" id="help-subtitle">Legend of the table. Descriptive statistics</h4>

<p class="margin-bottom">
	In each data operation carried on by PATHFINDER, a <em>Stats</em> button opens a screen showing 
	descriptive statistics info, being able to be used as help to better understanding of distributive conditions of the analyzed sample. 
	Meaning for abbreviations used as table header are shown below, but feel free to refer the 
	<a href="#documents">documentation</a> to learn more.
</p>
<div class="table-responsive">
	<table class="mq-table pure-table-bordered pure-table table-smaller">
		<tbody>
			<tr>
				<td class="highlight is-text-center"><strong>FLD</strong></td>
				<td>
					Referenced field.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>TYP</strong></td>
				<td>
					Field content type: numeric, string, date,&hellip;
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>FRQ</strong></td>
				<td>
					Data frequency related indicators.
					<ul>
						<li><strong>VAL</strong>: total values (number of total rows retrieved).</li>
						<li><strong>DST</strong>: distinct values (number of rows containing non-repeated values).</li>
						<li><strong>MIS</strong>: missing values (number of empty or not-value-containing rows).</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>RNG</strong></td>
				<td>
					Indicators relating to the range of values covered by the data.
					<ul>
						<li><strong>MIN</strong>: minimum value.</li>
						<li><strong>DST</strong>: maximum value.</li>
						<li><strong>(N)</strong>: otal range between minimum and maximum value.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>AVG</strong></td>
				<td>
					Indicators referring to values showing a central trend in the dataset.
					<ul>
						<li><strong>MEA</strong>: arithmetic mean.</li>
						<li><strong>MED</strong>: median.</li>
						<li><strong>STD</strong>: standard deviation.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>QRT</strong></td>
				<td>
					Indicators referring to the extremes determining the presence of significant values.
					<ul>
						<li><strong>Q1</strong>: first quartile limit.</li>
						<li><strong>Q3</strong>: third quartile limit.</li>
						<li><strong>MSK</strong>: mode asymmetry.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>Entropy</strong></td>
				<td>
					Referent of interest when evaluating the importance and significance of the data contained in a field. 
					Query the <a href="#documents">documentation</a> about.
				</td>
			</tr>
			<tr>
				<td class="highlight is-text-center"><strong>D</strong> y <strong>J</strong></td>
				<td>
					Mutual distance and Jaccard index. Measurement of degree of affinity or 
					similitude between frequencies for a single field. 
					Query the <a href="#documents">documentation</a> about.
				</td>
			</tr>
		</tbody>
	</table>
</div>