<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item pure-menu-active">
			<a id="s-atab-zero" class="pure-menu-link" href="javascript:toolkit.selecttab('atab', 'zero')">Documents</a>
		</li>
		<li class="pure-menu-item">
			<a id="s-atab-one" class="pure-menu-link" href="javascript:toolkit.selecttab('atab', 'one')">Tutorial</a>
		</li>
		<li class="pure-menu-item">
			<a id="s-atab-two" class="pure-menu-link" href="javascript:toolkit.selecttab('atab', 'two')">Projects</a>
		</li>
		<li class="pure-menu-item">
			<a id="s-atab-three" class="pure-menu-link" href="javascript:toolkit.selecttab('atab', 'three')">Institutions</a>
		</li>
	</ul>
</div>
<div id="c-atab-zero" class="tabcontent atab-zero is-visible">
	<h3>Documents</h3>
	<p>
		<span class="text-error">UNDER DEVELOPMENT DOCUMENTATION</span>. Documents
	</p>
</div>

<div id="c-atab-one" class="tabcontent atab-one is-hidden">
	<h3>Tutorial</h3>
	<p>
		<span class="text-error">UNDER DEVELOPMENT DOCUMENTATION</span>. Tutorial
	</p>
</div>

<div id="c-atab-two" class="tabcontent atab-two is-hidden">
	<h3>Projects</h3>
	<p>
		<span class="text-error">UNDER DEVELOPMENT DOCUMENTATION</span>. Projects
	</p>
</div>

<div id="c-atab-three" class="tabcontent atab-three is-hidden">
	<h3>Institutions</h3>
	<p>
		<span class="text-error">UNDER DEVELOPMENT DOCUMENTATION</span>. Institutions
	</p>
</div>
