<div class="header">
	<h1>
		<img class="logo" src="./assets/img/logos/IMGLOGOPF.svg" alt="PATHFINDER" height="50">Documents
	</h1>
	<h2>
		Know the main PATHFINDER operation ways, its scientific and technical foundations, 
		and learn to use the resources offered by the tool.
	</h2>
</div>

<div class="pagecontent pagecontent-customize">
	<div class="content pure-menu pure-menu-horizontal pure-menu-scrollable">
		<ul class="pure-menu-list">
			<li class="pure-menu-item pure-menu-active">
				<a id="s-tab-zero" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'zero')">What is</a>
			</li>
			<li class="pure-menu-item">
				<a id="s-tab-one" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'one')">Purpose</a>
			</li>
			<li class="pure-menu-item">
				<a id="s-tab-two" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'two')">Resources</a>
			</li>
			<li class="pure-menu-item">
				<a id="s-tab-three" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'three')">Ontology</a>
			</li>
			<li class="pure-menu-item">
				<a id="s-tab-four" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'four')">Manual</a>
			</li>
		</ul>
	</div>

	<div id="c-tab-zero" class="tabcontent tab-zero content">
		<h2 class="margin-top">What is PATHFINDER</h2>
		<figure class="pull-right margin-left">
			<img src="./assets/img/photos/railway.jpg" 
				class="pure-img-responsive" width="150" height="113" alt="vías de tren" />
			<figcaption>
				Source: <a rel="noopener" target="_blank" href="https://www.pexels.com/">Pexels</a>
			</figcaption>
		</figure>
		<p>
			Welcome to the world of quantitative analysis of qualitative information. 
			Welcome to the world of the new knowledge, the big data and the geographical approach generation. 
			Welcome, in brief, to a tool to open new paths in the research about temporary expositions of artistic 
			content world and catalogues by digital approach. 
		</p>
		<p>
			PATHFINDER has been developed as an auxiliary tool. It does not work miracles. It does not solve problems. 
			It simply provides the user with a complete set of keys to open closed spaces which hide complex structures 
			of tangled network, of not so visible relations, of unsuspected routes, 
			of intuitive but not proven relationships between the institutions and companies involved in 
			the expositional process, people who make the exhibited works, those who intervene in the commission, 
			the catalographic publications and the artistic work itself.   
		</p>
		<p>
			In order to maximize efficiency, the application is designed so the most of the computational effort 
			is done by the user’s computer and not a remote machine, so it is convenient to use well-equipped devices 
			and updated software. But in reality, there is nothing special about their functional demands, 
			and practically any relatively new equipment with a well-maintained operating system 
			(we live in the 21st century, ladies and gentlemen… do not continue to use operating systems 
			and browsers from the late 20th century; for a third millennium researcher this should never 
			be a subterfuge) you will be able to carry out the operations without any problem. 
			Check in the <a href="#settings">requirements</a> section if the computer you are using is correctly prepared 
			and will offer you a correct user experience. 
		</p>

		<h3>Specialized tool</h3>
		<p>
			We will try to build a brief account of the gestation and implementation of an exciting idea: 
			to put within reach of any researcher in the field of Humanities (especially that of Digital Art History) 
			a simple but efficient tool to discover, in the great tide of relevant data when studying temporary exhibitions 
			of artistic content and their catalogues, Ariadne’s thread that leads to logical, reasonable and scientific explanations. 
		</p>
		<p>
			When the possibility arose in 2004 that the research group 
			<a rel="noopener" target="_blank" href="http://iarthislab.es">iArtHis_LAB</a>, 
			linked to the 
			<a rel="noopener" target="_blank" href="http://www.uma.es/departamento-de-historia-del-arte">Department of History of Art</a> 
			of the <a rel="noopener" target="_blank" href="http://www.uma.es">University of Malaga</a>, 
			could participate in a competition of ideas organized by the 
			<a rel="noopener" target="_blank" href="http://www.fbbva.es">BBVA Foundation</a> to 
			finance innovative projects in various scientific fields, it did not cease to seem like a 
			remote possibility to gain access to one of the winning positions. 
			<a rel="noopener" target="_blank" href="http://iarthislab.es">iArtHis_LAB</a> is a laboratory of research, 
			innovation and training for the development of digital studies on artistic culture, and in particular 
			for the progress and consolidation of the History of Digital Art in Spain. Working in the still new world 
			of the History of Digital Art and Digital Humanities requires mixed profiles, hybrid training and, above all, 
			a large dose of life force, a desire to progress, and a great capacity for work. Moreover, all this must be 
			articulated in a balances whole, where the development tactic does not hinder the work of the strategy. 
		</p>
		<p>
			The research group combines youth and experience, vitality and passion for reasoned and reasonable advancement. 
			Their goal is to go far and contribute, as far as possible, to making Art History a leading subject 
			at the beginning of the Third Millennium. There is no shortage of winnings, and there is no shortage of human 
			resources. But since almost everything remains to be done in this area, 
			those who want to participate can 
			<a rel="noopener" target="_blank" href="http://iarthislab.es/contacto/">contact</a> 
			the group. All initiatives are welcomed. 
		</p>
		<p>
			At bottom, the idea behind PATHFINDER is extremely simple. Every time someone from the world of Humanities 
			(and, in particular, from the world of Art History) tries to tackle the problem of supporting their research 
			on solid foundations, they encounter the same pitfalls that have existed there since the times of Scylla 
			and Charybdis. Nothing could be further from a good concept of “science” that “this statement comes 
			from this one or that one, and, therefore, it must be true, because they have studied the subject a lot. 
			Let no “good thinker” be deceived: it is an attitude &mdash;unfortunately&mdash; much more usual than one might believe. 
		</p>
		<p>
			The PATHFINDER development team is truly and very concerned about this situation. 
			For this reason, it was decided to design an application that could offer both the less experienced researcher 
			in the handling of computer artifacts and the more experienced one in those areas, resources to work without 
			the need for external dependencies. That is to say, a mechanism that could be used, after minimal training, 
			just like today any art historian uses a word processing program to compose their articles or an image 
			retouching program to prepare their illustrations. It should be so easy to understand that it does not 
			require specific training except, of course, the minimum necessary to be able to use its full potential. 
			At the same time, it would have to be versatile, efficient and undemanding in terms of hardware and software requirements.
		</p>	
		<p>
			And both the project created for the event organized by FBBVA, 
			<a rel="noopener" target="_blank" href="http://exhibitium.es">Exhibitium</a>, 
			and its subsequent development, 
			<a rel="noopener" target="_blank" href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf">ArtCatalogs</a> 
			(HAR2014-51915-P), 
			offered an unprecedented opportunity to put the idea into practice. Both were based on the data framework created by 
			specific applications that collected the information captures by human or electronic means and unified it 
			into a coherent structure. Both, too, and prior to the indispensable security safeguards, 
			were prepared to remotely offer the result of their information collections. It was, therefore, 
			and so to speak, to “draw” the appropriate container to collect the water that overflowed both tanks. 
		</p>
	</div>
	
	<div id="c-tab-one" class="tabcontent tab-one content">
		<h2 class="margin-top">Purpose</h2>
		<figure class="pull-right margin-left">
			<img src="./assets/img/photos/goal.jpg" 
				class="pure-img-responsive" width="150" height="100" alt="diana" />
			<figcaption>
				Fuente: <a rel="noopener" target="_blank" href="https://www.pexels.com/">Pexels</a>
			</figcaption>
		</figure>
		<p>
			PATHFINDER is an online application with 
			<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Client%E2%80%93server_model">client-server</a> 
			architecture that forms part of the 
			<a rel="noopener" target="_blank" href="http://www.exhibitium.com">Exhibitium</a> 
			and 
			<a href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf" rel="noopener" target="_blank">ArtCatalogs</a> 
			(HAR2014-51915-P) projects, developed by the research group 
			<a rel="noopener" target="_blank" href="http://iarthislab.es">iArtHis_LAB</a>, 
			from the 
			<a href="http://www.uma.es/departamento-de-historia-del-arte" rel="noopener" target="_blank">Department of Art History</a> 
			of the 
			<a rel="noopener" target="_blank" href="http://www.uma.es">University of Malaga</a>, Spain. 
			It has been conceived as a complement to obtain additional statistic and geographic information and 
			generate new knowledge from the data stored in 
			<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a>, which is part of 
			<a rel="noopener" target="_blank" href="http://www.exhibitium.com">Exhibitium</a>.
		</p>

		<p>
			The aim of PATHFINDER is to show the possibilities provided by the geographical treatment of data on 
			temporary exhibitions of artistic content and catalogues compiled both types of registration in 
			<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a>, 
			using different techniques to represent the densities of organizing, financing or promoting entities, 
			exhibition centers, actors (artists, curators, illustrators, editors, &hellip;) and the relationships between all 
			these elements.
		</p>
		<p>
			The application is designed to be able to locate locations and make comparative studies between them. 
			It is possible to filter the data by years of beginning of exhibitions, by number of events organized, 
			by locations and by other characteristics. 
		</p>
		
		<h3>Why an online app?</h3>
		
		<p>
			Web or online applications are programs that provide some tools to every user who is connected 
			to the internet and who access them. All this work is done on the web, only using an updated browser as a 
			resource. This new conception of the use of the network as a tool not only for the dissemination of information, 
			but for the creation of the same, goes far beyond the titanic struggles carried out in the last decade between 
			the software development corporations that demand a fair retribution for their work, and the users that accessed 
			these services without having acquired an original license committing a crime punishable by law. 
		</p>
		<p>
			PATHFINDER has been conceived as a <strong>non-finalist tool</strong>. That is to say, 
			its purpose is not to carry out the user’s work, but to provide it with mechanism that allow it to 
			obtain its own conclusions through experimentation. The vast majority of computing power resides 
			in the costumer’s equipment, so it is absolutely essential to use a computer we equipped with volatile memory 
			(RAM) and a very updated browser. 
		</p>
		<p>
			Precisely because it is an application with a clear utilitarian objective, the aesthetic appearance of the
			 PATHFINDER user interface is minimalist, not at all prone to abuse of bells and whistles that may 
			 distract from their functionality.
		</p>
		
		<h3>What kind of application is PATHFINDER?</h3>
		
		<p>
			PATHFINDER is a hybrid web application or 
			<a href="https://en.wikipedia.org/wiki/Mashup_(web_application_hybrid)" rel="noopener" target="_blank">mashup</a>. 
			It is a tool that invokes or “calls” the results obtained from others, in order to reuse its content and / or 
			functionality. That is to say, it is a system that simplifies the access to the results of others visualized 
			in a single graphical interface all of them, conferring them unity and homogeneity. 
			The term itself implies easy and fast integration, often using several open 
			<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/Interfaz_de_programación_de_aplicaciones">API</a>s 
			and data sources to produce rich results, which may not necessarily have been the original 
			reason for producing the primary source of data. All using Open Source Initiatives (OSI).
		</p>
		<p>
			The Open Source Initiative (OSI) is a 501 (c) 3 tax-exempt California public benefit corporation, 
			founded in 1998, that actively participates in building open source communities, education and public 
			outreach to promote awareness and the importance of non-proprietary software. OSI Board members travel 
			frequently around the world to attend open source conferences and events, meet with developers and open 
			source users, and discuss with public and private sector executives how Open Source technologies, 
			licensing, and development models can provide cost-effective services and strategic advantages. 
		</p>
		<p>
			Open Source facilitates the implementation of a software development method that harnesses the power 
			of distributed peer review and process transparency. The promise of open source is greater quality, 
			greater reliability, greater flexibility, lower final cost and preventive blocking of suppliers interested 
			in indiscriminate gain and the expense of the final result and effectiveness.
		</p>
		<p>
			PATHFINDER is an Open Source development that uses a considerable number of open source libraries 
			for its development. In this regard, we urge you to consult our credits section to find out which 
			development collections have been used. There are no limitations on the use of PATHFINDER, as far as 
			its use to obtain and generate new knowledge is concerned, except that of citing the origin of the 
			data and the mechanisms for obtaining the same, in accordance with the terms expressed in our 
			<a rel="noopener" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0" target="_blank">
			Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		</p>
		<p>
			For more information on the licenses used by PATHFINDER,  
			<a data-tab href="#legal">click here</a>.
		</p>			
	</div>
	
	<div id="c-tab-two" class="tabcontent tab-two content">
		<h2 class="margin-top">Recursos</h2>
		<figure class="pull-right margin-left">
			<img src="./assets/img/photos/resources.jpg" 
				class="pure-img-responsive" width="150" height="100" alt="red de elementos de colores" />
			<figcaption>
				Source: <a rel="noopener" target="_blank" href="https://www.pexels.com/">Pexels</a>
			</figcaption>
		</figure>
		<p>
			An important part of the coordination of projects is the planning of the resources involved, 
			because in the end these will be responsible for its execution. 
			PATHFINDER is an initiative that tries to optimize all the available elements to the maximum, 
			so that the effectiveness can face the contingencies derived from any possible shortage of means.
		</p>
		
		<h3>Human resources</h3>

		<p>
			PATHFINDER has been entirely developed by 
			<a href="http://hdplus.es" rel="noopener" target="_blank">Antonio Cruces Rodríguez</a>, 
			associate professor belonging to the grupo de investigación 
			<a href="http://iarthislab.es" rel="noopener" target="_blank">iArtHis_LAB</a>, of the 
			<a href="http://www.uma.es/departamento-de-historia-del-arte" rel="noopener" target="_blank">
			Department of Art History</a> 
			of the <a href="http://www.uma.es" rel="noopener" target="_blank">University of Málaga</a>, 
			member of the 
			<a href="http://www.exhibitium.com" rel="noopener" target="_blank">Exhibitium</a> and 
			<a href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf" rel="noopener" target="_blank">
			ArtCatalogs</a> (HAR2014-51915-P) 
			as developer of 
			<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a>.
		</p>
		<p>
			With an extensive experience (more than twenty-five years) in design, implementation and maintenance of 
			software projects of wide scope, both in the 
			<a  rel="noopener" target="_blank" href="http://www.gva.es/">Generalitat Valenciana</a> and 
			<a  rel="noopener" target="_blank" href="http://www.juntadeandalucia.es/index.html">Junta de Andalucía</a>, 
			member of the 
			<a href="http://www.humanidadesdigitales.org" rel="noopener" target="_blank">
			Association of Hispanic Digital Humanities</a>, 
			Antonio Cruces Rodríguez belongs to a 
			<a href="http://exhibitium.com/equipo/" rel="noopener" target="_blank">large group</a> 
			of collaborators who have worked at 
			<a href="http://exhibitium.com" rel="noopener" target="_blank">Exhibitium</a> 
			without any greater desire than that of disseminating and contributing to the improvement of the digital 
			approach to the History of Art and the disciplines of Humanities in the Spanish and Spanish-speaking world. 
		</p>
		<p>
			For a complete list of members of the Exhibitium project, 
			<a href="http://exhibitium.com/equipo/" rel="noopener" target="_blank">click here</a>, 
			and 
			<a href="http://iarthislab.es/miembros/" rel="noopener" target="_blank">here</a> 
			to obtain one of the members of the iArtHis_LAB research group. 
		</p>
		
		<aside>
			<p>
				<a href="javascript:screen.lightbox('img4');">
					<img src="./assets/img/pictures/Antonio-Cruces.jpg" 
						class="thumbnail margin-left pull-right" 
						alt="Antonio Cruces Rodríguez">
				</a>
				<span onclick="screen.lightbox('img4');" class="lightbox is-hidden" id="img4">
					<img src="./assets/img/pictures/Antonio-Cruces.jpg" alt="Antonio Cruces Rodríguez" >
				</span>
				<strong>Antonio Cruces Rodríguez</strong>. 
				Antonio Cruces Rodríguez. Associate Professor of the Department of Art History at the University 
				of Malaga. Graduate in Art History, he was a technician at the Direcció General de Patrimoni Cultural 
				de la Generalitat Valenciana and coordinated the publication of its Museum Guide (1991). 
				<a rel="noopener" target="_blank" href="https://www.uma.es/master-universitario-en-telematica-y-redes-de-telecomunicacion">
					Master in Telematics and Telecommunication Networks</a> 
				by the University of Malaga and technical advisor to the  
				Málaga y asesor técnico de la 
				<a href="http://www.juntadeandalucia.es/educacion/portals/web/ced" rel="noopener" target="_blank">
					Ministry ("Consejería") of Education</a> 
					de la Junta de Andalucía.
			</p>
		</aside>

		<h3>Material resources</h3>

		<p>
			Currently, PATHFINDER is hosted on a 
			<a href="https://hdplus.es" rel="noopener" target="_blank">server</a> owned by 
			Antonio Cruces Rodriguez and maintained by 
			<a href="https://www.strato.es" rel="noopener" target="_blank">Strato AG</a>, although it will definitely be 
			hosted on a server of the Department of Art History of the University of Malaga from mid/end-2019.
		</p>
		
		<p>
			In reality, PATHFINDER, strictly speaking, does not need accommodation in a shared service, 
			except for the fact of accessing data downloads from 
			<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a>. In future versions, 
			this circumstance will be solved by remote access to an external connection point. In fact, 
			and for practical purposes, it only downloads one font, the <em>Raleway</em> font, for mere aesthetic reasons from the 
			<a rel="noopener" target="_blank" href="https://fonts.googleapis.com">Google</a> 
			cloud, and it is not necessity: it can be directly replaced by any 
			fixed-pitch font present on the client computer. 
		</p>
	</div>

	<div id="c-tab-three" class="tabcontent tab-three content">
		<h2 class="margin-top">Ontology</h2>
		<figure class="pull-right margin-left">
			<img src="./assets/img/photos/ontology.jpg" 
				class="pure-img-responsive" width="150" height="103" alt="figuras geométricas" />
			<figcaption>
				Source: <a rel="noopener" target="_blank" href="https://www.pexels.com/">Pexels</a>
			</figcaption>
		</figure>
		<p>
			The following provides basic information on the various components of the <strong>information system</strong> called 
			<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> 
			in order to facilitate the process of exporting data from it. In this document, the term <em>information system</em> 
			is used in the same sense as described by 
			<a rel="noopener" target="_blank" href="http://global.britannica.com/topic/information-system">Encyclopaedia Britannica</a>:
		</p>
		<p class="content-quote">
			"an integrated set of components for collecting, storing, and processing data and for 
			delivering information, knowledge, and digital products".
		</p>
		
		<blockquote>
			<dl>
				<dt>
					<strong>Records.</strong>
				</dt>
				<dd>
					It contains the main registers that store the basic typologies of the system, in accordance with 
					what is stablished in the
					<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> operating document:
					<ul style="margin-left:18px">
						<li>
							<strong>Entities</strong> [<code><em>entity</em> ENT</code>].
							The <strong>entity</strong> 
							(according to <a rel="noopener" href="http://lema.rae.es/drae/" target="_blank">DRAE</a>) 
							is understood as 
							"<em>any corporation, company, institution, etc., taken as a legal person</em>". 
							In this case, any organization with a legal entity that is used in the context of 
							<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a>, either 
							as a source of RSS/Atom or HTML data, will be considered as such, from the results of which 
							the system explores the Web in search of information on temporary exhibitions, 
							as well as any other organization that acts as a support organizer or financer of an exhibition, 
							of its catalog or to which a person is linked in a work, research and academic way. 
						</li>
						<li>
							<strong>Actors</strong> [<code><em>person</em> ACT</code>]. 
							An <strong>actor</strong> in the context of 
							<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> 
							is understood to be one who interacts with catalogues or exhibitions as author, 
							editor, illustrator, curator, loan or other circumstances, and who may or may not 
							be related to entities.
						</li>
						<li>
							<strong>Catalogues</strong> [<code><em>book</em> CAT</code>]. 
							A <strong>catalog</strong> in the context of 
							<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> 
							is understood as any article, book, web page or text in general that is used 
							to illustrate the visitor about a specific exhibition. Its “natural” use is to store 
							information about its “catalogues”.
						</li>
						<li>
							<strong>Companies</strong> [<code><em>company</em> COM</code>]. 
							A <strong>company</strong> in the context of
							<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> 
							is understood as any organization whose relationship with entities, exhibitions, 
							publications or individuals can be defined EXCLUSIVELY in commercial or business terms. 
							This distinction, therefore, is not based on the public, private or mixed character 
							of the same, nor on the fact that its purposes include or do not include a profit motive, 
							but on the fact that the RELATIONSHIP is profitable motive.
						</li>
						<li>
							<strong>Exhibitions</strong> [<code><em>exhibition</em> EXP</code>]. 
							An <strong>exhibition</strong> in the context of 
							<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> 
							is understood as any event in which a set of works of an artistic nature is exhibited before 
							the public or whose intention is to disseminate knowledge of the academic discipline of Art History. 
						</li>
						<li>
							<strong>Artworks</strong> [<code><em>artwork</em> OBR</code>]. 
							An <strong>artwork</strong> en el contexto de 
							<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> 
							is understood as any manifestation of human activity through which the real 
							is interpreted or the imagined is captured with plastic, linguistic or sound resources.
						</li>
					</ul>
				</dd>
			</dl>
		</blockquote>		
		<blockquote>
			<dl>
				<dt>
					<strong>Metainformations.</strong>
				</dt>
				<dd>
					It contains any additional data that allows to characterize in an unequivocal way any record. 
					For example, its physical location, a date describing its beginning or end, or an e-mail address. 
					In reality, and as a whole, they act as singular descriptors of any element of the record table. 
					At the same time, metainformations make it possible to establish the links between the different 
					types of registers, so that it is possible, for example, to locate the people who curate an 
					exhibition or participate in it as artists. 
				</dd>
			</dl>
		</blockquote>
		<blockquote>
			<dl>
				<dt>
					<strong>Taxonomies.</strong>
				</dt>
				<dd>
					It contains the logical categories to which a certain record is assigned. 
					Such categories are shared with others, so that they can be used to classify in significant 
					sets the exhibitions, companies, persons, entities and publications.
				</dd>
			</dl>
		</blockquote>
		
		<h3>Relationships between elements</h3>
		<p>
			The data obtained follows the model expressed in the attached image. 
			In essence, the system groups the information according to the following criteris 
			(the symbol → means <em>relates to</em>):
		</p>
		
		<h4>Exhibitions</h4>
		<ul style="margin-left:18px;">
			<li>
				<code>Exhibitions &rarr; Entities:</code>
				<ul style="margin-left:36px;">
					<li><code>Organization [1&rarr;&infin;]</code>. The entity <strong>organizes</strong> the exhibition.</li>
					<li><code>Funding [1&rarr;&infin;]</code>. The entity <strong>finances</strong> the exhibition.</li>
					<li><code>Information source [1&rarr;1]</code>. 
					The entity <strong>is the source of information</strong> bout the exhibition data through the URIs 
					HTM, RSS or ATOM.</li>
				</ul>
			</li>
			<li>
				<code>Exhibitions &rarr; Actors:</code>
				<ul style="margin-left:36px;">
					<li><code>Authorship [1&rarr;&infin;]</code>. The actor <strong>is author</strong> 
					of a work exhibited in the exhibition.</li>
					<li><code>Curation [1&rarr;&infin;]</code>. The actor <strong>is the curator</strong> 
					of the exhibition.</li>
					<li><code>Collection [1&rarr;&infin;]</code>. The actor <strong>is a collector</strong> 
					of one or more works exhibited in the exhibition.</li>
				</ul>
			</li>
			<li>
				<code>Exhibitions &rarr; Catalogues:</code>
				<ul style="margin-left:36px;">
					<li><code>Catalogue [1&rarr;&infin;]</code>. The catalogue <strong>describes</strong> one, 
					several or all of the works exhibited in the exhibition.</li>
				</ul>
			</li>
			<li>
				<code>Exhibitions &rarr; Companies:</code>
				<ul style="margin-left:36px;">
					<li><code>Museography [1&rarr;&infin;]</code>. The company <strong>has carried on the 
					museographic project</strong> for the exhibition.</li>
				</ul>
			</li>
			<li>
				<code>Exhibitions &rarr; Exhibitions:</code>
				<ul style="margin-left:36px;">
					<li><code>Dependency [1&rarr;1]</code>. The exhibition (right) <strong>is the main one 
					in a descending relationship of dependence</strong> of the exhibition.</li>
				</ul>
			</li>
		</ul>
		
		<h4>Entities</h4>
		<ul style="margin-left:18px;">
			<li>
				<code>Entities &rarr; Entities:</code>
				<ul style="margin-left:36px;">
					<li><code>Dependency [1&rarr;1]</code>. The entity (right) <strong>is the main one 
					in a descending relationship of dependence</strong> of the entity.</li>
				</ul>
			</li>
		</ul>
		
		<h4>Actores</h4>
		<ul style="margin-left:18px;">
			<li>
				<code>Actors &rarr; Entities:</code>
				<ul style="margin-left:36px;">
					<li><code>Dependency [1&rarr;1]</code>. The entity <strong>is the main one 
					in a descending relationship of dependence</strong> of the actor.</li>
				</ul>
			</li>
			<li>
				<code>Actors &rarr; Actors:</code>
				<ul style="margin-left:36px;">
					<li><code>Dependency [1&rarr;1]</code>. The actor (right) <strong>is the main one 
					in a descending relationship of dependence</strong> of the actor.</li>
				</ul>
			</li>
		</ul>
		
		<h4>Catalogues</h4>
		<ul style="margin-left:18px;">
			<li>
				<code>Catalogues &rarr; Entities:</code>
				<ul style="margin-left:36px;">
					<li><code>Sponsorship [1&rarr;1]</code>. The entity <strong>sponsors or finances</strong> the catalogue.</li>
				</ul>
			</li>
			<li>
				<code>Catalogues &rarr; Actors:</code>
				<ul style="margin-left:36px;">
					<li><code>Authorship [1&rarr;&infin;]</code>. The actor <strong>is the author</strong> of the catalogue.</li>
					<li><code>Edition [1&rarr;&infin;]</code>. The actor <strong>es editor</strong> of the catalogue.</li>
					<li><code>Illustration or photography [1&rarr;&infin;]</code>. The actor <strong>is an illustrator or 
					photographer</strong> of the catalogue.</li>
				</ul>
			</li>
		</ul>
		
		<h3>Taxonomies</h3>
		<p>		
			In the vocabulary of Wordpress, or WP, (used in the development of 
			<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> 
			as an <em>application framework</em>), <strong>taxonomy</strong> is understood as a mechanism 
			of classification and grouping of the different primary information-bearing records 
			(posts in the context) based on terms and groups of terms that can respond, at the will of the developer, 
			to a hierarchical structure. It is possible, using this application, to download the information, 
			including terms, of all taxonomies used in  
			<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a>. Its structural organization follows 
			the following scheme. Note that the symbol <code>&reg;</code> 
			determines that the terms of taxonomy form a controlled vocabulary, and 
			that the symbol <code>&sect;</code> means that the taxonomy has a hierarchical structure:				 
		</p>
		<ul style="margin-left:18px;">
			<li>
				<code>Entities:</code>
				<ul style="margin-left:36px;">
					<li><code>Tipology &reg;</code>. Basic characterization (in quality of what acts) 
					of the entity in the information system.</li>
					<li><code>Ownership &reg;</code>. Elementary grouping of the entity according to whether the owner or 
					title holder of the same is under public law, private law or a mixture of both.</li>
					<li><code>Keywords</code>. Identifying and/or descriptive terms that can be used by the user 
					who drafts the registration at will.</li>
				</ul>
			</li>
			<li>
				<code>Actors:</code>
				<ul style="margin-left:36px;">
					<li><code>Activity &reg;</code>. Known tasks that an actor carries out that can play a significant 
					role in the context of the application data.</li>
				</ul>
			</li>
			<li>
				<code>Catalogues:</code>
				<ul style="margin-left:36px;">
					<li><code>Editorial &reg;</code>. Company or organization that acts as publisher of the publication.</li>
					<li><code>Catalogue typology &reg;</code>. Generic classification of the catalogue according to its 
					contents and the relation with the exhibition it catalogues.</li>
				</ul>
			</li>
			<li>
				<code>Companies:</code>
				<ul style="margin-left:36px;">
					<li><code>ISIC4 Category &reg;</code>. Classification of the company by its main activity. 
					It follows the <em>United Nations Statistics Division (UNSTAT) convention. 
					International Standard Industrial Classification of All Economic Activities, Rev.4</em>.</li>
				</ul>
			</li>
			<li>
				<code>Exhibitions:</code>
				<ul style="margin-left:36px;">
					<li><code>Exhibition type &reg;</code>. Basic characterization of the exhibition according to 
					hierarchy based on the works of 
					<a rel="noopener" target="_blank" href="http://www.casadellibro.com/libro-organizacion-y-diseno-de-exposiciones-su-relacion-con-el-museo/9788487733543/479394">Michael Belcher</a> and 
					<a rel="noopener" target="_blank" href="http://www.akal.com/libros/La-exposiciOn-un-medio-de-comunicaciOn/9788446010395">
					Ángela García Blanco</a>.</li>
					<li><code>Artworks types &reg;&sect;</code>. Types of works exhibited according to the categories collected 
					in the thesaurus of the 
					<a rel="noopener" target="_blank" href="http://www.getty.edu/research/tools/vocabularies/">Getty Foundation</a>.</li>
					<li><code>Topic &reg;&sect;</code>. Themes of the works exhibited according to the categories collected in 
					the thesauri of the 
					<a rel="noopener" target="_blank" href="http://www.getty.edu/research/tools/vocabularies/">Getty Foundation</a>.</li>
					<li><code>Movements &reg;</code>. Movements or artistic currents to which it is possible to ascribe the works exhibited 
					according to the categories collected in the thesauri of the 
					<a rel="noopener" target="_blank" href="http://www.getty.edu/research/tools/vocabularies/">Getty Foundation</a>.</li>
					<li><code>Period &reg;</code>. Temporary category of exhibited works based on major 
					chronological periods (centuries and historical epochs).</li>
				</ul>
			</li>
			<li>
				<code>Artworks:</code>
				<ul style="margin-left:36px;">
					<li><code>Artworks type &reg;&sect;</code>. Typology of works exhibited according to the categories 
					included in the thesauri of the 
					<a rel="noopener" target="_blank" href="http://www.getty.edu/research/tools/vocabularies/">Getty Foundation</a>.</li>
					<li><code>Theme &reg;&sect;</code>. Themes of the works exhibited according to the categories collected in 
					the thesauri of the 
					<a rel="noopener" target="_blank" href="http://www.getty.edu/research/tools/vocabularies/">Getty Foundation</a>.</li>
					<li><code>Movement &reg;</code>. Movements or artistic currents to which it is possible to ascribe the works 
					exhibited in accordance with the categories included in the thesaurus of the 
					<a rel="noopener" target="_blank" href="http://www.getty.edu/research/tools/vocabularies/">Getty Foundation</a>.</li>
					<li><code>Period &reg;</code>. Temporary category of exhibited works based on major chronological periods 
					(centuries and historical epochs).</li>
				</ul>
			</li>
		</ul>
		<p>
			<small class="text-blue">
				NOTE: Taxonomies of works are shared with exhibitions. Any term that is registered in one of them will 
				be visible and usable in both types of registry.
			</small>
		</p>
		
		<h3>Metadata</h3>
		<p>		
			Each type of record recorded as custom post (entities, actors, catalogues, companies, exhibitions and works) 
			has a considerable amount of associated meta-information, which defines its specific characteristics. 
			As it is not purely a frouping or classifying mechanism, this meta.information is not considered taxonomy. 
			The formal inventory of additional fields ascribed to each record type is summarized below. 
		</p>
		<p>
			In the lists below, certain conventional signs are used:
		</p>
		<ol style="margin-left:18px;margin-bottom:18px;">
			<li>The symbol <code><strong>&olarr;</strong></code> means that the field is self-referenced, i.e. 
			it searches among the records (custom post) whose abbreviation is expressed after the symbol. 
			In this case, the fields follows the <code>ID + :</code> rule, meaning that each value for that field is 
			preceded by a number that matches the <code>ID</code> value of the record type mentioned, 
			followed by a colon (<code>:</code>) and a <code>blank space</code>.</li>
			<li>The symbol <code><strong>&divonx;</strong></code> means that the value of the field is verified by 
			<a rel="noopener" target="_blank" href="http://www.geonames.org/">Geonames</a>. If the fields is intended 
			to store the name of a locality follows the rule <code>; * 2</code>, 
			i.e. each value must contain <code>3 elements</code> separated by semicolon (<code>;</code>), 
			corresponding to the following structure: 
			<code>municipality</code> <code>;</code> <code>region or state</code> <code>;</code> 
			<code>country</code>. If it is intended to store the name of a country, it will simply retain that value, 
			without any separator.</li>
			<li>The symbol <code><strong>&triplus;</strong></code> means that the value of the field is verified by 
			<a rel="noopener" target="_blank" href="http://maps.google.com/">Google Maps</a>.</li>
			<li>The symbol <code><strong>&timesb;</strong></code> means that the value of the field could not 
			be modified by the user and is calculated automatically.</li>
			<li>The symbol <code><strong>&otimes;</strong></code> means that the value of the field has been 
			automatically obtained or calculated by the <em>Beagle</em> process.</li>
		</ol>			   
		<p>
			Those fields that must contain a date make use of the following conventions:
		</p>
		<ol style="margin-left:18px;margin-bottom:18px;">
			<li>UNIQUE DATES (a single field)
			<ol style="margin-left:36px;">
				<li>If the <strong>complete date</strong> is known the format is 
				<code>[four digit year]-[two digit month]-[two digit day]</code>.</li>
				<li>If <strong>only month and year</strong> are known the format is 
				<code>[four digit year]-[two digit month]-01</code>.</li>
				<li>If <strong>only one year</strong> is known the format is 
				<code>[four digit year]-01-01</code>.</li>
				<li>If the expressed date is before the beginning of our era (B.C.) the negative sign [-] will 
				be placed before the year.</li>
				<li>If the date alludes to a century, twenty-five-year fractions will be used and the numeral 
				containing the beginning of the fraction will be valid, according to the following guideline: 
				<ul style="margin-left:36px;">
					<li><code>NN00 = first quarter of the NN+1 century</code></li>
					<li><code>NN25 = second quarter of the NN+1 century</code></li>
					<li><code>NN50 = third quarter of the NN+1 century</code></li>
					<li><code>NN75 = fourth (last) quarter of the NN+1 century</code></li>
				</ul>   
				Thus, for example, <code>1725</code> will be used to express the <em>second</em> 
				quarter of the 18th century. Accuracies of less than 0.25 of a century will not be admitted.</li>
			</ol>
			</li>
			<li>PAREADED DATES (beginning and end)
			<ol style="margin-left:36px;">
				<li>If the <strong>two complete date</strong> are known, in both cases the format is 
				<code>[four digit year]-[two digit month]-[two digit day]</code>.</li>
				<li>If <strong>only the month and year of one of the two dates</strong> are known the following scheme is followed:
					<ol style="margin-left:36px;">
						<li>If the <strong>start date</strong>, is known, the <em>end date</em> will be 
						<code>[four digit year]-[two digit month]-[last possible day of month]</code>.</li>
						<li>If the <strong>end date</strong>, is known, the <em>start date</em> will be 
						<code>[four digit year]-[two digit month]-01</code>.</li>
					</ol>
				</li>
				<li>If <strong>only one year of one of the two dates</strong> is known the following scheme is followed:
					<ol style="margin-left:36px;">
						<li>If the <strong>start date</strong> is known, the <em>end date</em> will be 
						<code>[four digit year]-12-31</code>.</li>
						<li>If the <strong>end date</strong> is known, the <em>start date</em> will be 
						<code>[four digit year]-01-01</code>.</li>
					</ol>
				</li>
			</ol>
			</li>
		</ol>

		<h3 class="margin-bottom">Fields</h3>
		<h4>Entities</h4>
		<div class="table-responsive">
		<table class="mq-table pure-table-bordered pure-table table-smaller">
			<thead>
				<tr>
					<th class="highlight">Internal field name</th>
					<th class="highlight">Kind of relationship</th>
					<th class="highlight">Content</th>
				</tr>
			</thead>
			<tr><td class="highlight">_csl__ent_alternate_name</td><td><code>[1&rarr;1]</code></td><td>Alternative name</td></tr>
			<tr><td class="highlight">_csl__ent_town</td><td><code>[1&rarr;1]</code> <code>&divonx;</code></td><td>Locality</td></tr>
			<tr><td class="highlight">_csl__ent_url</td><td><code>[1&rarr;1]</code></td><td>URL</td></tr>
			<tr><td class="highlight">_csl__ent_email</td><td><code>[1&rarr;1]</code></td><td>Email address</td></tr>
			<tr><td class="highlight">_csl__ent_phone</td><td><code>[1&rarr;1]</code></td><td>Phone number</td></tr>
			<tr><td class="highlight">_csl__ent_fax</td><td><code>[1&rarr;1]</code></td><td>Fax</td></tr>
			<tr><td class="highlight">_csl__ent_chief_executive</td><td><code>[1&rarr;1]</code></td><td>Chief executive</td></tr>
			<tr><td class="highlight">_csl__ent_relationship_type</td><td><code>[1&rarr;1]</code></td><td>Kind of relationship</td></tr>
			<tr><td class="highlight">_csl__ent_parent_entity</td><td><code>[1&rarr;1]</code> <code>&olarr; ENT</code></td><td>PArent entity</td></tr>
			<tr><td class="highlight">_csl__ent_coordinates</td><td><code>[1&rarr;1]</code> <code>&triplus;</code> <code>&timesb;</code></td><td>Coordinates</td></tr>
			<tr><td class="highlight">_csl__ent_address</td><td><code>[1&rarr;1]</code> <code>&triplus;</code></td><td>Address</td></tr>
			<tr><td class="highlight">_csl__ent_rss_uri</td><td><code>[1&rarr;&infin;]</code></td><td>RSS URI</td></tr>
			<tr><td class="highlight">_csl__ent_html_uri</td><td><code>[1&rarr;&infin;]</code></td><td>HTML URI</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_total_rank</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Total rank</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_general_aspects</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. General aspects</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_identity_and_information</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Identity and information</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_navigation_and_structure</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Navigation and structure</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_labeling</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Labeling</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_page_layout</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Page layout</td></tr> 
			<tr><td class="highlight">_csl__ent_sirius_m_understandability_and_ease_of_information</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Understability and ease of information</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_control_and_feedback</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Control and feedback</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_multimedia_elements</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Multimedia elements</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_search</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Search</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_help</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Help</td></tr>
			<tr><td class="highlight">_csl__ent_sirius_m_seo</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Web positioning (SEO)</td></tr> 
			<tr><td class="highlight">_csl__ent_sirius_m_social_networks</td><td><code>[1&rarr;1]</code></td><td>SIRIUS-M. Social networks</td></tr>
		</table>
		</div>
		<p>
			<small class="text-blue">
				NOTE: The <em>SIRIUS-M</em> fields score <strong>between 0 and 10</strong>. 
				The <em>Relationship type</em> field has the following alternatives: 
				<strong>Main entity</strong>, <strong>Secondary entity</strong>, <strong>Auxiliary entity</strong>. 
			</small>
		</p>
		<h4>Actors</h4>
		<div class="table-responsive">
		<table class="mq-table pure-table-bordered pure-table table-smaller">
			<thead>
				<tr>
					<th class="highlight">Internal field name</th>
					<th class="highlight">Kind of relationship</th>
					<th class="highlight">Content</th>
				</tr>
			</thead>
			<tr><td class="highlight">_csl__peo_person_type</td><td><code>[1&rarr;1]</code></td><td>Type of actor</td></tr>
			<tr><td class="highlight">_csl__peo_last_name</td><td><code>[1&rarr;1]</code></td><td>Last name</td></tr>
			<tr><td class="highlight">_csl__peo_first_name</td><td><code>[1&rarr;1]</code></td><td>First name</td></tr>
			<tr><td class="highlight">_csl__peo_gender</td><td><code>[1&rarr;1]</code></td><td>Gender</td></tr>
			<tr><td class="highlight">_csl__peo_birth_date</td><td><code>[1&rarr;1]</code></td><td>Date of birth</td></tr>
			<tr><td class="highlight">_csl__peo_death_date</td><td><code>[1&rarr;1]</code></td><td>Date of death</td></tr>
			<tr><td class="highlight">_csl__peo_country</td><td><code>[1&rarr;1]</code> <code>&divonx;</code></td><td>Country</td></tr>
			<tr><td class="highlight">_csl__peo_entity_relation</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ENT</code></td><td>Entity relationship</td></tr>
			<tr><td class="highlight">_csl__peo_person_relation</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ACT</code></td><td>Actor relationship</td></tr>
		</table>
		</div>
		<p>
			<small class="text-blue">
				NOTE: The <em>Type of actor</em> field has the following alternatives: 
				<strong>Individual</strong>, <strong>Group of people</strong>. 
				The <em>Gender</em> field has the following alternatives: 
				<strong>Undeclared</strong>, <strong>Male</strong>, <strong>Female</strong>.
			</small>
		</p>
		<h4>Catálogos</h4>
		<div class="table-responsive">
		<table class="mq-table pure-table-bordered pure-table table-smaller">
			<thead>
				<tr>
					<th class="highlight">Internal field name</th>
					<th class="highlight">Kind of relationship</th>
					<th class="highlight">Content</th>
				</tr>
			</thead>
			<tr><td class="highlight">_csl__boo_parallel_title</td><td><code>[1&rarr;&infin;]</code></td><td>Parallel title</td></tr>
			<tr><td class="highlight">_csl__boo_publishing_date</td><td><code>[1&rarr;1]</code></td><td>Publishing date</td></tr>
			<tr><td class="highlight">_csl__boo_publishing_place</td><td><code>[1&rarr;1]</code> <code>&divonx;</code></td><td>Publishing place</td></tr>
			<tr><td class="highlight">_csl__boo_edition_statement</td><td><code>[1&rarr;1]</code></td><td>Edition</td></tr>
			<tr><td class="highlight">_csl__boo_contains_images</td><td><code>[1&rarr;1]</code></td><td>Does it contain images?</td></tr>
			<tr><td class="highlight">_csl__boo_index_of_contents</td><td><code>[1&rarr;1]</code></td><td>Index of contents</td></tr>
			<tr><td class="highlight">_csl__boo_description_of_annex_material</td><td><code>[1&rarr;1]</code></td><td>Description of annexed material</td></tr>
			<tr><td class="highlight">_csl__boo_facsimile_link</td><td><code>[1&rarr;1]</code></td><td>Facsimime link</td></tr>
			<tr><td class="highlight">_csl__boo_document_location</td><td><code>[1&rarr;1;]</code></td><td>Location</td></tr>
			<tr><td class="highlight">_csl__boo_paper_author</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ACT</code></td><td>Catalogue author</td></tr>
			<tr><td class="highlight">_csl__boo_paper_editor</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ACT</code></td><td>Catalogue editoro</td></tr>
			<tr><td class="highlight">_csl__boo_illustrator</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ACT</code></td><td>Catalogue illustrator</td></tr>
			<tr><td class="highlight">_csl__boo_sponsorship</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ENT</code></td><td>Sponsorships</td></tr>
			<tr><td class="highlight">_csl__boo_artwork</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; OBR</code></td><td>Artwork</td></tr>
		</table>
		</div>
		<p>
			<small class="text-blue">
				NOTE: The <em>Does it contain images?</em> field has the following alternatives: 
				<strong>Yes, it contains images</strong>, <strong>No, it does not contain images</strong>. 
			</small>
		</p>
		<h4>Empresas</h4>
		<div class="table-responsive">
		<table class="mq-table pure-table-bordered pure-table table-smaller">
			<thead>
				<tr>
					<th class="highlight">Internal field name</th>
					<th class="highlight">Kind of relationship</th>
					<th class="highlight">Content</th>
				</tr>
			</thead>
			<tr><td class="highlight">_csl__com_company_headquarter_place</td><td><code>[1&rarr;1]</code> <code>&divonx;</code></td><td>Headquartet place</td></tr>
			<tr><td class="highlight">_csl__com_company_dimension</td><td><code>[1&rarr;1]</code></td><td>Dimension</td></tr>
		</table>
		</div>
		<p>
			<small class="text-blue">
				NOTE: The <em>Dimension</em> field has the following alternatives: 
				<strong>Small company (> 50 employees)</strong>, 
				<strong>Medium company (50-200 employees)</strong>, 
				<strong>Large company (> 200 employees)</strong>. 
			</small>
		</p>
		<h4>Exhibitions</h4>
		<div class="table-responsive">
		<table class="mq-table pure-table-bordered pure-table table-smaller">
			<thead>
				<tr>
					<th class="highlight">Internal field name</th>
					<th class="highlight">Kind of relationship</th>
					<th class="highlight">Content</th>
				</tr>
			</thead>
			<tr><td class="highlight">_csl__exh_crc32b_identifier</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code></td><td>CRC32B Identifier</td></tr>
			<tr><td class="highlight">_csl__exh_global_keywords_weight</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code></td><td>Overall weight of keywords</td></tr>
			<tr><td class="highlight">_csl__exh_relative_keywords_weight</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code></td><td>Relative weight of keywords</td></tr>
			<tr><td class="highlight">_csl__exh_found_keywords</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code></td><td>Found keywords</td></tr>
			<tr><td class="highlight">_csl__exh_original_publishing_date</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code></td><td>Publishing date</td></tr>
			<tr><td class="highlight">_csl__exh_original_reference_author</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code></td><td>Reference author</td></tr>
			<tr><td class="highlight">_csl__exh_original_source_link</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code></td><td>Link to the original source of the reference</td></tr>
			<tr><td class="highlight">_csl__exh_source_entity</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code> <code>&olarr; ENT</code></td><td>Source entity</td></tr>
			<tr><td class="highlight">_csl__exh_nbc_valuation</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code></td><td>CBI Error</td></tr>
			<tr><td class="highlight">_csl__exh_pst_list</td><td><code>[1&rarr;1]</code> <code>&timesb;</code> <code>&otimes;</code></td><td>Possible significant marks (PMS)</td></tr>
			<tr><td class="highlight">_csl__exh_exhibition_start_date</td><td><code>[1&rarr;1]</code></td><td>Start date</td></tr>
			<tr><td class="highlight">_csl__exh_exhibition_end_date</td><td><code>[1&rarr;1]</code></td><td>End date</td></tr>
			<tr><td class="highlight">_csl__exh_exhibition_town</td><td><code>[1&rarr;1]</code> <code>&divonx;</code></td><td>Locality</td></tr>
			<tr><td class="highlight">_csl__exh_exhibition_site</td><td><code>[1&rarr;1]</code></td><td>Headquarters</td></tr>
			<tr><td class="highlight">_csl__exh_exhibition_visitors</td><td><code>[1&rarr;1]</code></td><td>Visitor range</td></tr>
			<tr><td class="highlight">_csl__exh_exhibition_access</td><td><code>[1&rarr;1]</code></td><td>Type of access</td></tr>
			<tr><td class="highlight">_csl__exh_coordinates</td><td><code>[1&rarr;1]</code> <code>&triplus;</code> <code>&timesb;</code></td><td>Coordinates</td></tr>
			<tr><td class="highlight">_csl__exh_address</td><td><code>[1&rarr;1]</code> <code>&triplus;</code></td><td>Address</td></tr>
			<tr><td class="highlight">_csl__exh_relational_type</td><td><code>[1&rarr;1]</code></td><td>Type of relationship</td></tr>
			<tr><td class="highlight">_csl__exh_parent_exhibition</td><td><code>[1&rarr;1]</code> <code>&olarr; EXP</code></td><td>Exhibition on which it depends</td></tr>
			<tr><td class="highlight">_csl__exh_info_source</td><td><code>[1&rarr;1]</code> <code>&olarr; ENT</code></td><td>Information source</td></tr>
			<tr><td class="highlight">_csl__exh_artwork_author</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ACT</code></td><td>Author</td></tr>
			<tr><td class="highlight">_csl__exh_supporter_entity</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ENT</code></td><td>Supporter entity</td></tr>
			<tr><td class="highlight">_csl__exh_funding_entity</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ENT</code></td><td>Funding entity</td></tr>
			<tr><td class="highlight">_csl__exh_curator</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ACT</code></td><td>Curator</td></tr>
			<tr><td class="highlight">_csl__exh_catalog</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; CAT</code></td><td>Catalog</td></tr>
			<tr><td class="highlight">_csl__exh_museography</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; EMP</code></td><td>Company responsable for museography</td></tr>
			<tr><td class="highlight">_csl__exh_geotag</td><td><code>[1&rarr;&infin;]</code> <code>&divonx;</code></td><td>Geotag</td></tr>
			<tr><td class="highlight">_csl__exh_art_collector</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ENT ACT</code></td><td>Collector</td></tr>
		</table>
		</div>
		<p>
			<small class="text-blue">
				NOTES:
				<ol style="margin-left:18px;">
					<li>
					The <em>CRC32B Identifier</em> field calculates a hash using the CRC32B algorithm on the essential 
					fields of the record. It is used to prevent the system from trying to record 
					the same localized exposure twice.
					</li>
					<li>
					The <em>keywords</em> from the list of those defined by 
					<a rel="noopener" target="_blank" href="http://www.expofinder.es">ExpoFinder</a> 
					to be located by <strong><em>Beagle</em></strong> are used as a unit of measure of the reliability 
					of finding, through a combination of calculations, which include the absolute and relative weight 
					of localized words, according to a graduation of defined value for each of them.
					</li>
					<li>
					The <em>CBI Error</em> field expresses, as a percentage, the probability that a 
					finding is erroneous, based on a calculation of a group of elementary lexemes 
					located in the information found and according to the naïve Bayesian classifier 
					that uses the selections and discards of data recording users as a source of valuation.
					</li>
					<li>
					The <em>Possible Significant Marks (PMS)</em> field identifies and extracts a part of the context in which 
					the keywords mentioned in footnote 2 are located in order to assists data recording users in 
					their selection and filtering task.
					</li>
					<li>
					Since not all recorded exposures come from the automatic locating process 
					(<strong><em>Beagle</em></strong>), in the absence of the <em>Source Entity</em> field, 
					prepared by Beagle, the <em>Information source</em> field contains the same information. 
					</li> 
					<li>
					The <em>Range of visits field</em> has the following alternatives: 
					<strong>&lt; 100</strong>, 
					<strong>100 to 499</strong>, 
					<strong>500 to 1.000</strong>, 
					<strong>&gt; 1.000</strong>.
					</li>
					<li>
					The <em>Type of access</em> has the following alternatives: 
					<strong>Not available</strong>, 
					<strong>Free for all</strong>, 
					<strong>Free according to age criteria</strong>, 
					<strong>Free according to numerical criteria</strong>, 
					<strong>Free according to nationality or citizenship criteria</strong>, 
					<strong>Paid in all cases</strong>, 
					<strong>Mixed system</strong>, 
					<strong>Reduced rate</strong>.
					</li>
					<li>
					The <em>Type of relationship</em> has the following alternatives: 
					<strong>Main venue</strong>, 
					<strong>Secondary venue</strong>, 
					<strong>Auxiliary venue</strong>.
					</li>
				</ol>
			</small>
		</p>
		
		<h4>Obras</h4>
		<div class="table-responsive">
		<table class="mq-table pure-table-bordered pure-table table-smaller">
			<thead>
				<tr>
					<th class="highlight">Internal field name</th>
					<th class="highlight">Kind of relationship</th>
					<th class="highlight">Content</th>
				</tr>
			</thead>
			<tr><td class="highlight">_csl__art_alternative_title</td><td><code>[1&rarr;&infin;]</code></td><td>Alternative title</td></tr>
			<tr><td class="highlight">_csl__art_artwork_start_date</td><td><code>[1&rarr;1]</code></td><td>Start date</td></tr>
			<tr><td class="highlight">_csl__art_artwork_end_date</td><td><code>[1&rarr;1]</code></td><td>End date</td></tr>
			<tr><td class="highlight">_csl__art_artwork_author</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ACT</code></td><td>Author</td></tr>
			<tr><td class="highlight">_csl__art_entity_when_cataloging</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ENT</code></td><td>Location at the time of cataloguing</td></tr>
			<tr><td class="highlight">_csl__art_current_entity</td><td><code>[1&rarr;&infin;]</code> <code>&olarr; ENT</code></td><td>Current location</td></tr>
		</table>
		</div>
		
		<h3>Data structure</h3>
		<a href="javascript:screen.lightbox('img5');">
			<img src="./assets/img/illustrations/estructura_v2.jpg" 
				class="pure-img-responsive" alt="gafas y libro">
		</a>
		<span onclick="screen.lightbox('img5');" class="lightbox is-hidden" id="img5">
			<img src="./assets/img/illustrations/estructura_v2.jpg" alt="gafas y libro">
		</span>
	</div>
	
	<div id="c-tab-four" class="tabcontent tab-four content">
		<h2 class="margin-top">Manual <span style="color: red;">UNDER DEVELOPMENT</span></h2>
		<p>
			<figure class="pull-right margin-left">
				<img src="./assets/img/photos/manual.jpg" 
					class="pure-img-responsive" width="150" height="100" />
				<Source>
					Fuente: <a rel="noopener" target="_blank" href="https://www.pexels.com/">Pexels</a>
				</figcaption>
			</figure>
			The manual entitled "Short Preliminary Operation Guide" is available in Adobe Acrobat (PDF) format. 
			If you are unable to view it below, or would like to download it to your computer for viewing at any time, 
			<a target="_blank" rel="noopener" href="./assets/docs/es/20180829_PF_MANUAL_V100ES.pdf">click 
			here</a>.
		</p>
		
		<object style="width:100%;height: 450px" type="application/pdf" 
		data="./assets/docs/es/20180829_PF_MANUAL_V100ES.pdf?#zoom=85&scrollbar=0&toolbar=0&navpanes=0">
			<p>This browser can not display PDF files.</p>
		</object>
	
	</div>
</div>