<header class="margin-bottom-l">
	<div class="container">
	    	<img class="margin-right-s" src="./assets/img/logos/IMGLOGOPF.svg" alt="PATHFINDER" 
	    		style="height:100px;width:100px;float:left" />
		<h1 class="display-title display-title-xxl margin-top-s">
			<span class="margin-vertical-auto color-error">ERROR</span>
		</h1>
		<p class="lead lead-s margin-vertical-m">
			If you are watching this page is because
			<strong>PATHFINDER</strong> has suffered a recoverable error.
		</p>
	</div>
</header>
<main>
	<section class="padding-vertical-l logo-background">
		<div class="container">
			<h2 id="title-error" class="color-error">404 Error.</h2>
	
			<p>
				Error description is as follows: 
				<strong><span id="err-description"></span>.</strong>
			</p>
	
			<p>
				If the error occurred when trying to access a PATHFINDER page, 
				it is possible that its address was incorrectly written. 
				Use the menu to access the 
				<a href="#home">home page</a> or any other you want. 
				In case the problem continues to occur, check with 
				<a href="#legal">system administration</a> to try to solve it.
			</p>
		</div>
	</div>
</div>
