<h4 class="margin-top margin-bottom" id="help-title">4. COLECCIONES</h2>

<p>
	PATHFINDER no tiene un límite máximo definido para el número de condiciones a la hora de 
	construir un filtro. Es posible, por tanto, establecer muchas, lo que, en ocasiones, 
	puede llegar a ser algo complicado de reproducir, en caso de que se necesite volver 
	a diseñar el mismo filtro. Incluso puede ser conveniente manejar un bloque de condiciones 
	y comparar los resultados entre distintas bases de datos, aplicando el mismo modelo 
	de filtro a archivos 
	<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/JSON">JSON</a> descargados 
	del servidor de datos 
	<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a> en diferentes 
	momentos. De ahí la posibilidad de guardar en un archivo local la <em>definición</em> 
	(no los resultados) de un filtro ya construido. Dicho archivo puede ser posteriormente 
	cargado para restablecer las condiciones, y se denomina "colección".
</p>
<p>
	Tenga en cuenta que <em>es preciso volver a calcular cada condición individualmente 
	antes de efectuar la consulta de un archivo de condiciones guardado y cargado.</em>
</p>
