<div class="group group-xs margin-bottom-l no-print">
	<ul>
		<li>
			<button id="xstab0" 
				class="xstablinks button button-grey button-border" 
				onclick="javascript:toolkit.generictab('xstab0', 'xc-atab-zero', 'xstabcontent', 'xstablinks');">
			Definition</button>
		</li>
		<li>
			<button id="xstab1" 
				class="xstablinks button button-grey button-border" 
				onclick="javascript:toolkit.generictab('xstab1', 'xc-atab-one', 'xstabcontent', 'xstablinks');">
			Count</button>
		</li>
		<li>
			<button id="xstab2" 
				class="xstablinks button button-grey button-border" 
				onclick="javascript:toolkit.generictab('xstab2', 'xc-atab-two', 'xstabcontent', 'xstablinks');">
			Terms</button>
		</li>
		<li>
			<button id="xstab3" 
				class="xstablinks button button-grey button-border" 
				onclick="javascript:toolkit.generictab('xstab3', 'xc-atab-three', 'xstabcontent', 'xstablinks');">
			Instructions</button>
		</li>
	</ul>
</div>

<div id="xc-atab-zero" class="xstabcontent visible active">

<div id="flt-incsubf" class="no-margin"></div>

<p class="margin-top">
	Conditions: <strong id="flt-filterlength">1</strong>
	<button onclick="javascript:ui.addcondition();" 
		class="button button-square button-info button-s button-border margin-left-s" 
		data-tooltip="añadir condición">
		<svg width="24" height="18" viewBox="0 0 24 24" class="svgicon">
			<path class="plus" d=""></path>
		</svg>
	</button>
	<span class="form-message color-light margin-left-s">
		Formula: facet + field + operator + value (values list) = calculate or remove
	</span>
</p>

<div id="flt-main"></div>
</div>

<div id="xc-atab-one" class="xstabcontent hide">
<div class="margin-top-s" id="filter-info-stats" style="width: 100%; min-height: 4em;">Working&hellip;</div>
</div>


<div id="xc-atab-two" class="xstabcontent hide">
<div id="flt-terms"></div>
</div>

<div id="xc-atab-three" class="xstabcontent hide">
	<p>
		PATHFINDER uses the paradigm of  
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Filter_(mathematics)">
			filter</a>, like as in 
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Set_theory">
			set theory</a>.
		In short, it tries to select a subset of primary records by inclusion or exclusion of some features 
		affecting to their titles, metadata or taxonomies.
	</p>
	
	<p class="aside background-warning-50">
		<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
			<path class="bell" d=""></path>
		</svg>
		IMPORTANT. When a filter has been set to data, it remains active  
		until unset or until a new filter were set.
	</p>
	
	<p class="aside background-info-50">
		<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
			<path class="info" d=""></path>
		</svg>
		TO CONSIDER. The presence of a filter affects ALL operations carried on by PATHFINDER.
	</p>
	
	<h4 class="margin-vertical-s">Filter definition</h4>
	<p>
		It allows to set conditions to limit the subset of primary records. 
		The order in which the conditions are added does not affect the final result.
	</p>
	<p>
		It is possible to add any conditions number by clicking on  
		<mark class="background-info-100">
			<svg width="14" height="14" viewBox="0 0 24 24" class="svgicon">
				<path class="plus" d=""></path>
			</svg>
		</mark>.
	</p>
	<p>
		Only <em>operator</em> and <em>value</em> are mandatory in each condition. 
		Any condition has the following items:
	</p>

	<ol>
		<li>
			<em>modifier</em>: extract one particular side of some metainformations;  
			eg. <em>year</em> or <em>weekday</em> from a date.
		</li>
		<li>
			<em>metainformation</em>: also called <em>facet</em>; field to search for; 
			eg. <em>place</em> where an exhibition is hold.
		</li>
		<li>
			<em>operator</em>: determines how a condition is to be met; 
			eg. records <em>containing</em> or 
			<em>not being equal</em> to some <em>value</em>; 
			be mind of, if there is not <em>modifier</em> or <em>metainfo</em> specified, 
			condition <em>will be verified against the whole record set</em>.
		</li>
		<li>
			<em>value</em>: text to search for (may be a number, a date,&hellip;). 
			<p class="aside background-warning-50">
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
					<path class="bell" d=""></path>
				</svg>
				IMPORTANT. If operator <em>between</em> is used, 
				values must to be separated with "/" (slash); eg. 
				if you want to search values between 2010 and 2011 write "2010/2011".
			</p>
			<p class="aside background-info-50">
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon pull-left margin-right-s">
					<path class="info" d=""></path>
				</svg>
				TO CONSIDER. Use of "contain" and "do not contain" operators implies that
				the search will be carried out not having mind of uppercase, lowercase or 
				accented characters.
			</p>
		</li>
		<li>
			match search: button 
			<mark class="background-light-200 margin-right-xxs">
				<svg width="14" height="14" viewBox="0 0 24 24" class="svgicon">
					<path class="search" d=""></path>
				</svg>
			</mark>
			shows a list of primary records,
			taxonomies or metainformations matching the text written in <em>value</em> text input element. 
			Search will be performed using "contains" operator.
		</li>
		<li>
			partial result: is shown as a number of primary records matching condition, backgrounded as 
			<mark class="background-error-50">light red</mark> if 0 or  
			<mark class="background-success-50">light green</mark> if bigger.
		</li>
		<li>
			remove: delete condition.
		</li>
	</ol>

	<h4 class="margin-vertical-s">Include and restrict</h4>
	<p>
		PATHFINDER performs filter calculation operation following a list of sequential steps:
	</p>
	<ol type="A">
		<li>
			Calculates the primary records that SIMULTANEOUSLY meet ALL 
			the conditions expressed (intersection between the subsets).
		</li>
		<li>
			Calculates ALL primary records <em>related</em> to the selected ones during step A matching 
			the record types selected in <mark class="background-light-200">Include</mark> menu.
		</li>
		<li>
			Final result will include unique records selected during steps A and B. 
			But if one or more <em>relational fields</em> of the 
			<mark class="background-light-200">Restrictions</mark> menu is checked, 
			only ones of selected set matching them will be included at end. 
			For example, if primary <em>actor</em> records are included, and 
			<em>curator</em> and <em>collector</em> are checked as relational fields, 
			PATHFINDER will not select any actor unless included in step A conditions; if so, 
			if all exhibitions in which Goya participates as artist are included but 
			only curators and collectors are checked, PF will filter the exhibitions 
			of the Aragonese painter, adding curators and collectors.
		</li>
	</ol>

	<h4 class="margin-vertical-s">Operations</h4>
	<p>
		When all desired conditions are set, PATHFINDER performs the operations 
		shown at the bottom of filtering window.
	</p>	
	<ol>
		<li>
			Collections. A particular group of conditions, inclusions and restrictions is called <em>collection</em>. 
			When ready (using the tools described above), the collection can be stored at local disk (client computer), 
			and to be loaded when needed.
		</li>
		<li>
			Calculate. PF check all the conditions one each time and calculates its partial result.
		</li>
		<li>
			Filter and clear. Activation or removing filter for a particular collection.
		</li>
		<li>
			Filter links. When a filter is activated, this button will be shown.  
			If clicked, it pops up a window plotting a directed graph of the primary record types and 
			their relationships.
		</li>
	</ol>
	
	<h4 class="margin-vertical-s">Filtering process diagram</h4>
	<img src="./assets/img/illustrations/filter_es.svg" class="margin-bottom-l">
</div>
