<h4 class="margin-top margin-bottom" id="help-title">1. OPCIONES</h2>

<p>
	El filtro es la tarea más importante previa a cualquier análisis de datos a realizar con 
	PATHFINDER. Acota la información y restringe sus límites para incrementar la validez de los 
	resultados y la viabilidad de los procedimientos analíticos. Se recomienda encarecidamente 
	consultar al respecto de los procedimientos para filtrar el manual en 
	<a href="#documents">Documentación</a>.
</p>
<p>
	Desde esta misma ventana emergente se pueden realizar las siguientes tareas:
</p>
<ul>
	<li>Construir un filtro avanzado (se muestra en esta imagen).</li>
	<li>Buscar (se trata de un filtro de una única condición y sin restrictores ni operadores). 
	Se aconseja consultar sobre el tema el manual en <a href="#documents">Documentación</a>.</li>
	<li>Recontar los resultados obtenidos por el filtro o la búsqueda agrupándolos por 
	<em>tipo de registro primario</em>.</li>
	<li>Conocer la nomenclatura específica de los campos para realizar búsquedas o construir 
	filtros.</li>
	<li>Conocer mejor los procedimientos de filtrado consultando las instrucciones.</li>
</ul>
