<header class="padding-vertical-l text-align-center">
	<div class="container">
	    	<img class="logo" src="./assets/img/logos/ANIMATEDLOGOPF.svg" alt="PATHFINDER" style="min-height:95px;">
		<h1 id="app-home-info" class="display-title display-title-xxl margin-top-s">PATHFINDER</h1>
		<p class="lead lead-s margin-vertical-m">
			A tool for graphic and textual analysis of data from 
			<a rel="noopener" href="http://expofinder.uma.es" target="_blank">ExpoFinder</a>.
		</p>
		<p class="text-align-center line-height-xxxl">
			<a class="button button-success button-icon" 
				href="#data">
				<span>First steps</span>
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
					<path class="arrowright" d=""></path>
				</svg>
			</a>
			<a class="button button-info button-icon" 
				href="#starting">
				<span>Learn how to use it</span>
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
					<path class="arrowright" d=""></path>
				</svg>
			</a>
			<a class="button button-info button-icon" 
				href="#documents">
				<span>Know more about</span>
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
					<path class="arrowright" d=""></path>
				</svg>
			</a>
			<a rel="noopener" target="_blank" 
				class="button button-grey button-icon" 
				href="https://github.com/antoniocruces/pathfinder">
				<span>Github</span>
				<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
					<path class="github" d=""></path>
				</svg>
			</a>
		</p>
	</div>
</header>

<main>
	<section class="padding-vertical-l border-top border-color-primary-100">
		<div class="container">
			<h2 class="display-title display-title-xxl margin-top-xxl">A tool for Digital Art History.</h2>
			<p class="lead lead-s margin-vertical-m">
				PATHFINDER is a software development carried out by  
				<a href="http://iarthislab.es" rel="noopener" target="_blank">iArtHis_LAB Research Group</a>, of the  
				<a href="http://www.uma.es/departamento-de-historia-del-arte" rel="noopener" target="_blank">
				Department od Art History</a> 
				of the <a href="http://www.uma.es" rel="noopener" target="_blank">University of Málaga</a> 
				(Spain), as part of the projects  
				<a rel="noopener" href="http://www.exhibitium.com" target="_blank">Exhibitium FBBVA 2014</a> and 
				<a rel="noopener" href="https://www.uma.es/media/tinyimages/file/proyectos_vigentes.pdf" target="_blank">
				ArtCatalogs</a> 
				(HAR2014-51915-P) to make available to researchers interested in the application of the digital 
				paradigm to the study of the Humanities (Art History in particular) 
				a versatile tool allowing quantitative analysis of qualitative information of the discipline.
			</p>
			<p class="aside color-white background-info-500 font-weight-semibold">
				<svg width="40" height="40" viewBox="0 0 24 24" class="svgicon" style="float:left;margin-right:1em;margin-top:.2em">
					<path class="alertcircle" d=""></path>
				</svg>
				In order to use PATHFINDER you must have a data file with a specific format.
				If you do not have one, <a href="#legal" class="text-decoration-none color-light">contact</a> 
				<a href="http://iarthislab.es" rel="noopener" target="_blank" class="text-decoration-none color-light">
				iArtHis_LAB</a> to 
				have granted access to 
				<a rel="noopener" href="http://expofinder.uma.es" target="_blank" class="text-decoration-none color-light">
				ExpoFinder</a>.
			</p>

			<div class="boxes margin-top-l">
				<div class="padding-m border-radius background-light-100 color-dark">
					<a href="#starting" class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						First steps
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="arrowright" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<img src="./assets/img/photos/learn.png" class="media" alt="learn">
						<figcaption class="font-size-xs">
						Source: <a rel="noopener" class="text-decoration-none" 
						target="_blank" href="https://www.pexels.com">Pexels</a>
						</figcaption>
					</figure>
					<p class="color-grey">
						Learn how to get results you want the most simple and fast way. 
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<a href="#documents" class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						Engine room
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="arrowright" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<img src="./assets/img/photos/code.png" class="media" alt="code">
						<figcaption class="font-size-xs">
						Source: <a rel="noopener" class="text-decoration-none" 
						target="_blank" href="https://www.pexels.com">Pexels</a>
						</figcaption>
					</figure>
					<p class="color-grey">
						Discover technical fundamentals giving the system solidity and reliability.
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<a href="#projects" class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						Work network
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="arrowright" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<img src="./assets/img/photos/achievement.png" class="media" alt="achievement">
						<figcaption class="font-size-xs">
						Source: <a rel="noopener" class="text-decoration-none" 
						target="_blank" href="https://www.pexels.com/@rawpixel">Rawpixel / Pexels</a>
						</figcaption>
					</figure>
					<p class="color-grey">
						Have a look over projects where PATHFINDER is used as part of your work methodology.
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<a href="#institutions" class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						Support
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="arrowright" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<img src="./assets/img/photos/book.png" class="media" alt="book">
						<figcaption class="font-size-xs">
						Source: <a rel="noopener" class="text-decoration-none" 
						target="_blank" href="https://www.pexels.com">Pexels</a>
						</figcaption>
					</figure>
					<p class="color-grey">
						Know who is behind and what is the academic and scientific endorsement of PATHFINDER.
					</p>
				</div>
			</div>
	
			<div class="boxes margin-top-l">
				<div class="padding-m border-radius background-light-100 color-dark">
					<h3 class="margin-top-m">University of Málaga.</h3>
					<a rel="noopener" target="_blank" href="https://www.uma.es" 
						class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						UMA
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<a rel="noopener" target="_blank" href="https://www.uma.es" class="text-decoration-none">
							<img src="./assets/img/pictures/UMA.jpg" class="media" alt="Rectorado. Universidad de Málaga">
							<figcaption class="font-size-xs">
							Source: own elaboration
							</figcaption>
						</a>
					</figure>
					<p class="color-grey">
						Since 1972, a reference in ICTs, humanities, health sciences and engineering. 
						Innovation and scientific development model in southern Spain. 
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<h3 class="margin-top-m">Art History Department.</h3>
					<a rel="noopener" target="_blank" href="https://www.uma.es/departamento-de-historia-del-arte/" 
						class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						DHA-UMA
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<a rel="noopener" target="_blank" href="https://www.uma.es/departamento-de-historia-del-arte/" 
						class="text-decoration-none">
							<img src="./assets/img/pictures/UMAFYL.jpg" class="media" 
							alt="Facultad de Filosofía y Letras. Universidad de Málaga">
							<figcaption class="font-size-xs">
							Source: own elaboration
							</figcaption>
						</a>
					</figure>
					<p class="color-grey">
						International prestige and leading research. Specialized in Hispanic-Muslim art, 
						Baroque, urban planning, contemporary art and digital humanities. 
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<h3 class="margin-top-m">iArtHis_LAB Research Group.</h3>
					<a rel="noopener" target="_blank" href="https://iarthislab.es/" 
						class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						iArtHis_LAB
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<a rel="noopener" target="_blank" href="https://iarthislab.es/" 
						class="text-decoration-none">
							<img src="./assets/img/pictures/iarthislab.jpg" class="media" 
							alt="Grupo de investigación iArtHis_LAB">
							<figcaption class="font-size-xs">
							Source: own elaboration
							</figcaption>
						</a>
					</figure>
					<p class="color-grey">
						Research, innovation and training laboratory for the development of digital studies 
						on artistic culture and the Digital Art History in Spain.
					</p>
				</div>
				<div class="padding-m border-radius background-light-100 color-dark">
					<h3 class="margin-top-m">Open Technology Platform.</h3>
					<a rel="noopener" target="_blank" href="http://expofinder.es/" 
						class="button button-primary button-icon button-text button-block font-size-xl">
						<span>
						ExpoFinder
						</span>
						<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
							<path class="externallink" d=""></path>
						</svg>
					</a>
					<figure class="margin-top-m">
						<a rel="noopener" target="_blank" href="http://expofinder.es/" 
						class="text-decoration-none">
							<img src="./assets/img/pictures/expofinder.png" class="media" 
							alt="Pantalla de acceso a ExpoFinder">
							<figcaption class="font-size-xs">
							Source: own elaboration
							</figcaption>
						</a>
					</figure>
					<p class="color-grey">
						Free code, simple engineering, efficiency, minimal resources,&hellip; 
						Management and knowledge generation available to everyone.
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="padding-vertical-l border-top border-color-primary-100">
		<div class="container">
			<div class="flexbox-images">
					<a rel="noopener" target="_blank" href="https://www.uma.es">
						<img src="./assets/img/logos/logo-uma-180x180.png" class="media" 
						alt="University of Málaga.">
					</a>
					<a rel="noopener" target="_blank" href="https://www.uma.es/departamento-de-historia-del-arte/">
						<img src="./assets/img/logos/logo-dha-180x180.png" class="media" 
						alt="Art History Department. University of Málaga.">
					</a>
					<a rel="noopener" target="_blank" href="https://iarthislab.es/">
						<img src="./assets/img/logos/logo-iarthis_lab-180x180.png" class="media" 
						alt="iArtHis_LAB Research Group.">
					</a>
					<a rel="noopener" target="_blank" href="http://www.mineco.gob.es/portal/site/mineco/">
						<img src="./assets/img/logos/logo-mineco-180x180.png" class="media" 
						alt="Ministry of Economy and Competitiveness. Government of Spain.">
					</a>
					<a rel="noopener" target="_blank" href="https://www.fbbva.es/">
						<img src="./assets/img/logos/logo-fbbva-180x180.png" class="media" 
						alt="BBVA Foundation.">
					</a>
					<a rel="noopener" target="_blank" href="https://www.centrodeestudiosandaluces.es/">
						<img src="./assets/img/logos/logo-cea-180x180.jpg" class="media" 
						alt="Andalusian Studies Center. Junta de Andalucía.">
					</a>
			</div>
		</div>
	</section>
</main>
