<div class="header">
	<h1>
		<img class="logo" src="./assets/img/logos/IMGLOGOPF.svg" alt="PATHFINDER" height="50">Institutions
	</h1>
	<h2>
		PATHFINDER has received support, both scientific and economic, from numerous institutions. Its vocation as a 
		widespread use tool has been valued in a very remarkable way by relevant instances of the academic world. 
		Here the references of them are collected.
	</h2>
</div>

<div class="pagecontent pagecontent-customize">
	<div class="content pure-menu pure-menu-horizontal pure-menu-scrollable">
		<ul class="pure-menu-list">
			<li class="pure-menu-item pure-menu-active">
				<a id="s-tab-zero" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'zero')">UMA</a>
			</li>
			<li class="pure-menu-item">
				<a id="s-tab-one" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'one')">DHA-UMA</a>
			</li>
			<li class="pure-menu-item">
				<a id="s-tab-two" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'two')">iArtHis_LAB</a>
			</li>
			<li class="pure-menu-item">
				<a id="s-tab-three" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'three')">MinEco</a>
			</li>
			<li class="pure-menu-item">
				<a id="s-tab-four" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'four')">FBBVA</a>
			</li>
			<li class="pure-menu-item">
				<a id="s-tab-five" class="pure-menu-link" href="javascript:toolkit.selecttab('tab', 'five')">CEA</a>
			</li>
		</ul>
	</div>

	<div id="c-tab-zero" class="tabcontent tab-zero content">
		<h2 class="margin-top">University of Málaga</h2>
		<blockquote class="quotes">
			<figure class="pull-right margin-left">
				<img src="./assets/img/logos/logo-uma-180x180.png" 
					class="pure-img-responsive" width="150" height="150" />
				<figcaption>
					Source: UMA
				</figcaption>
			</figure>
			<p>			
				The city has played a crucial role in UMA's founding: all aspects of the province (citizens, notable figures, and mass media) have been key drivers for the establishment of our University. It all began in 1968 with the development of the "University of Málaga's Friends Association" an organization that advocated for a University in the province by raising awareness on the issue and mobilizing citizens, which finally all led to its founding.
			</p>
			<p>
				This was soon followed further advancements in the founding process such as the development of the University College of Málaga, in 1971, and the grouping of the already existing Technical Engineering College, Teacher Training College, School of Economics and Business (then attached to the University of Granada), and the Seminary. 
			</p>
			<p>
				Finally, in August 18th of 1972, the founding of the University of Málaga was approved by decree. The School of Economics and Business and the School of Medicine would be the first to be part of the institution we know today as the University of Málaga.
			</p>
			<p>
				With the aim of becoming a top-level full institution, UMA developed an expansion plan regarding fields of study and infrastructure. Thus, once established in El Ejido Campus, the University expanded towards Teatinos, an area that initially comprised the School of Medicine, the School of Humanities, and the School of Science, and gradually developed into a whole campus providing a full range of academic studies and services. 
			<p>
			<p>
				In addition to expanding its insfrastructure, UMA also grew qualitatively; since the late 90s, a strong commitment to research and new technologies has been prevalent in its actions. 
			</p>
			<p>
				In this sense, the University of M√°laga adopted a strategy to become an example for innovation and scientific development in of the south of Spain. Therefore, it developed an extensive partnership framework with Andalusia's Technology Park, increased the number of national and international research projects, and joined the Supercomputing Spanish Network in 2007 thanks to Supercomputer Picasso. 
			</p>
			<p>
				The academic and scientific progress, as well as the efforts made by researchers, students, teaching staff, and administrative staff led the University of Malaga (and the University of Seville) to be recognized as a Campus of International Excellence in 2012, under the name Andalucia Tech. 
			</p>
			<p>
				At present, the University of Málaga remains highly committed to making scientific development and innovation the grounds on which social progress rests. The efforts made to promote mobility and attract international talent have stood out in the recent years, resulting in an open and cosmopolitan university involved in top-level research projects.
			</p>
			<p>			
				40 years after its founding, UMA has more than 35,000 students, 58 Bachelor's Programmes, 53 Master's Programmes, 278 research groups and 45 registered patents in 2011.
			</p>
			<p>
				Innovation, dynamism, and internationalization are the principles on which UMA's history is based, as well as its basis to overcome current difficulties and reinforce its duty to knowledge, society and the future.
			</p>
			<span><a rel="nofollow" target="_blank" href="http://www.uma.es/conoce-la-uma/info/5576/historia/">Go&hellip;</a></span>
		</blockquote>
	</div>

	<div id="c-tab-one" class="tabcontent tab-one content">
		<h2 class="margin-top">Departament of History of Art</h2>
		<blockquote class="quotes">
			<figure class="pull-right margin-left">
				<img src="./assets/img/logos/logo-dha-180x180.png" 
					class="pure-img-responsive" width="150" height="150" />
				<figcaption>
					Source: DHA
				</figcaption>
			</figure>
			<p>			
				The Department of Art History at the University of Málaga started in 1970 to open in Málaga a University College under the University of Granada worked four years, being teachers Ms. Rosario Camacho, Ms. Rosa Maria Valladares and Ms. Aurora Miró. In 1974 the University of Málaga and Professor D. Sánchez-Mesa occupied the Chair of Art History at our University, also booting a change that date curriculum that integrated art history at the three common courses created Diploma, following the plan of Granada;thus diversified teaching and was necessary to extend the template first joining Ms M ª Dolores Aguilar and José Miguel Morales after Folguera and D. Augustine Clavijo.
			</p>
			<p>
				Already in those years were defined the research Department: Hispano-Muslim art, baroque, urban and contemporary art. In addition, the planning of the Vice President for University Extension Department had especially in relation to the Photographic Laboratory and organizing exhibitions, through which he joined the Department Isidoro D. Coloma introduced lines that marked another orientation: the history of the mass media and museology and museum.
			</p>
			<p>
				In 1978 Sánchez-Mesa raised the need for a publication itself, a Bulletin of Art whose first issue came out in 1980, and twenty-seven overcome work continue to maintain the same annual basis but, undoubtedly, the Bulletin has grown in pages has improved its design, and the reviews about it have been made, said the quality of its content.
			</p>
			<p>
				In 1978 Sánchez-Mesa returned to Granada and Malaga in 1979 joined Professor Juan Antonio Ramirez, who gave new activity to the Department promoted the publication of the Bulletin of Art and created the collection, 2A Books Art and Architecture, whose responsibility shares with the College of Architects of Málaga and where interesting titles have been published.
			</p>
			<p>
				Since then began a doctorate professors from the Department, and since 1980, having already specializing in Art History within the History Section, faculty increased joining Ms. Teresa Sauret and D. Eugenio Carmona, that would enhance studies XIX and XX centuries, Antonio Martín Moreno through which would be introduced in the area of ​​Málaga knowledge of music history, and later D. Francisco Palomo, Rafael Sánchez-Lafuente, Ms. Reyes Escalera, D. Juan Antonio Sánchez López, Javier Ordóñez, Juan M ª Montijano, Francisco García Gómez, Francisco J. Rodríguez Marín and Ms. Natalia Bravo, some former fellows, whose works were focusing towards folk arts, crafts decorative iconography, Baroque, Heritage and Power Theory and Art History.
			</p>
			<p>
				In 1994 a new curriculum was introduced and with it a degree in art history began at the University of Málaga that broke all expectations of students. The area of ​​music history is covered from the Department of art, music and physical expression, and Aesthetics from the Philosophy Department until the academic year 2003-2004. Currently, the subject of History of Aesthetic Ideas is attached to our area of ​​expertise.
			</p>
			<p>
				In a few years the Department has established and has achieved a solid reputation not only patent in the classroom but in the process of debate and encouragement in the city. In this sense it has been involved, especially through issues Heritage and organizing exhibitions (many of them outside the local area, through the Commissioner of teachers), as well as organizing courses and conferences, activity is enhanced by the university itself or in collaboration with others.
			</p>
			<span><a rel="nofollow" target="_blank" href="https://www.uma.es/departamento-de-historia-del-arte/info/70959/historia/">Go&hellip;</a></span>
		</blockquote>
	</div>

	<div id="c-tab-two" class="tabcontent tab-two content">
		<h2 class="margin-top">iArtHis_LAB Research Group</h2>
		<blockquote class="quotes">
			<figure class="pull-right margin-left">
				<img src="./assets/img/logos/logo-iarthis_lab-180x180.png" 
					class="pure-img-responsive" width="150" height="150" />
				<figcaption>
					Source: iArtHis_LAB
				</figcaption>
			</figure>
			<p>			
				iArtHis_Lab es un laboratorio de investigación, innovación y formación para el desarrollo de los estudios digitales sobre la cultura artística, y en particular para el progreso y consolidación de la Historia del Arte Digital en España.		
			</p> 
			<p>
				iArtHis_Lab nace como la expresión de la voluntad de un grupo de profesores e investigadores vinculados del Departamento de Historia del Arte de la Universidad de Málaga de potenciar el desarrollo de la disciplina inscribiéndola por razones de metodología, formato de trabajo, enfoque y docencia en el panorama científico y técnico especializado de los albores del tercer milenio.
			</p>
			<p>
				iArtHis_Lab asume como propio el nuevo paradigma social, epistemológico, cultural y crítico en el que nos encontramos. Somos conscientes de los cambios operados en la economía del conocimiento (procesos de producción, distribución, consumo y reutilización), en las interacciones sociales, los regímenes de formación y aprendizaje (expandido, extra-académico), y en los nuevos ecosistemas y flujos de investigación (colaborativos, abiertos, procesuales), donde las barreras entre lo científico-técnico, las artes y las humanidades se difuminan.
			</p>
			<p>
				iArtHis_Lab aspira a convertirse en un punto de referencia y en un lugar de encuentro en la tarea de contribuir al desarrollo de infraestructuras tecnológicas, a la implantación de nuevas metodologías de análisis, la elaboración de modelos críticos, y a la promoción de nuevas modalidades de investigación que sean susceptibles de propiciar una refundación de los estudios sobre la cultura artística de acuerdo con las necesidades de las sociedades del siglo XXI y acorde con sus nuevos formas de pensamiento, comunicación y comprensión.
			</p>
			<span><a rel="nofollow" target="_blank" href="https://iarthislab.es/mision-y-vision/">Consultar&hellip;</a></span>
		</blockquote>
	</div>

	<div id="c-tab-three" class="tabcontent tab-three content">
		<h2 class="margin-top">Ministerio de Economía y Compretitividad</h2>
		<blockquote class="quotes">
			<figure class="pull-right margin-left">
				<img src="./assets/img/logos/logo-mineco-180x180.png" 
					class="pure-img-responsive" width="150" height="150" />
				<figcaption>
					Fuente: elaboración propia
				</figcaption>
			</figure>
			<p>			
				Corresponde al Ministerio de Economía y Empresa la propuesta y ejecución de la política del Gobierno en materia económica y de reformas para la mejora de la competitividad, de desarrollo industrial, de telecomunicaciones y sociedad de la información, de desarrollo de la Agenda Digital así como la política de apoyo a la empresa, y el resto de competencias y atribuciones que le confiere el ordenamiento jurídico.
			</p>
			<p>
				Este Ministerio se estructura en los siguientes órganos superiores: 
				<ol>
					<li>La Secretaría de Estado de Economía y Apoyo a la Empresa, de la que dependen los siguientes órganos directivos:</li>
					<ol>
						<li>La Secretaría General del Tesoro y Financiación Internacional, con rango de Subsecretaría, 
						de la que depende la Dirección General del Tesoro y Política Financiera.</li>
						<li>La Dirección General de Política Económica.</li>
						<li>La Dirección General de Análisis Macroeconómico.</li>
						<li>La Dirección General de Seguros y Fondos de Pensiones.</li>
					</ol>
					<li>La Secretaría de Estado para el Avance Digital, de la que depende la Dirección General de Telecomunicaciones 
					y Tecnologías de la Información.</li>
					<li>La Subsecretaría de Economía y Empresa, de la que depende la Secretaría General Técnica.</li>
				</ol>
			</p>
			<span><a rel="nofollow" target="_blank" href="http://www.mineco.gob.es/portal/site/mineco/menuitem.c4c89bb7919bf31a91b0240e026041a0/?vgnextoid=309a154527515310VgnVCM1000001d04140aRCRD">Consultar&hellip;</a></span>
		</blockquote>
	</div>

	<div id="c-tab-four" class="tabcontent tab-four content">
		<h2 class="margin-top">Fundación BBVA</h2>
		<blockquote class="quotes">
			<figure class="pull-right margin-left">
				<img src="./assets/img/logos/logo-fbbva-180x180.png" 
					class="pure-img-responsive" width="150" height="150" />
				<figcaption>
					Fuente: elaboración propia
				</figcaption>
			</figure>
			<p>			
				La Fundación BBVA es expresión de la vocación de responsabilidad social corporativa del Grupo BBVA y, en particular, de su compromiso con la mejora de las sociedades en las que desarrolla su actividad empresarial. Responsabilidad y compromiso que cuentan con una dilatada trayectoria de generación de bienes públicos en el plano del conocimiento.
			</p>
			<p>
				El impulso y fomento del conocimiento basado en la investigación y la creación artística y cultural, así como la interacción entre ambos dominios, constituyen el núcleo del programa de trabajo de la Fundación BBVA. Expandir y repensar de continuo la envolvente cultural y las fronteras del conocimiento heredado son la vía más eficaz para dotar de mayores grados de libertad a los individuos, ampliando también las oportunidades colectivas. Las tres modalidades principales de actuación son el apoyo a la investigación científica y la creación cultural (a través de ayudas individuales y a equipos), la difusión del conocimiento y la cultura, y el reconocimiento del talento y la innovación a través de distintas familias de premios.
			</p>
			<p>
				La Fundación centra su actividad en el análisis de cuestiones emergentes en cinco áreas estratégicas: Medio Ambiente, Biomedicina y Salud, Economía y Sociedad, Ciencias Básicas y Tecnología, y Cultura. En estas áreas, la Fundación BBVA diseña, desarrolla y financia proyectos de investigación; facilita la formación avanzada y especializada mediante becas, cursos, seminarios y workshops; concede premios a investigadores y profesionales que hayan contribuido significativamente al avance del conocimiento; y comunica y difunde dicho conocimiento mediante publicaciones, debates y conferencias.
			</p>
			<span><a rel="nofollow" target="_blank" href="https://www.fbbva.es/sobre-fundacion-bbva/">Consultar&hellip;</a></span>
		</blockquote>
	</div>

	<div id="c-tab-five" class="tabcontent tab-five content">
		<h2 class="margin-top">Centro de Estudios Andaluces</h2>
		<blockquote class="quotes">
			<figure class="pull-right margin-left">
				<img src="./assets/img/logos/logo-cea-180x180.jpg" 
					class="pure-img-responsive" width="150" height="150" />
				<figcaption>
					Fuente: elaboración propia
				</figcaption>
			</figure>
			<p>			
				El Centro de Estudios Andaluces es una entidad de carácter científico y cultural, sin ánimo de lucro, constituida por la Administración de la Junta de Andalucía el 26 de marzo de 2001. Como objetivos fundacionales se establecen el fomento de la investigación científica, la generación de conocimiento sobre la realidad social, económica y cultural de Andalucía y la difusión de sus resultados en beneficio de toda la sociedad.
			</p>
			<p>
				Adscrito a la Consejería de la Presidencia y Adminstración Local y Memoria Democrática, el Centro de Estudios Andaluces se rige por un Patronato, que ejerce como órgano de representación, gobierno y administración, una presidencia y una dirección. Cuenta, además, con un Comité Científico que actúa como órgano asesor y que está compuesto por reconocidas personalidades del mundo de la ciencia y la cultura.
			</p>
			<p>
				La misión del Centro de Estudio Andaluces es convertirse en un centro de excelencia en la investigación sobre Andalucía y punto de referencia para la toma de decisiones de las instituciones públicas y privadas que influyen en el desarrollo de la Comunidad Autónoma.
			</p>
			<p>
				Bajo el lema, Cultura del Saber, el Centro de Estudios Andaluces genera un amplio programa de actividades anuales abiertas a la comunidad científica y a la sociedad en general, entre las que se encuentran la organización de jornadas, seminarios y talleres, exposiciones, cursos de formación y edición de publicaciones, entre otras iniciativas. Asimismo, uno de los grandes proyectos de la Fundación es el desarrollo y consolidación del Museo de la Autonomía de Andalucía y la Casa de Blas Infante.
			</p>
			<p>
				En el Patronato celebrado el 14 de enero de 2013 se ratificó el nombramiento de la Sra. Dª. Mercedes de Pablos Candón como directora gerente del Centro de Estudios Andaluces.
			</p>
			<span><a rel="nofollow" target="_blank" href="https://www.centrodeestudiosandaluces.es/index.php?mod=paginas&cat=0&id=100&idm=470&cod=2&">Consultar&hellip;</a></span>
		</blockquote>
	</div>
</div>
