<h4>Code libraries</h4>
<p>
According to <a href="https://en.wikipedia.org/wiki/Library_(computing)" target="_blank" rel="noopener">Wikipedia</a>, a
library &mdash;in the computer sense of the word&mdash; is "a set of functional implementations, encoded
in a programming language, which offers a well-defined interface to the functionality that is invoked".
</p>
<p>
	PATHFINDER uses the following libraries to optimize system performance, depending on the page or section you are working with at all times:
	<ul>
		<li>
			<a href="https://github.com/vega/datalib" target="_blank" rel="noopener">Datalib v1.8.0 [dl]</a>. 
			<span id="infolib-dl"></span>. 
			It is a JavaScript data utility library providing facilities for loading data,
type inference, common statistics and string templates. Licenses: 
			<a href="https://github.com/vega/datalib/blob/master/LICENSE"  target="_blank" rel="noopener">BSD 3-Clause "New" or "Revised"</a>			
		</li>
		<li>
			<a href="https://github.com/Leaflet/Leaflet" target="_blank" rel="noopener">Leaflet v1.3.1 [lj]</a>. 
			<span id="infolib-lj"></span>. 
			It is a leading open source JavaScript library for optimized interactive maps. Licenses: 
			<a href="https://github.com/Leaflet/Leaflet/blob/master/LICENSE"  target="_blank" rel="noopener">BSD 2-Clause</a>
		</li>
		<li>
			<a href="https://github.com/lodash/lodash/" target="_blank" rel="noopener">Lodash v4.17.10 [lo]</a>. 
			<span id="infolib-lo"></span>. 
			It is a modern library of JavaScript utilities that offers modularity, performance and extras. Licencses: 
			<a href="https://github.com/lodash/lodash/blob/master/LICENSE"  target="_blank" rel="noopener">MIT</a>
		</li>
		<li>
			<a href="https://github.com/apache/incubator-echarts" target="_blank" rel="noopener">ECharts v4.1.0 rc2 [ec]</a>. 
			<span id="infolib-ec"></span>. 
			It is a powerful graphics library and free code visualization that offers an easy way to add intuitive, interactive and highly customizable graphics to any application.
			Licenses: 
			<a href="https://github.com/apache/incubator-echarts/blob/master/LICENSE"  target="_blank" rel="noopener">Apache 2.0</a>
		</li>
	</ul>
</p>
