<h4 class="margin-top margin-bottom" id="help-title">2. TABLA DE DATOS</h2>

<p>
	PATHFINDER presenta el resultado de aplicar un filtro mediante una lista o tabla 
	<em>paginada</em>. Los datos que se muestran en las diferentes columnas son los 
	siguientes: 
</p>
<table>
	<tbody>
		<tr>
			<th>Tipo</th>
			<td>Tipo de <em>registro primario</em>: obra de arte, actor, catálogo, 
				empresa, entidad, exposición.</td>
		</tr>
		<tr>
			<th>Datos</th>
			<td>Título del registro y lista de <em>taxonomías</em> asociadas al mismo, 
				separadas por comas (,). El título del registro es un enlace a la 
				ventana emergente de <em>registro individual</em>.
		</tr>
	</tbody>
</table>
<p class="margin-top">
	Recuerde 
	que es posible modificar el número de registros por página y el número de páginas 
	mostradas en el <em>selector</em> utilizando la pantalla de 
	<a href="#settings">Ajustes</a>. 
</p>
