<h4 class="margin-top margin-bottom" id="help-title">5. NAVEGADOR DE PÁGINA</h2>

<p>
	Es posible dirigirse directamente a una página escribiendo su número y pulsando 
	<em>Ir a página</em>. PATHFINDER emitirá un error si se escribe un número de 
	página incorrecto. No emplee puntos para separar los millares.
</p>
<p class="margin-top">
	Recuerde 
	que es posible modificar el número de registros por página y el número de páginas 
	mostradas en el <em>selector</em> utilizando la pantalla de 
	<a href="#settings">Ajustes</a>. 
</p>
