<h4 class="margin-top margin-bottom" id="help-title">4. SELECTOR DE PÁGINA</h2>

<p>
	Pulse sobre la página a la que desea ir. La página en curso aparece entre 
	corchetes ([]) y carece de un enlace. Cuando se alcance el principio o 
	el final del total de páginas, la actual se situará al comienzo o la última 
	del selector, respectivamente. En otros casos, la página activa se situará 
	hacia el centro del selector.
</p>
<p class="margin-top">
	Recuerde 
	que es posible modificar el número de registros por página y el número de páginas 
	mostradas en el <em>selector</em> utilizando la pantalla de 
	<a href="#settings">Ajustes</a>. 
</p>
