<p class="margin-top">
	PATHFINDER necesita cargar los datos presentes en un archivo JSON con el formato adecuado. Si no ha 
	realizado dicha carga, diríjase a la la página de <a href="#data">datos</a>.
</p>
<ul>
	<li>
		Si no dispone de un archivo JSON con el formato adecuado o desea actualizar los datos extraídos del servidor 
		<a rel="nofollow" target="_blank" href="http://expofinder.uma.es"><em>ExpoFinder</em></a>, 
		realice una <em><a href="javascript:ajax.auth();">actualización de datos</a></em>.
	</li>
	<li>
		Si dispone de un archivo JSON con el formato adecuado, proceda a <em>seleccionar dicho archivo</em>. 
		PATHFINDER cargará su información en la base de datos y podrá operar con ellos.
	</li>
</ul>
