<p style="margin-top:1rem">
	PATHFINDER needs to load data as a JSON file with the appropriate format. Go to the <a href="#data">data</a> page if you have not a file.
</p>
<ul style="margin-bottom:2rem">
	<li>
		If you do not have a JSON file with the correct format or you want to update data from <a rel="nofollow" target="_blank" href="http://expofinder.uma.es"><em>ExpoFinder</em></a> server, perform a <em><a href="javascript:ajax.auth();">data update</a></em> process.
	</li>
	<li>
		If you have a JSON file with the correct format, proceed to <em>select that file</em>. PATHFINDER will load your information into the database and then you will be able to run the app.
	</li>
</ul>
