<h4 class="margin-top margin-bottom" id="help-title">6. ANÁLISIS</h2>

<p>
	La finalidad primaria de PATHFINDER es <em>cuantificar</em> información estructurada para obtener 
	cifras fruto de análisis estadístico y numérico que permitan generar nuevo conocimiento. Si bien 
	es necesario emplear el <em>manual</em> suministrado en <a href="#documents">Documentación</a> para 
	conocer y manejar adecuadamente todas las herramientas, las que esta opción de Panel ofrece 
	son las siguientes:
</p>
<ul>
	<li>Esquema. Recuento agrupado selectivo de los registros por tipo de registro primario agrupado por campos. Incluye un módulo de estadística descriptiva.</li>
	<li>Relaciones. Recuento agrupado selectivo de los registros por tipo de relación entre diferentes registros primarios. Incluye un módulo de estadística descriptiva.</li>
	<li>Gráficos. Visualización de consultas y de los resultados de Esquema y Relaciones.</li>
	<li>Redes. Grafo <span data-tooltip="representación de las relaciones binarias entre elementos de un conjunto">[?]</span> de los vínculos que unen registros primarios mediante relaciones de pertenencia o uso.</li>
	<li>Mapas. Geoposicionado visualmente significativo, mediante diversos artificios (puntos y 
	<em>clusters</em>, mapas de calor, triangulación, líneas, &hellip;) de los registros primarios 
	localizados (con indicación de coordendas).</li>
</ul>
<p>
	NOTA IMPORTANTE: Recuerde que <em>todas las operaciones analíticas se realizan sobre el subconjunto 
	de registros filtrados &mdash;si hay alguno establecido&mdash;</em> y no sobre la totalidad de la BD.
</p>
