<h4 class="margin-top margin-bottom" id="help-title">2. CARGA DE ARCHIVO</h2>

<p>
	Para poder funcionar, la BD de PATHFINDER debe cargar un archivo en formato 
	<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/JSON">JSON</a> 
	almacenado en el equipo del usuario y codificado mediante un número 
	<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/N%C3%BAmero_de_identificaci%C3%B3n_personal">PIN</a>.
</p>
<p>
	Desde esta opción puede realizar las siguientes tareas:
</p>
<ul>
	<li>Carga de archivo. Al finalizar (variable, habitualmente entre 20s y 45s por cada 
	65.000 registros primarios, equivalentes a unos 750.000 registros totales) muestra una 
	breve nota indicando el nombre del archivo cargado, su tamaño en bytes, la fecha de descarga y el número 
	de registros primarios.</li>
	<li>Más información&hellip; Muestra una ventana emergente con una detallada estadística por tipo 
	de registro.</li>
	<li>Exportación. Es posible exportar los datos a formato 
				<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Tab-separated_values">TSV</a>, 
				<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/Valores_separados_por_comas">CSV</a> o 
				<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/Extensible_Markup_Language">XML</a>.</li>
</ul>
