<h4 class="margin-top margin-bottom" id="help-title">5. CONSULTAS</h2>

<p>
	Una de las utilidades más empleadas para la gestión de la BD en PATHFINDER son los diferentes tipos de consulta. Recomendamos utilizar, para descripciones más detalladas, el <em>manual</em> en el menú 
	<a href="#documents">Documentación</a>. Básicamente, desde esta opción de Panel se puede acceder a:
</p>
<ul>
	<li>Listado paginado de registros. Siempre muestra aquellos que se hayan seleccionado mediante <em>búsqueda</em> 
	o <em>filtro</em>.</li>
	<li>Búsqueda genérica de registros que contengan el texto que el usuario desee, bien en un campo determinado, 
	bien en cualquier campo.</li>
	<li>Filtro o "cribado" de registros mediante un interfaz avanzado que permite seleccionar todos aquellos que cumplan determinadas estipulaciones de contenido. Para manejarlo adecuadamente es muy conveniente consultar 
	al respecto el manual en <a href="#documents">Documentación</a>.</li>
</ul>
