<h4 class="margin-top margin-bottom" id="help-title">1. ACTUALIZACIÓN</h2>

<p>
	PATHFINDER utiliza para trabajar archivos procedentes del servidor de datos  
	<a rel="noopener" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a>. Dichos 
	archivos se descargan desde Internet. Tras un periodo de duración variable 
	(por lo general entre 30 y 60 segundos), PF habrá descargado un paquete de información en formato 
	<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/JSON">JSON</a> 
	codificado e indicará un número 
	<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/N%C3%BAmero_de_identificaci%C3%B3n_personal">PIN</a>, que se deberá conservar para poder acceder a los datos en un futuro.
</p>
<p>
	El sistema indica el estado del servidor de datos (en color <span class="data-present">verde</span> 
	si está activo) y el tiempo calculado de conexión en milisegundos (ms). 
</p>
<p>
	Para obtener los datos debe disponer de un juego de credenciales válido 
	(es decir, un nombre de usuario y una contraseña) para acceder a 
	<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a>. 
	Si no dispone de uno, solicítelo <a href="#legal">aquí</a>.
</p>
