<h2 id="search-title"></h2>

<div class="row">

<a href="javascript:toolkit.showpanel('srch-zero');" class="margin-right no-print">Búsqueda</a>
<a href="javascript:ui.filterscreen();" class="margin-right no-print">Filtro avanzado</a>
<a href="javascript:toolkit.showpanel('srch-one');" class="margin-right no-print">Instrucciones</a>

<a class="float-right no-print font-weight-normal" href="javascript:toolkit.printdiv('modal-content', 'Búsqueda');">Imprimir</a>

<div id="srch-zero" class="margin-top" style="display: block;">
<p>
Escriba el texto que desee buscar y seleccione el tipo de metainformación donde se realizará la búsqueda. Pulse <em>calcular</em> para que 
PATHFINDER evalúe el número de resultados y <em>filtrar</em> para seleccionar los registros.
</p>

<form id="searchsng-main" class="form-inline margin-bottom"></div>
</div>

<div id="srch-one" style="display: none;">
<p>
PATHFINDER puede establecer el filtro de los datos a partir de una búsqueda simple de los contenidos de los registros. Tenga en cuenta lo siguiente:
<ol>
<li> 
Escriba <em>todo</em> o <em>parte</em> del texto que desee buscar.
</li>
<li>
Seleccione dónde se realizará la búsqueda: o en un tipo de metadato asociado a los registros o en cualquiera de ellos.
</li>
<li>
Pulse <em>calcular</em> para que PATHFINDER evalúe los resultados obtenidos.
</li>
<li>
Pulse <em>filtrar</em> para que PATHFINDER establezca el filtro. Recuerde que <em>pulsar esta opción provocará un error si previamente 
no se ha realizado el cálculo</em>.
</li>
</ol>
</p>
</div>
