<h4 class="margin-top margin-bottom" id="help-title">9. ESCALA CROMÁTICA</h2>

<p>
	Ajuste del sistema. Los valores resaltados son los que están en vigor en ese momento. 
	Permite controlar qué gama de colores utilizará PATHFINDER para "graduar" la importancia de un 
	valor numérico calculado. 
	Las opciones son las siguientes:
</p>
<p>
	PF utiliza una gama de colores para señalar los elementos más destacados tanto en tablas, en los campos que contienen datos numéricos, como en gráficos y otras áreas. Se puede escoger cuál de ellas se prefiere. Basta con pulsar sobre su nombre (no sobre los colores). Figuran escalas en azules, verdes, rojos, malvas y verde a rojo (más sus inversas).
</p>
