<header class="margin-bottom-l">
	<div class="container">
	    	<img class="margin-right-s" src="./assets/img/logos/IMGLOGOPF.svg" alt="PATHFINDER" 
	    		style="height:100px;width:100px;float:left" />
		<h1 class="display-title display-title-xxl margin-top-s">
			<span class="margin-vertical-auto">Opciones</span>
		</h1>
		<p class="lead lead-s margin-vertical-m">
			Make adjustments and verify if necessary requirements are met for the right operation of PATHFINDER.
		</p>
	</div>
</header>

<main>
	<section>
		<div class="container">
			<div id="c-tab-zero">
				<div  class="logo-background margin-bottom-l">
					<div class="content">
						<h2 id="title-requirements">Requirements.</h2>

						<ul>
							<li>8 MB or more of RAM. Microprocessor equal to or later than Intel Core i3.</li>
							<li>The disk size is not essential, although it is suggested to have 250 or more MB free.</li>
							<li>MS Windows operating system v &ge; 10, Linux kernel v &ge; 4, macOS v &ge;10.</li>
							<li>Browser Firefox v &ge; 50, Safari v &ge; 10 (not recommended), Chrome v &ge; 51 (recommended), Opera v &ge; 40.</li>
						</ul>
						<h4>Detected browser</h4>
						<p id="settings-detected"></p>
						<h4>Detected features</h4>
						<ul>
							<li>Accept <em>cookies</em>: <span id="br-cookies"></span></li>
							<li>Device type: <span id="br-device"></span></li>
							<li>Accepted languages: <span id="br-languages"></span></li>
							<li>Connected: <span id="br-online"></span></li>
							<li>Coming from: <span id="br-referrer"></span></li>
							<li>Screen resolution (pixels): <span id="br-screenresolution"></span></li>
							<li>Time zone: <span id="br-timezone"></span></li>
							<li>Detected user agent: <span id="br-useragent"></span></li>
						</ul>
						<h4>Memory & speed</h4>
						<ul>
							<li>Store. Original size: <span id="br-storeoriginal"></span></li>
							<li>Store. Current size: <span id="br-storecurrent"></span></li>
							<li>Processing. Speed: <span id="br-opsspeed"></span></li>
						</ul>
						<h4>Notes</h4>
						<p>
							PATHFINDER is not intended for use on mobile devices or tablets.
						</p>
						<p>
							Some <em>Safari</em> versions, particullary first releases of the 10th, 
							can cause some hassles when downloading data from server 
							and issue unrealistic warnings about excessive memory consumption.
						</p>
					</div>
				</div>
			</div>
			
			<div id="c-tab-one" class="tabcontent hide">
				<div  class="logo-background margin-bottom-l">
					<div class="content">
						<h2 id="title-settings">
							Settings.
							<a class="button button-info button-icon button-text pull-right" 
								href="javascript:info.settingsreset();location.reload();">
								<span>Restore original settings</span>
								<svg width="24" height="24" viewBox="0 0 24 24" class="svgicon">
									<path class="refreshcw" d=""></path>
								</svg>
							</a>
						</h2>
						<h3 id="title-error-control">
							Error control 
						</h3>
						<ul>
							<li>
								Error capture: 
								<a data-errorcatching="1" href="javascript:info.settings('errorcatching', 1);">yes</a>, 
								<a data-errorcatching="0" href="javascript:info.settings('errorcatching', 0);">no</a>. 
							</li>
							<li>
								Detailed error messages: 
								<a data-verboseerror="1" href="javascript:info.settings('verboseerror', 1);">yes</a>, 
								<a data-verboseerror="0" href="javascript:info.settings('verboseerror', 0);">no</a>. 
							</li>
							<li>
								Show error in development console: 
								<a data-debugconsole="1" href="javascript:info.settings('debugconsole', 1);">yes</a>, 
								<a data-debugconsole="0" href="javascript:info.settings('debugconsole', 0);">no</a>.
							</li>
							<li>
								Warning before page reload: 
								<a data-reloadwarning="1" href="javascript:info.settings('reloadwarning', 1);">yes</a>, 
								<a data-reloadwarning="0" href="javascript:info.settings('reloadwarning', 0);">no</a>.
							</li>
						</ul>
						<h3 id="title-limits">Limitations</h3>
						<ul>
							<li>
								Max load time for libraries (slow connections; in s): 
								<a data-timeout="1000" href="javascript:info.settings('timeout', 1000);">1</a>, 
								<a data-timeout="2000" href="javascript:info.settings('timeout', 2000);">2</a>, 
								<a data-timeout="3000" href="javascript:info.settings('timeout', 3000);">3</a>, 
								<a data-timeout="4000" href="javascript:info.settings('timeout', 4000);">4</a>, 
								<a data-timeout="5000" href="javascript:info.settings('timeout', 5000);">5</a>, 
								<a data-timeout="10000" href="javascript:info.settings('timeout', 10000);">10</a>, 
								<a data-timeout="15000" href="javascript:info.settings('timeout', 15000);">15</a>
							</li>
							<li>
								Max items to show in descriptive stats: 
								<a data-statstopvalues="5" href="javascript:info.settings('statstopvalues', 5);">5</a>, 
								<a data-statstopvalues="10" href="javascript:info.settings('statstopvalues', 10);">10</a>, 
								<a data-statstopvalues="20" href="javascript:info.settings('statstopvalues', 20);">20</a>, 
								<a data-statstopvalues="30" href="javascript:info.settings('statstopvalues', 30);">30</a>, 
								<a data-statstopvalues="40" href="javascript:info.settings('statstopvalues', 40);">40</a>, 
								<a data-statstopvalues="50" href="javascript:info.settings('statstopvalues', 50);">50</a>, 
								<a data-statstopvalues="100" href="javascript:info.settings('statstopvalues', 100);">100</a>.
							</li>
							<li>
								<span data-tooltip="seleccionar según la cantidad de memoria disponible">
								Max of <em>rows</em> to show in a table
								</span>: 
								<a data-querylengthlimit="20000" href="javascript:info.settings('querylengthlimit', 20000);">20.000</a>, 
								<a data-querylengthlimit="30000" href="javascript:info.settings('querylengthlimit', 30000);">30.000</a>, 
								<a data-querylengthlimit="40000" href="javascript:info.settings('querylengthlimit', 40000);">40.000</a>, 
								<a data-querylengthlimit="50000" href="javascript:info.settings('querylengthlimit', 50000);">50.000</a>, 
								<a data-querylengthlimit="100000" href="javascript:info.settings('querylengthlimit', 100000);">100.000</a>, 
								<a data-querylengthlimit="500000" href="javascript:info.settings('querylengthlimit', 500000);">500.000</a>, 
							</li>
							<li>
								Max number of  
								<a href="javascript:info.help('settingsgraph');">
								<em>nodes</em></a> to plot a graph: 
								<a data-graphnodemax="1000" href="javascript:info.settings('graphnodemax', 1000);">1.000</a>, 
								<a data-graphnodemax="2000" href="javascript:info.settings('graphnodemax', 2000);">2.000</a>, 
								<a data-graphnodemax="3000" href="javascript:info.settings('graphnodemax', 3000);">3.000</a>, 
								<a data-graphnodemax="5000" href="javascript:info.settings('graphnodemax', 5000);">5.000</a>, 
								<a data-graphnodemax="10000" href="javascript:info.settings('graphnodemax', 10000);">10.000</a>, 
								<a data-graphnodemax="25000" href="javascript:info.settings('graphnodemax', 25000);">25.000</a>, 
								<a data-graphnodemax="50000" href="javascript:info.settings('graphnodemax', 50000);">50.000</a>, 
								<a data-graphnodemax="100000" href="javascript:info.settings('graphnodemax', 100000);">100.000</a>.
							</li>
							<li>
								Max number of  
								<a href="javascript:info.help('settingsgraph');">
								<em>edges</em></a> to plot a graph: 
								<a data-graphedgemax="1000" href="javascript:info.settings('graphedgemax', 1000);">1.000</a>, 
								<a data-graphedgemax="2000" href="javascript:info.settings('graphedgemax', 2000);">2.000</a>, 
								<a data-graphedgemax="3000" href="javascript:info.settings('graphedgemax', 3000);">3.000</a>, 
								<a data-graphedgemax="5000" href="javascript:info.settings('graphedgemax', 5000);">5.000</a>, 
								<a data-graphedgemax="10000" href="javascript:info.settings('graphedgemax', 10000);">10.000</a>, 
								<a data-graphedgemax="25000" href="javascript:info.settings('graphedgemax', 25000);">25.000</a>, 
								<a data-graphedgemax="50000" href="javascript:info.settings('graphedgemax', 50000);">50.000</a>, 
								<a data-graphedgemax="100000" href="javascript:info.settings('graphedgemax', 100000);">100.000</a>.
							</li>
						</ul>
						
						<h3 id="title-listings">Filters & queries</h3>
						<ul>
							<li>
								Queries separator: 
								<a data-roundtripsep="|" href="javascript:info.settings('roundtripsep', '|');">| (alt/altgr + 1)</a>, 
								<a data-roundtripsep="@" href="javascript:info.settings('roundtripsep', '@');">@ (alt/altgr + 2)</a>, 
								<a data-roundtripsep="%" href="javascript:info.settings('roundtripsep', '%');">% (caps + 5)</a>, 
							</li>
						</ul>
						
						<h3 id="title-listings">Tables & listings</h3>
						<ul>
							<li>
								Items per page: 
								<a data-listrowsperpage="10" href="javascript:info.settings('listrowsperpage', 10);">10</a>, 
								<a data-listrowsperpage="20" href="javascript:info.settings('listrowsperpage', 20);">20</a>, 
								<a data-listrowsperpage="30" href="javascript:info.settings('listrowsperpage', 30);">30</a>, 
								<a data-listrowsperpage="40" href="javascript:info.settings('listrowsperpage', 40);">40</a>, 
								<a data-listrowsperpage="50" href="javascript:info.settings('listrowsperpage', 50);">50</a>, 
								<a data-listrowsperpage="100" href="javascript:info.settings('listrowsperpage', 100);">100</a>.
							</li>
							<li>
								<a target="_blank" rel="nofollow" href="https://es.wikipedia.org/wiki/Unidad_tipificada" 
									data-tooltip="unidades tipificadas">
									<em>Z-score</em> format
									</a>: 
								<a data-zscoreassstars="0" href="javascript:info.settings('zscoreassstars', 0);">
									numeric (1 to 5)</a>, 
								<a data-zscoreassstars="1" href="javascript:info.settings('zscoreassstars', 1);">viausl (1 to 
									5 asterisks &#10033;)</a>. 
							</li>
						</ul>

						<h3 id="title-maps">Maps</h3>
						<ul>
							<li>
								Initial position. Latitude: 
								<a data-maphomelat="0" href="javascript:info.settings('maphomelat', 0);">Equator</a>, 
								<a data-maphomelat="7" href="javascript:info.settings('maphomelat', 7);">Africa</a>, 
								<a data-maphomelat="29" href="javascript:info.settings('maphomelat', 29);">America</a>, 
								<a data-maphomelat="39" href="javascript:info.settings('maphomelat', 39);">Asia</a>, 
								<a data-maphomelat="50" href="javascript:info.settings('maphomelat', 50);">Europe</a>, 
								<a data-maphomelat="-25" href="javascript:info.settings('maphomelat', -25);">Pacific</a>.
							</li>
							<li>
								Initial position. Longitude: 
								<a data-maphomelon="0" href="javascript:info.settings('maphomelon', 0);">Greenwich</a>, 
								<a data-maphomelon="17" href="javascript:info.settings('maphomelon', 17);">Africa</a>, 
								<a data-maphomelon="-92" href="javascript:info.settings('maphomelon', -92);">America</a>, 
								<a data-maphomelon="95" href="javascript:info.settings('maphomelon', 95);">Asia</a>, 
								<a data-maphomelon="4" href="javascript:info.settings('maphomelon', 4);">Europe</a>, 
								<a data-maphomelon="133" href="javascript:info.settings('maphomelon', 133);">Pacific</a>.
							</li>
							<li>
								Initial position. Zoom: 
								<a data-mapzoom="1" href="javascript:info.settings('mapzoom', 1);">1</a>, 
								<a data-mapzoom="2" href="javascript:info.settings('mapzoom', 2);">2</a>, 
								<a data-mapzoom="3" href="javascript:info.settings('mapzoom', 3);">3</a>, 
								<a data-mapzoom="4" href="javascript:info.settings('mapzoom', 5);">4</a>, 
								<a data-mapzoom="5" href="javascript:info.settings('mapzoom', 5);">5</a>, 
								<a data-mapzoom="6" href="javascript:info.settings('mapzoom', 6);">6</a>.
							</li>
						</ul>

						<h3 id="title-scales">Color scale</h3>
						<div id="colorscales" class="force-two-columns"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
