<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item pure-menu-active">
			<a id="s-atab-zero" class="pure-menu-link" href="javascript:toolkit.selecttab('atab', 'zero')">Requisitos</a>
		</li>
		<li class="pure-menu-item">
			<a id="s-atab-one" class="pure-menu-link" href="javascript:toolkit.selecttab('atab', 'one')">Ajustes</a>
		</li>
	</ul>
</div>
<div id="c-atab-zero" class="is-visible">
	<p>
		<span class="text-error">DOCUMENTACIÓN EN DESARROLLO</span>. Requisitos.
	</p>
</div>
<div id="c-atab-one" class="is-hidden">
	<p>
		<span class="text-error">DOCUMENTACIÓN EN DESARROLLO</span>. Ajustes.
	</p>
</div>