<h4 class="margin-top margin-bottom" id="help-title">1. REQUISITOS</h2>

<p>
	Muestra las características <em>mínimas</em> deseables de las que debe disponer el equipo cliente 
	para utilizar PATHFINDER obteniendo una experiencia de usuario correcta. Básicamente son las siguientes:
</p>
<ul>
	<li>8 MB ó más de memoria RAM. Microprocesador igual o posterior a Intel Core i3.</li>
	<li>El tamaño del disco no es relevante, si bien se sugiere disponer de 250 MB libres.</li>
	<li>Sistema operativo MS Windows v ≥ 10, Linux con kernel v ≥ 4, macOS v ≥10.</li>
	<li>Navegador Firefox v ≥ 50, Safari v ≥ 10 (no recomendado), Chrome v ≥ 51 (recomendado), Opera v ≥ 40.</li>
</ul>
