<h4 class="margin-top margin-bottom" id="help-title">3. CARACTERÍSTICAS DETECTADAS</h2>

<p>
	PATHFINDER trata de averiguar (es difícil, porque habitualmente, por razones de seguridad, 
	las compañías fabricantes de navegadores no permiten "profundizar" demasiado) las características del 
	equipo utilizado por el usuario. Las particularidades detectables son las siguientes:
</p>
<ul>
	<li>Acepta <em>cookies</em></li>
	<li>Tipo de dispositivo</li>
	<li>Idiomas aceptados</li>
	<li>Conectado a Internet</li>
	<li>Acceso procedente de...</li>
	<li>Resolución de pantalla (píxeles)</li>
	<li>Zona horaria</li>
	<li>Agente de usuario detectado</li>
</ul>
