<h4 class="margin-top margin-bottom" id="help-title">5. CONTROL DE ERRORES</h2>

<p>
	Ajuste del sistema. Los valores resaltados son los que están en vigor en ese momento. 
	Permite modelar la respuesta de PATHFINDER cuando se produce un error. Las 
	opciones son las siguientes:
</p>
<ul>
	<li>Captura de errores. Si PATHFINDER muestra o no una ventana emergente indicando que se ha 
	producido un error.</li>
	<li>Mensajes de error detallados. Indicar el origen del error (<em>stack trace</em>, trazado de 
	la pila de instrucciones: cual fue la sucesión de instrucciones que dispararon el error). 
	No es útil para el usuario sin conocimientos técnicos.</li>
	<li>Mostrar error en consola de desarrollo. La mayoría de los navegadores disponen de una “consola” 
	donde mostrar información e interactuar. Indica si los errores aparecerán o no en ella. 
	No es útil para el usuario sin conocimientos técnicos.</li>
	<li>Aviso antes de recargar la página. Si PF muestra un mensaje ANTES 
	de recargar la página (solamente si se ha modificado algo en ella); 
	al recargarla se perderían las operaciones realizadas con los datos en caso de que se hubiera 
	cargado un archivo en la BD.</li>
</ul>
