<div class="pure-menu">
	<a class="pure-menu-heading" href="#home">PATHFINDER</a>
	<ul class="pure-menu-list">
		<li class="pure-menu-item">
			<a href="javascript:info.filter();" class="pure-menu-link pure-menu-status">
				<span id="app-microchart"></span>
				<span id="app-status">ready</span>
			</a>
		</li>
		<li class="pure-menu-item menu-item-divided">
			<a href="#data" class="pure-menu-link">Data</a>
		</li>
		
		<li class="pure-menu-item menu-item-divided">
			<a href="#settings" class="pure-menu-link pure-menu-selected">Settings</a>
		</li>
		<li class="pure-menu-item">
			<a class="pure-menu-link sublink" id="sel-zero" href="javascript:toolkit.selecttab('tab', 'zero')">
				<i class="fa fa-tasks"></i>
				Requirements
			</a>
		</li>
		<li class="pure-menu-item">
			<a class="pure-menu-link sublink" id="sel-one" href="javascript:toolkit.selecttab('tab', 'one')">
				<i class="fa fa-sliders-h"></i>
				Settings
			</a>
		</li>

		<li class="pure-menu-item">
			<a class="pure-menu-link sublink" href="javascript:i18n.changelang(l === 'en' ? 'es' : 'en');">
				<i class="fa fa-language"></i> 
				Language
			</a>
		</li>
		<li class="pure-menu-item">
			<a class="pure-menu-link sublink" href="javascript:info.changetheme();">
				<i class="fa fa-palette"></i>
				Theme
			</a>
		</li>
		<li class="pure-menu-item">
			<a class="pure-menu-link sublink" href="javascript:info.app();">
				<i class="fa fa-network-wired"></i> 
				App
			</a>
		</li>
		<li class="pure-menu-item">
			<a class="pure-menu-link sublink" href="javascript:info.help('settings');">
				<i class="fa fa-question-circle"></i> 
				Help
			</a>
		</li>
		
		<li class="pure-menu-item">
			<a href="#documents" class="pure-menu-link menu-item-divided">Documents</a>
		</li>
		<li class="pure-menu-item menu-item-divided menu-item-divided">
			<a href="javascript:info.help('app');" class="pure-menu-link">Help</a>
		</li>
	</ul>
</div>
