<nav data-demo="menu" class="navigation">
	<ul>
		<li class="home-link background-secondary-400">
			<h1 class="display-title display-title-l margin-top-s">
				<img src="./assets/img/logos/IMGLOGOPF.svg" alt="PATHFINDER" 
	    				style="margin:.5rem .5rem .5rem 1rem;height:30px;width:30px;float:left" />
				<a style="line-height:.7"  href="#home">
					PATHFINDER <span id="side-app-info" class="font-size-xs font-weight-thin"></span>
				</a>
			</h1>
		</li>
		<li data-demo="filtermenu" class="background-error-50">
			<a href="javascript:info.filter();">
				<span id="app-microchart"></span>
				<span id="app-status">Ready</span>
			</a>
		</li>
		<li>
			<a href="#data">Data</a>
		</li>
		<li data-demo="settings">
			<a href="#settings">Options</a>
		</li>
		<li class="active">
			<a href="#documents">Documents</a>
			<ul data-demo="submenu" class="background-light-100">
				<li>
					<a id="sel-one" href="#documents">
						<svg width="24" height="18" viewBox="0 0 24 24" class="svgicon">
							<path class="book" d=""></path>
						</svg> 
						Documents
					</a>
				</li>
				<li>
					<a id="sel-one" href="#starting">
						<svg width="24" height="18" viewBox="0 0 24 24" class="svgicon">
							<path class="bookopen" d=""></path>
						</svg> 
						Tutorial
					</a>
				</li>
				<li>
					<a id="sel-one" href="#projects">
						<svg width="24" height="18" viewBox="0 0 24 24" class="svgicon">
							<path class="pentool" d=""></path>
						</svg> 
						Projects
					</a>
				</li>
				<li>
					<a id="sel-two" href="#institutions">
						<svg width="24" height="18" viewBox="0 0 24 24" class="svgicon">
							<path class="feather" d=""></path>
						</svg> 
						Institutions
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:info.help('app');">Help</a>
		</li>
	</ul>
</nav>

<div id="search-container" class="field field-float-label no-margin-bottom">
	<input id="search-input" class="background-info-50 no-border border-radius-none" type="search" placeholder="search...">
	<label id="search-results-count" for="search-input">search...</label>
	<ul id="search-results" class="search-results"></ul>
</div>
