<h4 class="margin-top margin-bottom" id="help-title">2. LEYENDA</h2>

<p>
	PATHFINDER identifica cada <em>tipo de registro primario</em> de acuerdo a un 
	código de colores. Las equivalencias son las siguientes:
</p>
<ul class="list-style-none">
	<li><span class="dot margin-right" style="background-color: #008080;"></span>Obra de arte</li>
	<li><span class="dot margin-right" style="background-color: #3cb44b;"></span>Catálogo</li>
	<li><span class="dot margin-right" style="background-color: #aa6e28;"></span>Empresa</li>
	<li><span class="dot margin-right" style="background-color: #e6194b;"></span>Entidad</li>
	<li><span class="dot margin-right" style="background-color: #0082c8;"></span>Exposición</li>
	<li><span class="dot margin-right" style="background-color: #911eb4;"></span>Actor</li>
</ul>
