<h4 class="margin-top margin-bottom" id="help-title">5. DATOS DEL REGISTRO</h2>

<p>
	Cada registro individual contiene información sobre los siguientes elementos:
</p>
<ul>
	<li>Identificación (<em>número ID</em>). Única para cada <em>registro primario</em>.</li>
	<li>Taxonomías que se asocian al registro.</li>
	<li>Metainformación específica (no "relacional") de cada registro.</li>
	<li>Relaciones de cada registro con otros de tipo <em>primario</em> en función del papel 
	que desempeñen. Un único registro primario puede estar relacionado con muchos otros y 
	jugando diferentes roles; por ejemplo, un actor puede ser autor que participa en 
	una exposición y comisario o autor de un catálogo.</li>
</ul>
