<h4 class="margin-top margin-bottom" id="help-title">1. ANÁLISIS RELACIONAL</h2>

<p>
	PATHFINDER permite analizar directamente las características de las <em>relaciones</em> 
	de un registro individual desde la pantalla correspondiente. Dichas relaciones se 
	contemplan desde diferentes perspectivas. Para obtener información concreta sobre 
	cada una de ellas, qué muestran y cómo se comportan, consulte el manual en 
	<a href="#documents">Documentación</a>. Las herramientas analíticas son las 
	siguientes:
</p>
<ul>
	<li>Cronograma. Gráfico de dispersión y líneas donde se marcan los cronovalores más importantes de los elementos relacionados con el registro. El gráfico cartesiano marca los grupos de valores con un rectángulo (por ejemplo, fecha de nacimiento para actores que participen como autores en una exposición), con una línea su media aritmética simple y con pines los valores máximo y mínimo en cada caso. Ajustable a año, mes (número o texto), día y día de la semana (número o texto).</li>
	<li>Geograma. Ídem que el anterior para valores geográficos.</li>
	<li>Red. Grafo de relaciones del registro principal con otros registros.</li>
	<li>Taxograma. Como en <em>Cronograma</em> y <em>Geograma</em> pero para las taxonomías.</li>
	<li>Estadísticas. Tabla pivote para recuento por campos y valores para el registro principal y sus relaciones.</li>
	<li>Mapas. Necesita conexión a la red. Puede mostrar el registro principal, los agrupamientos (clusters) de sus relacionados y de los relacionados con sus relacionados o “relaciones indirectas”), el mapa de calor de ambos grupos de valores y los vínculos correspondientes en forma lineal.</li>
</ul>
