<div class="group group-xs">
	<ul>
		<li>
			<button id="stab20" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab20', 'step20', 'shtabcontent', 'shtablinks');">
			Briefing</button>
		</li>
		<li>
			<button id="stab21" 
				class="shtablinks button button-s button-light button-border" 
				onclick="javascript:toolkit.generictab('stab21', 'step21', 'shtabcontent', 'shtablinks');">
			Diagrams</button>
		</li>
	</ul>
</div>

<div id="step20" class="shtabcontent visible">
	<h3>Screen items</h3>
<p>
This screen shows a <em>single primary record</em>. 
Info is grouped according to their semantic value in the general context of the application and 
particular of the register itself.
</p>
<p>
	Top to bottom, the screen areas are as follows:
</p>

<ol>
	<li>
		Record title ("Untitled" if blank).
	</li>
	<li>
		Single screen menu
		<ol>
			<li>
				Record. Returns to basic record screen.
			</li>
			<li>
				Analysis. Shows analytical to apply to the record data.
			</li>
			<ol>
				<li>
					Timeline. Line chart showing outstanding chronological marks of the record. 
					It is possible to characterize it using <em>facets</em>.
				</li>
				<li>
					Geoline. Line chart showing outstanding geographical marks of the record. 
					It is possible to characterize it using <em>facets</em>.
				</li>
				<li>
					Network. Graph showing relationships of the record. It is possible to use 
					up to four graph layouts (simple, circular, force or sankey) and to 
					characterize it using <em>facets</em>.
				</li>
				<li>
					Taxogram. Line or radar chart showing outstanding taxonomies marks of the record. 
					It is possible to characterize it using <em>facets</em>.
				</li>
				<li>
					Stats. Table showing absolute and relative frequences of metainfo of the 
					record field-by-field basis.
				</li>
				<li>
					Maps. It is possible to perform same set of operations present at general 
					<a href="javascript:toolkit.selecttab('tab', 'five');">maps</a> menu, but 
					restricted to selected record only.
				</li>
			</ol>
			<li>
				Legend. Shows ID number for the selected primary record and colors code 
				used along whole app.
			</li>
		</ol>
	</li>
	<li>
		Groups for each type of metadadata: Taxonomies, Metainfo and Relationships. In this case, each 
		bunch of relations is sorted by <em>relation kind</em> and <em>related</em> primary record, 
		by the way using aforementioned colors.
	</li>
</ol>
<p>
	On the right side of the screen header there is an icon 
	<svg width="16" height="16" viewBox="0 0 24 24" class="svgicon" style="fill: rgb(46, 49, 56);">
		<path class="download" d=""></path>
	</svg>. It allows to download the <em>plain text</em> content of the whole screen.
</p>
</div>
<div id="step21" class="shtabcontent hide">
	<h3>Diagrams</h3>
	<p class="text-center color-error">UNDER ACTIVE DEVELOPMENT</p>
</div>
