<h4 class="margin-top margin-bottom" id="help-title">ZONA A: MENÚ PRINCIPAL</h2>

<p>
	Contiene las siguientes opciones:
</p>
<ol>
	<li>Link de cambio de idioma. Muestra el idioma al que se va a cambiar (no el que está activo) y 
	su icono correspondiente.</li>
	<li>Inicio (página principal). Desde ella se puede acceder a Primeros pasos (en desarrollo).  
	En este apartado se ha añadido una prestación en el submenú ¿Cómo funciona?, 
	dedicado al interfaz de usuario: cuando se alude a una parte de la pantalla, 
	al pulsar sobre el enlace que la menciona se muestra dicha zona desplazando 
	el conjunto y marcándola de forma intermitente.</li>
	<li>Documentación. En desarrollo.</li>
	<li>Datos. Pantalla que se describe en el paso correspondiente.</li>
	<li>Ayuda. Despliega ventana emergente con opciones de información y ayuda general de 
	la aplicación; la ayuda específica se muestra con cada menú y/o submenú, pero la general 
	permanece invariable. Tiene las siguientes opciones:
	<ol>
		<li>Árbol de menús. Despliega de manera jerárquica las diferentes alternativas 
		y operaciones de menús y submenús (en desarrollo; hay que adaptarlo a los cambios realizados).</li>
		<li>Preguntas frecuentes y sus correspondientes respuestas. Irá ampliándose conforme 
		sea necesario.</li>
		<li>Operatoria. Diagrama de flujo con los principios básicos de funcionamiento. 
		En proceso de modificación.</li>
		<li>¿Cómo...? Si deseo realizar X los pasos son...</li>
	</ol>
	</li>
</ol>
