<style>
/* Customized selects */
select.xtabs {
	width: 400px;
	padding: 5px 35px 5px 5px;
	/* font-size: 16px; */
	border: 1px solid #ccc;
	height: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(./assets/img/svg/eye.svg) 96% / 5% no-repeat #eee;
}

select.xtabs::-ms-expand { 
	display: none; 
}

@media screen and (min-width:0\0) {
	select.xtabs {
		background:none\9;
		padding: 5px\9;
	} 
}

/* Hotspots */
.module-container {
	position: relative;
	width: 100%;
}

.spots-map {
	position: relative;
	width: 100%;
	height: 100%;
}
.spots-map img {
  display: block;
  width: 100%;
}

.pulse {
	padding: 0;
	position: absolute;
	width: 28px;
	height: 28px;
	border: none;
	box-shadow: 0 0 0 0 rgba(255, 4, 0, 0.7);
	border-radius: 50%;
	background-color: rgba(255, 4, 0, 0.1);
	-webkit-animation: pulse 5s linear infinite;
	-moz-animation: pulse 5s linear infinite;
	-ms-animation: pulse 5s linear infinite);
	animation: pulse 5s linear infinite;
	text-align: center;
}

.pulse-medium {
	-webkit-animation: pulsemedium 5s linear infinite;
	-moz-animation: pulsemedium 5s linear infinite;
	-ms-animation: pulsemedium 5s linear infinite);
	animation: pulsemedium 5s linear infinite;
}

.pulse-wide {
	-webkit-animation: pulsewide 5s linear infinite;
	-moz-animation: pulsewide 5s linear infinite;
	-ms-animation: pulsewide 5s linear infinite);
	animation: pulsewide 5s linear infinite;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(255, 4, 0, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(255, 4, 0, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(255, 4, 0, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(255, 4, 0, 0);}}

@-webkit-keyframes pulsemedium {to {box-shadow: 0 0 0 110px rgba(255, 4, 0, 0);}}
@-moz-keyframes pulsemedium {to {box-shadow: 0 0 0 110px rgba(255, 4, 0, 0);}}
@-ms-keyframes pulsemedium {to {box-shadow: 0 0 0 110px rgba(255, 4, 0, 0);}}
@keyframes pulsemedium {to {box-shadow: 0 0 0 110px rgba(255, 4, 0, 0);}}

@-webkit-keyframes pulsewide {to {box-shadow: 0 0 0 200px rgba(255, 4, 0, 0);}}
@-moz-keyframes pulsewide {to {box-shadow: 0 0 0 200px rgba(255, 4, 0, 0);}}
@-ms-keyframes pulsewide {to {box-shadow: 0 0 0 200px rgba(255, 4, 0, 0);}}
@keyframes pulsewide {to {box-shadow: 0 0 0 200px rgba(255, 4, 0, 0);}}

.masked {
	-webkit-clip-path: inset(11% 0 11% 0);
	-webkit-clip-path: inset(11% 0 11% 0);
	-moz-clip-path: inset(11% 0 11% 0);
	-ms-clip-path: inset(11% 0 11% 0);
	clip-path: inset(11% 0 11% 0);
}

.tree {
	list-style: none;
}
.tree, .tree * {
	margin: 0;
	padding: 0;
}
.tree li {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: .5vh;
	padding-bottom: .5vh;
	position: relative;
	padding-left: 2vw;
}
.tree li p select {
	border: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: #dfdfdf;
	padding: 0.35em;
	outline: none;
	margin-bottom: .5em;
	font-size: 1em;
	font-family: inherit;
	line-height: 1.2;
	color: #404040;
	-webkit-appearance: none;
	-moz-appearance: none;
	flex: 2;	
}
.tree li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	border-top: 1px solid;
	width: 2vw;
}
.tree li::after {
	content: '';
	position: absolute;
	left: 0;
	border-left: 1px solid;
}
.tree li:last-of-type::after {
	height: 50%;
	top: 0;
}
.tree li:first-of-type::after {
	height: 50%;
	bottom: 0;
}
.tree li:not(:first-of-type):not(:last-of-type)::after {
	height: 100%;
}
.tree ul, .tree ol {
	padding-left: 2vw;
	position: relative;
}
.tree ul::before, .tree ol::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	border-top: 1px solid;
	width: 2vw;
}
.tree p {
	border: 1px solid;
	text-align: left;
	padding: 0.33em 0.66em;
}
.tree > li {
	padding-left: 0;
}
.tree p.levelzero {
	border: 0;
	text-align: right;
	padding: 0;
}
.tree > li::before, .tree > li::after {
	display: none;
}

dd {
	margin-left: 3em !important;
}
</style>

<header class="margin-bottom-l">
	<div class="container">
	    	<img class="margin-right-s" src="./assets/img/logos/IMGLOGOPF.svg" alt="PATHFINDER" 
	    		style="height:100px;width:100px;float:left" />
		<h1 class="display-title display-title-xxl margin-top-s">
			<span class="margin-vertical-auto">Tutorial</span>
		</h1>
		<p class="lead lead-s margin-vertical-m">
			Here you can find a complete tutorial including videos and
			screencasts to acquaint yourself with use and basic principles of PATHFINDER operation.
		</p>
	</div>
</header>

<main>
	<section>
		<div class="container">
			<div class="content margin-bottom-l logo-background">
				<div class="group group-xs margin-bottom-l">
					<ul>
						<li>
							<button id="stab0" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab0', 'step0', 'stabcontent', 'stablinks');">
							At a glance</button>
						</li>
						<li>
							<button id="stab1" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab1', 'step1', 'stabcontent', 'stablinks');">
							Utility</button>
						</li>
						<li>
							<button id="stab2" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab2', 'step2', 'stabcontent', 'stablinks');">
							Operation</button>
						</li>
						<li>
							<button id="stab3" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab3', 'step3', 'stabcontent', 'stablinks');">
							How to&hellip;?</button>
						</li>
						<li>
							<button id="stab4" 
								class="stablinks button button-s button-light button-border" 
								onclick="javascript:toolkit.generictab('stab4', 'step4', 'stabcontent', 'stablinks');">
							Screencasts</button>
						</li>
					</ul>
				</div>
				<div id="step0" class="stabcontent visible">
					<h2 id="title-ataglance">At a glance</h2>
					<div class="group group-xs margin-bottom-l">
						<ul>
							<li>
								<select class="xtabs font-size-xl" id="splashselector">
									<option value="10">Interface</option>
									<option value="11">Panel</option>
									<option value="12">Listing</option>
									<option value="13">Single record</option>
									<option value="14">Filter</option>
								</select>
							</li>
						</ul>
					</div>
					<div id="step10" class="sxtabcontent visible">
						<div class="module-continer">
							<div class="spots-map">
								<img class="border border-primary padding-xs" 
									src="./assets/img/starting/es/PF_INTERFACE.png" />
								<div id="spots0">
									<a data-tooltip="A: MAIN MENU"
										class="pulse color-error" 
										href="javascript:info.help('step10', 'Tutorial. Interface');" 
										style="top:0.7%;left:19%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowleftcircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="B: FILTER STATUS"
										class="pulse color-error" 
										href="javascript:info.help('step10', 'Tutorial. Interface');" 
										style="top:6.3%;left:19%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowleftcircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="C: SUBMENU"
										class="pulse color-error" 
										href="javascript:info.help('step10', 'Tutorial. Interface');" 
										style="top:30.1%;left:19%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowleftcircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="D: OPERATIONS"
										class="pulse pulse-wide color-error" 
										href="javascript:info.help('step10', 'Tutorial. Interface');" 
										style="top:50.1%;left:55.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="maximize" d=""></path>
										</svg>
									</a>
									<a data-tooltip="E: FOOTER"
										class="pulse color-error" 
										href="javascript:info.help('step10', 'Tutorial. Interfce');" 
										style="top:86.4%;left:55.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="F: SEARCH"
										class="pulse color-error" 
										href="javascript:info.help('step10', 'Tutorial. Interface');" 
										style="top:64.4%;left:19%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowleftcircle" d=""></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div id="step11" class="sxtabcontent hide">
						<div class="module-continer">
							<div class="spots-map">
								<img class="border border-primary padding-xs" 
									src="./assets/img/starting/es/PF_INTERFACE.png" />
								<div id="spots1">
									<a data-tooltip="1. DATA UPDATE"
										class="pulse color-info" 
										href="javascript:info.help('step20');" 
										style="top:27.6%;left:30.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="2. LOAD FILE"
										class="pulse color-info" 
										href="javascript:info.help('step20');" 
										style="top:27.6%;left:47.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="3. INFO"
										class="pulse color-info" 
										href="javascript:info.help('step20');" 
										style="top:27.6%;left:63.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="4. DATA EXPORT"
										class="pulse color-info" 
										href="javascript:info.help('step20');" 
										style="top:27.6%;left:79.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="5. COLLECTIONS"
										class="pulse color-info" 
										href="javascript:info.help('step20');" 
										style="top:54.6%;left:30.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="6. REPORTS"
										class="pulse color-info" 
										href="javascript:info.help('step20');" 
										style="top:71.8%;left:34.4%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="7. FILTER"
										class="pulse color-success" 
										href="javascript:info.help('step20');" 
										style="top:20%;left:19%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowleftcircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="8. LISTING"
										class="pulse color-success" 
										href="javascript:info.help('step20');" 
										style="top:24.4%;left:19%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowleftcircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="9. ANALYSIS"
										class="pulse pulse-medium color-success" 
										href="javascript:info.help('step20');" 
										style="top:36%;left:10%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="maximize" d=""></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div id="step12" class="sxtabcontent hide">
						<div class="module-continer">
							<div class="spots-map">
								<img  class="border border-primary padding-xs" 
									src="./assets/img/starting/es/PF_LISTING.png" />
								<div id="spots2">
									<a data-tooltip="1. SEARCH & NAVIGATION"
										class="pulse color-info" 
										href="javascript:info.help('step30');" 
										style="top:26.5%;left:58.1%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="2. TABLE"
										class="pulse pulse-wide color-info" 
										href="javascript:info.help('step30');" 
										style="top:61.4%;left:55.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="maximize" d=""></path>
										</svg>
									</a>
									<a data-tooltip="3. SINGLE RECORD"
										class="pulse color-success" 
										href="javascript:info.help('step30');" 
										style="top:81.5%;left:45.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowleftcircle" d=""></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div id="step13" class="sxtabcontent hide">
						<div class="module-continer">
							<div class="spots-map">
								<img class="border border-primary padding-xs" 
									src="./assets/img/starting/es/PF_SINGLE_RECORD.png" />
								<div id="spots2">
									<a data-tooltip="1. RELATIONAL ANALYSISL"
										class="pulse color-info" 
										href="javascript:info.help('step40');" 
										style="top:7.5%;left:13%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="2. RECORD DATA"
										class="pulse pulse-wide color-info" 
										href="javascript:info.help('step40');" 
										style="top:55%;left:54%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="maximize" d=""></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
		
					<div id="step14" class="sxtabcontent hide">
						<div class="module-continer">
							<div class="spots-map">
								<img class="border border-primary padding-xs" 
									src="./assets/img/starting/es/PF_FILTER.png" />
								<div id="spots2">
									<a data-tooltip="1. INCLUSIONS & RESTRICTIONS"
										class="pulse color-info" 
										href="javascript:info.help('step50');" 
										style="top:20.1%;left:40.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowleftcircle" d=""></path>
										</svg>
									</a>
									<a data-tooltip="2. FILTER PANEL"
										class="pulse pulse-wide color-success" 
										href="javascript:info.help('step50');" 
										style="top:50%;left:50.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="maximize" d=""></path>
										</svg>
									</a>
									<a data-tooltip="3. OPERATIONS"
										class="pulse color-info" 
										href="javascript:info.help('step50');" 
										style="top:84.8%;left:65.5%;">
										<svg width="28" height="28" viewBox="0 0 24 24" class="svgicon">
											<path class="arrowdowncircle" d=""></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<div id="step1" class="stabcontent hide">
					<h2 id="title-utility">Utility</h2>
					<dl>
						<dt>
							Seriously, what is PATHFINDER and what is it for?
						</dt>
						<dd>
							It is a computer app aiming to help you to extract new knowledge from 
							the analysis of data collected in 
							<a rel="noopener" target="_blank" href="http://expofinder.uma.es"> ExpoFinder </a>.
						</dd>
						<dt>
							What the heck is "extract new knowledge"?
						</dt>
						<dd>
							As Bernhard Rieder and Theo Röhle claim in their recent text
<a rel="noopener" target="_blank" href="https://doi.org/10.1057/9780230371934_4">Digital Methods: Five Challenges</a>
(2012), while terms such as "digital humanities" or "cultural analysis" are in fashion there are many alert signals about need of a "computational turn", deeper than a simple quantitative increase in resources to study disciplines such as Art History. Both authors wonders about: if these new digital methods are only no more than just another set of tools in the researcher’s arsenal, how can anyone deal with the most fundamental transformations, necessary to challenge established epistemological paradigms? 
PATHFINDER tries to help in this dispute. It aims not to be simply a new trick to use computer to help store and organize data; it has been built as a <em>true tool</em> to relief the painful task to perform calculations and approximations so that, from what is known, it were possible to <em>deduce</em> information not noticeable naked eye. It is not about "inventing" anything, but about extracting what is already present in the set of information we have collected. That is why we talk about "generating new knowledge".
						</dd>
						<dt>
							Okay, but do I need any special skills to handle PATHFINDER? 
							That is, do I need specific training in statistics, mathematics or computer science?
						</dt>
						<dd>
							Not at all. And it is so just because PATHFINDER (or PF, for short) perform the necessary calculations by asking 
							the user only for guidance on the bearing for those calculations. PF does not "do our job", 
							but asks us (figuratively) what we want to find out and acts accordingly.
						</dd>
						<dt>
							Can PF only work with dataset from <a rel="noopener" target="_blank" href="http://expofinder.uma.es"> ExpoFinder </a>?
						</dt>
						<dd>
							Although its functional design and conception is flexible and it is designed to be adaptable to data source inherent needs, nowadays the answer is positive: currently PF can use only EF data.
						</dd>
						<dt>
							And what will I need to work with PF?
						</dt>
						<dd>
							To get the data you must have a valid set of credentials (that is, a username and password) to access <a href="http://www.expofinder.es" rel="noopener" target="_blank ">ExpoFinder</a>. If you don't have one, request it <a href="#legal">here</a>.
						</dd>
						<dt>
							Do I need to be connected to the Internet?
						</dt>
						<dd>
							Actually the vast majority of the work is done by your computer and your browser 
							(<a rel="noopener" target="_blank" href="https://www.google.com/chrome/">Chrome</a>, 
							<a rel="noopener" target="_blank" href="https://www.mozilla.org/es-ES/firefox/">Firefox</a>, 
							<a rel="noopener" target="_blank" href="https://www.opera.com/es">Opera</a> or 
							<a rel="noopener" target="_blank" href="https://www.apple.com/es/safari/">Safari</a>) 
							and not a remote data server, so it would seem that it is not necessary. 
							However, some tasks require it. For example, downloading the data file from  
							<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a> or on-screen mapping. That is why it is essential to be connected.
						</dd>
					</dl>			
				</div>	
				<div id="step2" class="stabcontent hide">
					<h2 id="title-running">Operation</h2>
					<dl>
						<dt>
							Should I take any cautions before starting to work with PF?
						</dt>
						<dd>
							A few. 						 
							<mark class="color-error background-error-50">Refresh or reload the page implies
lose the work session (it should be restarted)</mark>. 
							If you performed any operation or "touched" the screen (for example, by pressing
a link) the browser will ask if you want to carry on the operation or to cancel it, so be careful about it.
							<br /><br />
							The "back arrow" does not work either [
							<img src="./assets/img/svg/arrow-left.svg" style="width:18px;vertical-align:middle;"> or something
similar] of your browser as you might expect. Pressing it usually leaves the page
in which you are browsing, but PF does not use that concept, so it can be found
with unexpected behaviors.
						</dd>
						<dt>
							Is PF only in Spanish?
						</dt>
						<dd>
							No, it is in English too, as you can see ;-). PF detects the predefined language of the browser being used and is the one used by default. But if you want to change it, 
							on <a class="demo-link" href="javascript:toolkit.markdemo('lang');">footer</a> (see below) 
							the international abbreviation of the alternative language in color 
							<span class="color-error">red</span> is shown; 
							it means, if the interface is in Spanish, will appear <span class="color-error">EN</span> 
							(for <em>English</em>), and <span class="color-error">ES</span> if it is in Spanish. 
							If you want to try, 
							you can <a href="javascript:i18n.changelang('en');">click here</a>. 
							It can also be selected from 
							<a class="demo-link" href="javascript:toolkit.markdemo('settings');">settings</a> menu.
						</dd>
						<dt>
							What elements are used in PF screens? That is, how is the user interface used?
						</dt>
						<dd>
							Well, it's really very simple. The most important elements of common use are shown here. 
							They always do the same things and mean the same. Read on to find out what each one is for.
						</dd>
						<dt>
							What is the main menu?
						</dt>
						<dd>
							It's <a class="demo-link" href="javascript:toolkit.markdemo('menu');">on the left</a>. 
							You can use it to access the different screens, although it does not control <em>all</em> 
							of the activities; it is done by <em>submenus</em>, shown when you click on an option. 
							<em>Help</em> 
							menu, opens a pop-up window containing the most relevant 
							global information about PF, but each screen has its own help (<em>More info&hellip;</em> link).
						</dd>
						<dt>
							What is the information placed above menu options?
						</dt>
						<dd>
							It is the
							<a class="demo-link" href="javascript:toolkit.markdemo('filtermenu');">information about filter</a>. 
							Background will be <mark class="background-error-50">red</mark> until a data file were loaded. 
							When active, this zone shows filter state (click 
							<a href="javascript:toolkit.generictab('stab3', 'step3', 'stabcontent', 'stablinks');">here</a> 
							if you don't know what a filter is); by the way, it includes a pie microchart  
							drawing the percent of total primary records filtered.
						</dd>
						<dt>
							What is a "submenu"?
						</dt>
						<dd>
							It can be seen in the 
							<a class="demo-link" href="javascript:toolkit.markdemo('submenu');">menu area active on each page</a>, 
							and it offers the possible tasks to be ran. 
						</dd>
						<dt>
							What does a question mark inside square brackets means?
						</dt>
						<dd>
							The <a class="demo-link" href="javascript:toolkit.markdemo('questionmark');">
							small question mark inside square brackets</a> 
							(<span data-demo="questionmark">[?]</span>) 
							either they are a link to open a pot-up window containing a particular 
							kind of help, or they denotes a <em>singular point of information</em>, 
							displaying a "speech bubble" as complement to forementioned thing in a given text. 
							In technical jargon they are usually known as <em>tooltips</em>.
						</dd>
						<dt>
							What is the text at the bottom of each page?
						</dt>
						<dd>
							The <a class="demo-link" href="javascript:toolkit.markdemo('footer');">footer</a> 
							has links regarding institutions and external references of PF. 
							But right at the beginning, where the name and version of the application appear, 
							there is one a bit special: 
							when you click on it a pop-up window shown, having in addition to the typical information  
							for an "About&hellip;" option, some data concerning browser and servers 
							(data and app) response speed; if you want to know more on them, click 
							<a href="#settings">here</a>.
							<br>
							There are, too,  
							<a class="demo-link" href="javascript:toolkit.markdemo('footerright');">
							some interesting links</a>. 
							<em>Colors</em> reports about chromatic codes used by PF to mark out  
							the <a href="#documents">primary record types</a> and to  
							distinguish between operations effects. 
							<em>Legal</em> shows 
							info over contact, applicable law and licenses. 
							<em data-tooltip="set of program instructions with a defined purpose that helps the operative of PF">Libraries</em> shows about them and its loading status. 
							<em>Print</em> and <em>Reload</em> do as labeled. 
						</dd>
					</dl>
				</div>	
				<div id="step3" class="stabcontent hide">
					<h2 id="title-howto">How to&hellip;?</h2>
					<dl>
						<dt>
							Before you start: the use of some abbreviations (ms, s, B, GiB, & hellip;) is striking. 
							For what is this?
						</dt>
						<dd>
							PF uses different types of nomenclatures, depending on what it alludes to, 
							but always with the support of the most widely accepted transnational standards. 
							In the case of information measures (<em> bytes </em>, symbol B, not "b"), 
							it uses both the International Metric System, based on multiples of 10, and 
							ISO/IEC 80000-13, based on a binary count. 
							In the first, one kilobyte, abbreviated "kB", 
							is equivalent to 1,000 bytes (10<sup>3</sup>), 
							while in the second one kilobyte, 
							abbreviated "KiB", is equivalent to 1,024 bytes (2<sup>10</sup>).
						</dd>
						<dt>
							What is the first thing to do to work with PF?
						</dt>
						<dd>
							First of all, access <a href="#data">Data</a> screen. And then, it depends:
							<ol type="a">
								<li>If an EF data file IS NOT available&hellip;
									<ol type="1">
										<li>
											Make sure you have a legitimate <strong>set of credenetials</strong> to access 
											<a href="http://www.expofinder.es" rel="noopener" target="_blank">ExpoFinder</a>. 
											 If you don't have one, request it <a href="#legal">here</a>.
										</li>
										<li>
											From the <a href="#data"><em>Data</em></a> page, select <em>Panel</em> &rarr; 
											<em>Update data</em>. When pop-up window appears, use your credentials and click 
											<em>Validate</em>.
										</li>
										<li>
											After a short lapse (usually between 30 and 60 seconds), PF will download an 
											information package in 
											<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> format; 
											it will be stored at local disk as an encrypted file, and PATHFINDER will issue a 
											<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Personal_identification_number">PIN</a>. 
											You must to preserve it in order to access data later.
										</li>
										<li>
											SUGGESTION: since PF will request a location and a name for the file,  
											it is a good practice for organizational reasons, and since each downloaded file is a 
											"snapshot" of EF data at any given time, 
											to name it following chronological guidelines. 
											As additional benefit, and if the name is assigned according 
											to <em>YYYY-MM-DD</em> pattern (year with four digits, month with two digits, day with two digits; 
											for example, "2018-07-20" will identify a file downloaded on July 20, 2018) will be easier to locate 
											in a large data folder, sorting the files alphabetically by name.
										</li>
									</ol>
								</li>
								<li>If an EF data file IS available&hellip;
									<ol type="1">
										<li>
											From the <a href="#data"><em>Data</em></a> page, select <em>Panel</em> &rarr; 
											<em>Load file</em>. When the dialog box is displayed, select the file you want to use and PF will load it. 
											Even though these figures depend on the microprocessor of your computer, 
											PF will process between 37,000 y 45,000 records per second, so for a volume of 500,000 
											it will take approximately 11 to 13.5 seconds. Actually it usually takes less.
										</li>
										<li>
											Before loading it, and as a security measure, PF will ask for your 
											<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Personal_identification_number">PIN</a>, to be kept when 
											file was downloaded. Write it out and click <em>OK</em>. 
											PF will issue an error message if you make a mistake.
										</li>
										<li>
											When the process is finished, the <a href="#data"><em>Data</em></a> screen will change to show 
											the new operations set you can run.
										</li>
									</ol>
								</li>
							</ol>
						</dd>
						<dt>
							Can I see it more graphically?
						</dt>
						<dd>
							You are right. Summarizing in a <em>decision tree</em> it would be more or less like this &hellip;
							<ul class="tree">
								<li>
									<p class="levelzero">
										Do I have a data file?
									</p>
									<ul>
										<li>
											<p>
												No
											</p>
											<ul>
												<li>
													<p>I get EF credentials</p>
												</li>
												<li>
													<p>From Panel I choose Access</p>
												</li>
												<li>
													<p>I write my credentials and pulse Validate</p>
												</li>
												<li>
													<p>I wait between 30s and 60s</p>
												</li>
												<li>
													<p>PF shows me a security PIN. I keep it</p>
												</li>
												<li>
													<p>I save the file naming it in YYYY-MM-DD format</p>
												</li>
											</ul>
										</li>									
										<li>
											<p>
												Yes
											</p>
											<ul>
												<li>
													<p>I select the downloaded file and upload it</p>
												</li>
												<li>
													<p>When PF asks me for the PIN, I write it</p>
												</li>
												<li>
													<p>I wait between 15s and 30s</p>
												</li>
												<li>
													<p>PF is now ready to work</p>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>							
						</dd>
						<dt>
							I already have a data file and I have loaded it in PF. What I can do?
						</dt>
						<dd>
							The main screen holding basic operations is <a href="#data">Panel</a>. 
							It is conceived sequentially, and when selected one option or another, 
							it only shows what is available at any time and some additional information. 
							For example, <em>Update data</em> indicates status of the remote data server and the result of a response time poll 
							in milliseconds (ms), and <em>Load file</em> shows the name of the one that was uploaded, 
							its size in bytes, the date and time it was downloaded and the number of primary records  
							<span class="informative" data-tooltip="author, catalog, company , entity, exhibition or artwork">[?]</span> 
							(which is by no means the total, since meta-information is not included 
							<span class="informative" data-tooltip="data associated with a record main: dates, location, ...">[?]</span>
							nor taxonomies 
							<span class="informative" data-tooltip="classifications that may affect more than one type of main record">[?]</span>) 
							contained therein, in addition to the <em>Info&hellip;</em> link, to open a  
							pop-up window to show total and relative figures of primary records, metadata and taxonomies. 
						</dd>
						<dt>
							And in few words?
						</dt>
						<dd>
							Well, like this:
							<ul class="tree">
								<li>
									<p class="levelzero">
										I'm in the Panel and I want&hellip;
									</p>
									<ul>
										<li>
											<p>
												Update EF data
											</p>
											<ul>
												<li>
													<p>
														I click on Update data
													</p>
												</li>
												<li>
													<p>
														I perform the download process from EF
													</p>
												</li>
											</ul>
										</li>
										<li>
											<p>
												Know how many records the database file downloaded from EF has
											</p>
											<ul>
												<li>
													<p>
														I load the file
													</p>
												</li>
												<li>
													<p>
														I click on Info&hellip;
													</p>
												</li>
											</ul>
										</li>
										<li>
											<p>
												Export PF data
											</p>
											<ul>
												<li>
													<p>
														I make sure that I have set the correct filter
													</p>
												</li>
												<li>
													<p>
														I select the right export format: 
														<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Tab-separated_values">TSV</a>, 
														<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a> o 
														<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/XML">XML</a>.
													</p>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</dd>
						<dt>
							The theme of the <em>filter</em> raises frequently. What is that?
						</dt>
						<dd>
							Working with an excessively large set of data is often impractical and offers not too relevant results 
							when it comes to generating new knowledge about a given topic. For example, if in PF it is intended 
							to inquire about exhibitions in Spain in a specific period, the presence of a group of records dealing 
							with France can distort more than help our purpose. 
							Therefore, the user is urged to always carry out a previous filter. While the concept originates in 
							<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Filter_(mathematics)">maths</a>, 
							in fact, it is easy to understand: it works as a "strainer", so that, of the total primary records, 
							only those matching some particular conditions will be worked on. 
							In the aforementioned example, those exhibitions held in Spain; the rest will not will be 
							taken in accout for any operation.
						</dd>
						<dt>
							What areas does the filter affect?
						</dt>
						<dd>
							When a filter is established its scope is global; that is, only data will be exported, 
							reports will be produced, statistics will be calculated or networks and graphs will be drawn on the primary records 
							matching the filter conditions.
						</dd>
						<dt>
							It is interesting, but how does the filter work?
						</dt>
						<dd>
							It works as a "funnel" whereby only records matching the specified conditions will "strain." 
							These conditions apply regardless of the order in which they are written 
							(they are not <em>hierarchical</em>) and will take effect according to their coincidence.
						</dd>
						<dt>
							A lot of theory and little practice: give me examples &hellip;
						</dt>
						<dd>
							Well there they go. But do not forget that <em>the filter will get erroneous results or will not get any</em> 
							if you do not respect the logical rules in its construction. 
							<br /> 
							Perhaps the best way is to start from a small scheme. 
							<img src = "./assets/img/illustrations/filtering_en.svg" /> 
							PF separately selects the primary records matching each condition. 
							Then calculates the <em>intersection</em> of both subsets, and, 
							if <em>inclusions</em> and/or <em>restrictions</em> have been established, 
							adds them to the final result.
						</dd>
						<dt>
							But an old Spanish proverb says that "there is not a chariot with only a wheel" 
							Is there a limit on the number of conditions I can use?
						</dt>
						<dd>
							Absolutely none. You can put as many as you want. But keep in mind the following rules:
							<ol>
								<li>Each condition  <em>must be calculated as single</em> before set the filter. 
								In fact, each condition is unique (how many authors are called "Picasso"? 
								How many exhibitions have been held in Malaga?), and they only make sense as a filter by 
								linking them together.</li>
								<li>If the possible values for a condition are unknown (for example, if it is not known 
								if there is an author named "Picasso") you can click on 
								<img src = "./assets/img/svg/search.svg" height = "14" width = "14">  
								in the condition row; as specified, PF will show a list of possibilities.</li>
								<li>You will have already realized that the operator "contains" does not take into account uppercase, 
								lowercase or accents. PF ever tries to preserve, as much as possible, the functionality offered by 
								the browser being used and, therefore, the implementation of Javascript 
								(the language with which PF is built) may differ between different browsers. 
								Experimentally it has been verified that both 
								<a rel="noopener" target="_blank" href="https://www.google.com/chrome/">Chrome</a>, 
								<a rel="noopener" target="_blank" href="https://www.mozilla.org/es-ES/firefox/">Firefox</a>,  
								<a rel="noopener" target="_blank" href="https://www.opera.com/es">Opera</a> and 
								<a rel="noopener" target="_blank" href="https://www.apple.com/es/safari/">Safari</a> realizan 
								correctamente la comparación de caracteres diacríticos. 
								That feature only occurs in the operators <em>contain</em> and 
								<em>does not contain</em>. In others, the comparison is strict.</li>
							</ol>
						</dd>
						<dt>
							Don't go so fast. What is that "operator"?
						</dt>
						<dd>
							Very simple. In maths, <em>operator</em> is intended as "an application between two vector spaces". 
							But because it seems to be a bit complicated we will make it simpler: a "comparator" between two terms. 
							Daily life uses them abundantly; for example, how many students have failed an exam? 
							Or in other words: how many students have a grade <em>lower than</em> C. 
							PF uses the following operators:
							<ol>
								<li>contain or does not contain; the term being compared is part of the field on which the search is performed; 
								indifferent to uppercase and tildes; it does not work as expected (making a sort of 
								database wildcard) with purely numerical values; for example, it would not find "1" in the number "111", 
								although it would find "1" on the date "2018-08-21", treated as a text.</li>
								<li>is greater than, is less than, is greater than or equal to, is less than or equal to; 
								as labeled; strict operation (takes into account uppercase and tildes); 
								in the textual value of months (January, February,&hellip;) the comparison is alphabetical, 
								so "December" is earlier than "June."</li>
								<li>be the same as, do not be the same as; 
								just as previous one, also in terms of ignoring uppercase and tildes; 
								it is an exact comparator ("Pablo Ruiz PIcasso" is not equal than "Pablo Ruiz Picasso").</li>
								<li>between; it is a special case; if you write two values separated by slash  
								(/) PF will seek for records <em>between</em> left and right values;  
								widely used in dates  
								(between 2010 y 2015, "2010/2015"); it works with text too, ans comparison is strict.</li>
								<li>be null, not null; another special case; indicates whether the field should contain a value or 
								be empty.</li>
							</ol>
						</dd>
						<dt>
							And what about "modifier?
						</dt>
						<dd>
							Called <em>facet</em> too in PF jargon. Makes mention of a <em>logical</em> part 
							of a field content. For example, 
							in EF, the fields "exhibition: venue place" is build by up to three parts, separated 
							by semicolon (;) and in this order: town, region and country; well, each one of them is a "facet"; 
							so, if you try to search for exhibitions held in the city of Madrid (region has the same name) 
							you must to use <em>town</em> modifier. Some of them are interesting, 
							as <em>decade</em> o <em>century</em> for dates or <em>domain</em> for 
							<a href="https://en.wikipedia.org/wiki/HTML" rel="nofollow" target="_blank">HTML</a> or 
							<a href="https://en.wikipedia.org/wiki/RSS" rel="nofollow" target="_blank">RSS</a> 
							<a target="_blank" rel="nofollow" 
								href="https://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URIs</a>.
						</dd>
						<dt>
							That filter seems powerful. But it can be a bit long to "rebuild" the conditions of one 
							that I use frequently. Can i keep them?
						</dt>
						<dd>
							Of course. Notice that there is a section in the upper area that says "Collection". 
							Once a filter is designed, you can save it on your client computer and take it wherever you want 
							(it is a simple text file in 
							<a rel="noopener" target="_blank" href="https://es.wikipedia.org/wiki/JSON">JSON</a> format). 
							You can reload it later.
							<br /><br />
							PF also offers "predesigned" filters downloadable from the server. 
							You can access them from the <em>Panel</em> in the <em>Data</em> menu, <em>Collections</em> section.
						</dd>
						<dt>
							And once I filtered what I want&hellip; than?
						</dt>
						<dd>
							Well, it's up to you. If you want to see what you have selected, use the List submenu of the Data menu. 
							PF will show you a paginated table with all the essential information to access each filtered record. 
							However, if you want to obtain a report, go to the corresponding option of the Panel submenu. 
							Later we explain what the reports consist of. 
							You can also perform analysis tasks in this submenu (or in your individual specifications 
							in the upper part of the screen): scheme, relationships, graphs, networks or maps.
						</dd>
						<dt>
							I have the doubt of the <em>search</em>. What is that?
						</dt>
						<dd>
							Well, simply a generic filter of a single condition that allows you to search in a specific 
							field or in any field using the "contain" operator. 
							Thus, if you search for "picasso", there will be actors who call themselves that, 
							exhibitions whose title is that or in which a "picasso" participates as an author, or as a curator,&hellip; 
							It can be very useful in certain circumstances. 
							Once the result is calculated, the filter must be activated to use it.
						</dd>
						<dt>
							What a mess&hellip;! It seems to be tangled. How can I clarify?
						</dt>
						<dd>
							Keep calm. It has several options:
							<ol>
								<li>In the Help menu a pop-up window with general application information options is displayed; 
								specific help is shown with each menu and/or submenu, but the general one remains unchanged. 
								It has the following possibilities:
								<ol>
									<li>Menu tree. Shows hierarchically alternatives and operations of menus and submenus.</li>
									<li>Frequently asked questions (FAQs)) and corresponding answers. In constant expansion and adjustment 
									according to the needs of the users.</li>
									<li>Operative. A flow chart very easy to understand with the basic principles of operation.</li>
									<li>How to&hellip;? A section dedicated to that of "if I wish to perform X 
									the steps to follow are &hellip;".</li>
								</ol></li>
								<li><em>Documents</em> menu has a complete <em>manual</em>.</li>
								<li>As stated, in each individual operation there is a specific help.</li>
							</ol>
							In general, we do not believe you should feel unassisted. But if so, 
							you have the <a href="#legal">contact</a> page to communicate as you prefer with the PF development team. 
							It is our duty and pleasure.
						</dd>
					</dl>
				</div>	
				<div id="step4" class="stabcontent hide">
					<h2 id="title-screencasts">Screencasts</h2>					
					<div class="group group-xs margin-bottom-l">
						<ul>
							<li>
								<select class="xtabs font-size-xl" id="videoselector">
									<option value="SC01.mp4">Working interface</option>
									<option value="SC02.mp4">Data load and update</option>
									<option value="SC03.mp4">Filtering and listing</option>
									<option value="SC04.mp4">Single record</option>
									<option value="SC05.mp4">Stats</option>
									<option value="SC06.mp4">Networks</option>
								</select>
								<p class="form-message">NOTICE: videos have not soundtrack.</p>
							</li>
						</ul>
					</div>
					
					<video id="videoplayer" width="100%" height="auto" controls 
						poster="https://hdplus.es/pathfinder/assets/img/logos/scposter.svg">
						<source 
						src="./assets/video/SC01.mp4" 
						type="video/mp4">
						<source 
						src="./assets/video/SC01.webm" 
						type="video/webm">
						<source 
						src="./assets/video/SC01.obv" 
						type="video/ogg">
					</video>
				</div>
			</div>
		</div>
	</section>
</main>
