<h4 class="margin-top margin-bottom" id="help-title">ZONA B: INDICADOR DE ESTADO</h2>

<p>
	Muestra la situación de PF en cada momento. Dependiendo de las circunstancias 
	(archivo de datos cargado o no) puede exhibir unas informaciones u otras. 
	De izquierda a derecha comprende los siguientes elementos:
</p>
<ol>
	<li>Marcador “···”. Abre una ventana emergente que muestra el estado de carga de las librerías 
	(bibliotecas de código) pertinentes en cada caso, y depende de qué opción de menú se haya 
	seleccionado mostrará unas u otras cargadas o no. El grueso de librerías cargadas corresponde 
	a la opción 4 del MENÚ PRINCIPAL (Datos).</li>
	<li>Cronómetro. Muestra la duración en segundos de la operación de base de datos (BD) 
	más reciente. Antes de cargar BD no muestra nada. Cuando se carga el archivo de datos muestra 
	el tiempo total de preparación. En un ordenador normal (+4GiB RAM, Intel Core +i3), y según 
	los ajustes seleccionados (ver ZONA G) oscilará entre 20s y 45s para un archivo de datos de 
	alrededor de 150 MiB (unos 65.000 registros principales).</li>
	<li>Memoria principal usada por BD. En MiB. Según los ajustes seleccionados (ver ZONA G) oscilará 
	entre 83MiB y 218MiB para un archivo de datos de alrededor de 150 MiB 
	(unos 65.000 registros principales).</li>
	<li>Información sobre el filtro. Muestra un micrográfico de tarta con el total de registros de 
	BD y el porcentaje filtrado. Es un enlace, y al pulsar sobre él se muestra una ventana emergente 
	con información sobre el filtro (registros filtrados por tipo) más enlaces directos a los 
	procesos de filtro y búsqueda.</li>
</ol>
