<h4 class="margin-top margin-bottom" id="help-title">ZONA G: AJUSTES, INFORMACIÓN LEGAL E IMPRESIÓN</h2>

<p>
	Concentra esas tres operaciones.
</p>
<ol>
	<li>Ajustes. La pantalla se subdivide en dos columnas:
		<ol>
			<li>A la izquierda se muestra información genérica de requisitos, cumplimiento 
			de los mismos por parte del navegador (muchos de ellos no pueden ser detectados, como 
			la memoria RAM o el microprocesador por razones de seguridad), estado de la memoria 
			y velocidad de procesamiento calculada para cada dispositivo.</li>
			<li>A la derecha se muestran los parámetros que configuran el comportamiento de 
			PATHFINDER. Al pulsar sobre un valor se selecciona, y el que actualmente está 
			vigente aparece resaltado. Consulte su significado en 
			<a href="javascript:toolkit.generictab('stab1', 'step1', 'stabcontent', 'stablinks');">Ajustes</a>.</li>
		</ol>
	</li>
	<li>Legal. Muestra una pantalla con tres opciones:
		<ol>
			<li>Contacto. Indica la dirección para contactar con el soporte PATHFINDER, así como las 
			direcciones IP y física detectadas del dispositivo de acceso y el estado de carga de BD.</li>
			<li>Normativa. Información legal sobre sujeción a normativas, <em>cookies</em> y 
			derechos de copia.</li>
			<li>Licencias. Tanto la propia de PATHFINDER como las de los elementos utilizados en 
			bibliotecas de código.</li>
		</ol>
	</li>
	<li>Imprimir. Como se ha mencionado solamente se imprime la zona E.</li>
</ol>
