<style>
.fakeactive {
	border-left: .25em solid #6a81a2;
	padding-left: .75em;
	padding-right: .75em;
	background-color: #d9dbe0;
	font-weight: 800;
}
</style>
<div class="margin-bottom-l">
	<h4 class="margin-vertical" id="titlestep100">A: MAIN MENU.</h4>
	
	<dl>
		<dt class="color-primary">
			Data
		</dt>
		<dd>
			Groups the main operations of PF. It manages:
			<ul>
				<li>
					Download of data files in  
					<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> 
					format from  
					<a rel="noopener" href="http://expofinder.uma.es" target="_blank">ExpoFinder</a> data server.
				</li>
				<li>
					Load of working database from a  
					<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a>-formatted 
					file downloaded from  
					<a rel="noopener" href="http://expofinder.uma.es" target="_blank">ExpoFinder</a> data server.
				</li>
				<li>
					Loaded and filtered data export.
				</li>
				<li>
					Activation of predefined filters or <em>collections</em>, to work with 
					a data subset.
				</li>
				<li>
					Generation of reports based on filtered primary records, including, or not, metainfo and related ones.
				</li>
			</ul>
		</dd>
		<dt class="color-primary">
			Options
		</dt>
		<dd>
			They allow to regulate the behavior of PF and adjust certain parameters of its operation.
		</dd>
		<dt class="color-primary">
			Documents
		</dt>
		<dd>
			Access to texts detailing the structure and functional principles of PF, the institutions 
			involved in its development, the projects making use of its functionality and the operating manual.
		</dd>
		<dt class="color-primary">
			Help
		</dt>
		<dd>
			Pop-up window with relevant information for managing FP.
		</dd>		
	</dl>
	
	<h4 class="margin-vertical" id="titlestep101">B: FILTER STATUS.</h4>
	
	<p>
		While no database is loaded ( 
		<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> file) 
		it shows the message 
		<mark class="background-error-50">No data</mark>. When loaded, filter is set up as  
		the wholedata set (it means, there are no subsets). 
		From then on, it will show the set and subset sizes as follows: 
		<mark class="background-success-50">
		<span class="color-success">[subset]</span> / 
		<span class="color-error">[set]</span> ([percent])</mark>. It shows a 
		<em>pie microchart</em> too, drawing the proportional sizes.
	</p>
	<p>
		By clicking on this area  it opens a pop-up window showing the status of the filter by type of primary record 
		(or a warning message if a database has not been loaded).
	</p>
	
	<h4 class="margin-vertical" id="titlestep102">C: SUBMENU.</h4>
	
	<p>
		When any main menu item is clicked (A zone) PF shows  
		<span class="fakeactive">highlighted</span> the item title and  
		<mark class="background-light-100">appropriate options</mark>, if necessary.
	</p>
	
	<h4 class="margin-vertical" id="titlestep102">D: OPERATIONS.</h4>
	
	<p>
		The mos important zone. 
		Any possible PF operation will have in the central area of the screen (this zone) 
		the necessary elements to carry it out and configure it.
	</p>
	
	<h4 class="margin-vertical" id="titlestep102">E: FOOTER.</h4>
	
	<p>
		Groups info about PATHFINDER status. Top to bottom they are as follows:
		<ul>
			<li>
				Upper line.
				<ul>
					<li>
						Application name, version and date. Clicking on it displays a pop-up window to expand those data.
					</li>
					<li>
						Reference links (HD+, DOI, Github, iArtHis_LAB) and copyright.
					</li>
				</ul>
			</li>
			<li>
				Lower line.
				<ul>
					<li>
						Language change.
					</li>
					<li>
						Page for <a href="#legal">contact ans legal info</a>.
					</li>
					<li>
						Chromatic PF legend.
					</li>
					<li>
						Code libraries used in PF and load status of them.
					</li>
					<li>
						Print and reload page.
					</li>
					<li>
						Time spent in the most recent database operation, memory used by the 
						app and maximum available to browser.
					</li>
				</ul>
			</li>
		</ul>
	</p>

	<h4 class="margin-vertical" id="titlestep102">F: SEARCH.</h4>
	
	<p>
		When a database is loaded, PF allows make a search from here along <em>all <a href="#documents">primary records</a></em> 
		dataset, looking for the whole or part of title. Case and diacritic insensitive. 
		Shows a list with results. Clicking on any of them its single records screen will be shown.
	</p>

</div>
