<div class="margin-bottom-l">
	<p class="aside background-info color-white">
		IMPORTANT: in the list, PATHFINDER always shows the <a href="#documents">primary records</a> 
		selected by the active filter. Keep it in mind if the desired data does not appear and rectify 
		the filter accordingly.
	</p>
	
	<h4 class="margin-vertical" id="titlestep100">1. SEARCH & NAVIGATION.</h4>
	
	<p>
		Top area of the table allowing to scroll through the dataset using a slider or page by page. 
		It also allows you to export data in 
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a> 
		format, print the table and perform filtered searches on it.
	</p>
	<p>
		When PF shows a table ase result of an analytical operation, 
		elementary descriptive statistics data is presented on this area, 
		as well as information on <a rel="nofollow" target="_blank" href="https://en.wikipedia .org/wiki/Outlier ">outliers</a>, 
		very important in the process of discovering new knowledge carried out by PF.
	</p>
	
	<h4 class="margin-vertical" id="titlestep101">2. TABLE.</h4>
	
	<p>
		Ordered list of filtered data. You can alter the order of presentation by pressing alternatively 
		on the heading of each column (it will change from least to greatest, A &rarr; Z, and vice versa).
	</p>
	
	<h4 class="margin-vertical" id="titlestep102">3. SINGLE RECORD.</h4>
	
	<p>
		Clicking on a <a href="#documents">primary record</a> title, PF will show the appropriate single 
		record screen.
	</p>
</div>
