<div class="margin-bottom-l">
	<h4 class="margin-vertical" id="titlestep100">1. DATA UPDATE.</h4>
	
	<p>
		Download of 
		<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> file 
		from data server. Each file is a "snapshot" of 
		<a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a> database status 
		at one point.
	</p>
	<p>
		File is stored in the client local disk, encrypted using a one-time read-only
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Personal_identification_number">PIN</a> 
		supplied by PF. It is strongly advised to keep it, because in case of forgetfulness 
		or loss the file cannot be decoded.
	</p>	
	<p>
		This system allows successive "images" of 
		<a rel="nofollow" target="_blank" href="http://expofinder.uma.es">ExpoFinder</a> data to be stored and,  
		therefore, make comparisons between.
	</p>
	
	<h4 class="margin-vertical" id="titlestep101">2. LOAD FILE.</h4>
	
	<p>
		PATHFINDER will load in memory the 
		<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> file 
		stored in any local disk. PF will ask for the 
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Personal_identification_number">PIN</a> 
		to decrypt it before loading.
	</p>
	
	<h4 class="margin-vertical" id="titlestep102">3. INFO.</h4>
	
	<p class="aside background-warning-50">
		Shown only if a  
		<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> file 
		is loaded in memory.
	</p>

	<p>
		PF shows a pop-up window with specific data of the uploaded file, 
		including the breakdown (in absolute figures and percentage) of each <a href="#documents">primary record</a>, 
		as well as <a href="#documents">taxonomies</a> and <a href="#documents">metadata</a>.
	</p>
	
	<h4 class="margin-vertical" id="titlestep103">4. DATA EXPORT.</h4>
	
	<p class="aside background-warning-50">
		Shown only if a  
		<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> file 
		is loaded in memory.
	</p>

	<p>
		Using filtered data, PF will build a file, downloadable in local disk, in one  
		format ready to be read by other apps: 
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Tab-separated_values">TSV</a>, 
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a> or 
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/XML">XML</a>. 
		DAta will be exported in separate groups: <a href="#documents">primary records</a>, 
		<a href="#documents">taxonomies</a> and <a href="#documents">metadata</a>.
	</p>
	<p>
		<mark class="background-info-100">REMEMBER</mark>: only 
		<a href="#documents">filtered</a> data will be exported.
	</p>
	
	<h4 class="margin-vertical" id="titlestep104">5. COLLECTIONS.</h4>
	
	<p class="aside background-warning-50">
		Shown only if a  
		<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> file 
		is loaded in memory.
	</p>

	<p>
		It allows to use <em>predefinited filters</em>, stored at app server, 
		to narrow out the main dataset through a group of conditions. If active, 
		the name of the collection will be shown under data pages title.
	</p>
	
	<h4 class="margin-vertical" id="titlestep105">6. INFORMES.</h4>
	
	<p class="aside background-warning-50">
		Shown only if a  
		<a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JSON">JSON</a> file 
		is loaded in memory.
	</p>

	<p>
		Similar to export operation, but including, at will, relations for each primary record.  
		Formats used are  
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Tab-separated_values">TSV</a> and 
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Rich_Text_Format">RTF</a>. 
		In the latter case, and given the complex nature of such files, 
		the operation can take considerable time.
	</p>

	<h4 class="margin-vertical" id="titlestep106">7. FILTER.</h4>
	
	<p>
		As stated in mathematical paradigm of 
		<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Filter_(mathematics)">filter</a>, 
		PF allows to select a <em>subset</em> of the database to deal with. Thereafter all operations 
		made will only affect the aforementioned subset. Read 
		<a href="#documents">docs</a> to know more about.
	</p>
	
	<p class="color-info">
		IMPORTANT: if no filter is set, subset is equal to full database set.
	</p>
	
	<h4 class="margin-vertical" id="titlestep107">8. LISTING.</h4>
	
	<p>
		PF shows all filtered records in a single paginated table exportable, sortable, printable and  
		searchable by any text present in it. Presents a one <a href="#documents">primary record</a> per row. 
		It allows to access to any single record screen.
	</p>
	
	<h4 class="margin-vertical" id="titlestep108">9. ANALYSIS.</h4>
	
	<p>
		The functional and operational core of PATHFINDER. It controls all the operations of 
		generating new knowledge and discovering patterns from a triple approach analytical procedure: 
	</p>
	<ul>
		<li>
			Statistical: it applies methods of descriptive statistics and identification 
			of anomalies from the quantification of qualitative data.
		</li>
		<li>
			Graphic: draw diagrams, histograms and graphs based on quantified data.
		</li>
		<li>
			Geographic: it shows dispersion or concentration in global maps 
			and performs Boolean operations on geometric paths.
		</li>
	</ul>
</div>
