<div class="margin-bottom-l">
	<h4 class="margin-vertical" id="titlestep100">1. RELATIONAL ANALYSIS.</h4>
	<p>
		The different analytical procedures appliables to an individual register are shown in a drop-down menu.
		<ul>
			<li>
				Chronogram, geogram and taxogram. They generate graphs comparing the frequencies 
				of each aspect (temporal or chronological values, geographical values and taxonomies) 
				corresponding to the analyzed record. It is possible to apply them to different facets 
				of the same value; for example, year, month or day in the case of dates. 
				They are line charts and, in the case of the taxogram, also radar chart.
			</li>
			<li>
				Network. It generates a graph of the relations of the registry with others, 
				differentiating the links by means of the appropriate 
				<a href="javascript:info.help('colorscode');">color code</a>. 
				It is possible to show the graph using different layouts 
				(digraph, circular digraph, <em>sankey</em>,&hellip;).
			</li>
			<li>
				Statistics. It shows a table with the frequency data for each feature 
				of the analyzed record.
			</li>
			<li>
				Map. It presents the geographical location (if available) of the analyzed record, 
				as well as of its "neighborhood" (records with which it relates), in the form 
				of <em>clusters</em> or heatmap. It also represents the relational flows for the record.
			</li>
		</ul>
	</p>
	
	<h4 class="margin-vertical" id="titlestep101">2. RECORD DATA.</h4>
	
	<p>
		Record features and its organized and ordered links. Relationships with other primary records 
		are presented grouped by type of record and relational field. 
		Each of them, when pressed, shows the corresponding record, 
		thus building a "chain" that can be traversed forward (next relationship) or backward 
		to the original record. 
	</p>
</div>
