<h4 id="help-subtitle">Legend of the table. Special columns</h4>

<p>
	In PATHFINDER, the tables showing the result of operations with data, 
	such as those of <em>Groups</em> and <em>Correlationss</em>, 
	they have columns added to the requested information to complement it.
</p>

<div class="table-responsive">
	<table class="mq-table pure-table-bordered pure-table">
		<tbody>
			<tr>
				<td class="text-align-center"><strong>Z</strong></td>
				<td>
					Relevance of a row according to the <em>normalized value</em> or 
					<em>z-score</em> of its frequency. For more information about the normalized value or 
					<em>standard score</em>, 
					<a target="_blank" rel="nofollow" 
					href="https://en.wikipedia.org/wiki/Standard_score">click here</a>.
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>O</strong></td>
				<td>
					The row's frequency is a <em>significant value</em> or <em>outlier</em>. 
					For more info about significant or <em>outlier</em> values, 
					<a target="_blank" rel="nofollow" 
					href="https://en.wikipedia.org/wiki/Outlier">click here</a>.
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>L</strong></td>
				<td>
					The row frequency is <em>above</em> [<strong>&uarr;</strong>], 
					<em>below</em> [<strong>&darr;</strong>] 
					or <em>is equal</em> [<strong>↕</strong>] 
					to the <em>arithmetic mean</em> (average) of the total frequencies.
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>S</strong></td>
				<td>
					The row frequency is described by a <em>color</em> in the <em>color scale</em> 
					selected in the <a href="#settings">Settings</a>.
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>Count</strong></td>
				<td>
					The frequency of the row represents the number of times a value appears 
					in a given query. It is the <em>amount</em> of values that share a 
					certain group of features.
				</td>
			</tr>
		</tbody>
	</table>
</div>

<h4 id="help-subtitle">Legend of the table. Descriptive statistics</h4>

<p>
	In PATHFINDER, the <em>Statistics</em> section within operations with data shows 
	a selection of statistical values that can help to better understand the distribution 
	conditions of the analyzed sample. The abbreviations of the tables 
	used correspond to the elements below.
</p>
<p>
	For more information on the parameters contemplated in the statistical 
	analysis, see the <a href="#documents">documentation</a>.
</p>
<div class="table-responsive">
	<table class="mq-table pure-table-bordered pure-table">
		<tbody>
			<tr>
				<td class="text-align-center"><strong>FLD</strong></td>
				<td>
					Field to which the data refers.
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>TYP</strong></td>
				<td>
					Field content type: numeric, text string, date,&hellip;
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>FRQ</strong></td>
				<td>
					Indicators concerning the frequency of the data.
					<ul>
						<li><strong>VAL</strong>: total values (number of total rows retrieved).</li>
						<li><strong>DST</strong>: different values (number of rows with non-repeated values).</li>
						<li><strong>MIS</strong>: missing values (number of rows that do not contain a value).</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>RNG</strong></td>
				<td>
					Indicators regarding the range of values covered by the data.
					<ul>
						<li><strong>MIN</strong>: minimum value.</li>
						<li><strong>DST</strong>: maximum value.</li>
						<li><strong>(N)</strong>: total range between the minimum and maximum value.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>AVG</strong></td>
				<td>
					Indicators concerning the representative values of the central tendency in the dataset.
					<ul>
						<li><strong>MEA</strong>: arithmetic mean.</li>
						<li><strong>MED</strong>: median.</li>
						<li><strong>STD</strong>: standard deviation.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>QRT</strong></td>
				<td>
					Indicators referring to the extremes determining the presence of significant values.
					<ul>
						<li><strong>Q1</strong>: first quartile limit.</li>
						<li><strong>Q3</strong>: third quartile limit.</li>
						<li><strong>MSK</strong>: mode asymmetry.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>Entropy</strong></td>
				<td>
					Reference of interest when judging the importance and significance 
					of the data contained in a field. Check the <a href="#documents">documentation</a>.
				</td>
			</tr>
			<tr>
				<td class="text-align-center"><strong>D</strong> y <strong>J</strong></td>
				<td>
					Mutual distance and Jaccard index. They measure the degree of affinity or similarity 
					between the frequencies for a given field. 
					See the <a href="#documents">documentation</a> about it.
				</td>
			</tr>
		</tbody>
	</table>
</div>